@charset "UTF-8";
/*common*/
table {
    border-collapse: collapse;
    table-layout: fixed;
}

body, div, dl, dt, dd, ul, ol, li,  pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, img {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    font-style: normal;
    color: #333;
    word-break: break-all
}

body {
    font-family: "Microsoft YaHei";
    position: relative;
    background: none
}

body, input, select, textarea, button {
    font-size: 12px;
    line-height: 1
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

a {
    text-decoration: none;
}

fieldset, img, abbr, acronym {
    border: 0 none;
}

img {
    vertical-align: top;
}

abbr, acronym {
    font-variant: normal;
}

blockquote, q {
    quotes: none
}

dl, ul, ol, menu, li {
    list-style: none
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* 输入控件字体 */
input, select, textarea, button {
    vertical-align: middle;
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
    padding: 5px;
}

input[type="button"] {
    cursor: pointer;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



table {
    table-layout: fixed;
    border-collapse: collapse;
}

a:focus {
    outline: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

.hide {
    display: none;
}

.pb0 {
    padding-bottom: 0 !important;
}

.table_demo {
    width: 80%;
    margin: 0 auto;
}

.table_demo > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 20px;
}

.table_demo > tbody {
    padding: 10px;
    border: 1px solid #ddd;
}

/* clearfix */
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.clear {
    clear: both;
}

/* public.omission */
.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}


.pr {
    position: relative;
}

.pa {
    position: absolute
}

.nobod {
    border: 0 !important
}

.w330 {
    width: 330px !important;
}

.w270 {
    width: 270px !important;
}

.w500 {
    width: 500px;
}

.h300 {
    height: 300px;
}

.h231 {
    height: 231px
}

.h154 {
    height: 160px
}

/*margin start*/
/*m-left*/
.ml10 {
    margin-left: 10px;
}

/*m-right*/
.mr10 {
    margin-right: 10px;
}

.mr30 {
    margin-right: 30px;
}

.mr0 {
    margin-right: 0 !important;
}

/*m-top*/
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt24 {
    margin-top: 24px !important
}

.mt40 {
    margin-top: 40px;
}

.mt12 {
    margin-top: 12px;
}

.mt30 {
    margin-top: 30px;
}

.mt19 {
    margin-top: 19px;
}

.mt50 {
    margin-top: 50px;
}

/*m-bottom*/
.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

/*margin over*/
.ov {
    overflow: hidden;
}

/*底部footer*/
.footer_warp {
    width: 100%;
    height: 135px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    min-width: 1200px;
}

.footer {
    height: 134px;
    width: 1200px;
    margin: 0 auto
}

.w1080 {
    width: 1080px
}

.link li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
    border-right: 1px solid #999;
    font-size: 12px;
    margin-left: 12px
}

.link li.nobod {
    border: none
}

.link li.nomargin {
    margin: 0
}

.link li a {
    display: inline-block;
    color: #999;
    text-decoration: none
}

.link li a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: #999;
    margin-top: 30px
}

.footer > .fr a {
    width: 118px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    color: #666;
    display: block;
    text-decoration: none;
    text-align: center
}

.footer > .fr a:hover {
    background: #ffe8dd;
    border-color: #ff6600;
    color: #ff6600;
}

.w120 {
    width: 120px
}

.ml0 {
    margin-left: 0 !important
}

.br0 {
    border-right: 0 !important
}

/*面包屑*/
.crumb {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 10px;
    clear: both;
}

.crumb li {
    height: 32px;
    line-height: 32px;
    float: left;
    background: url(../images/crumb.png) no-repeat right center;
    color: #f60;
    padding: 0 10px;
    font-size: 14px
}

.crumb li a {
    color: #666;
    text-decoration: none
}

.crumb_home {
    background: url(../images/crumb_home.png) no-repeat 0 center;
    padding-left: 16px
}

.crumb li.crumb_cur {
    background: 0 0;
    font-weight: bold
}

/*buttons start*/
.btn_solid, .btn_border {
    cursor: pointer;
    font-size: 13px;;
    width: 120px;
    height: 36px;
    box-sizing: border-box;
    line-height: 36px;
    text-align: center;
    float: left;
    letter-spacing: 2px;
    text-indent: -2px;
}

.btn_solid {
    color: #fff;
    background-color: #ff6600;
}

.btn_solid:hover {
    background-color: #f68e5c;
}

.btn_border {
    color: #ff6600;
    border: 1px solid #ff6600;
}

.bcf {
    background: #fff;
}

.btn_border:hover {
    background-color: #ffe8dd;
}

.btn_solid.btn_press {
    background-color: #e65f1d;
}

.w270 {
    width: 270px;
}

/*buttons over*/
@charset "UTF-8";
.window_P {
    width: 980px;
    height: 690px;
    background: #fff;
    box-shadow: 0 0 20px #ddd; /*position:fixed;left:50%;top:50%;margin-top:-218px;margin-left:-365px;*/
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 20px auto 0 auto;
    overflow: hidden;
}
.bar{
  height: 50px;
  background-color: #4ab0f9;
  background: linear-gradient(to right,#abdcff,#43adf9);
  position: relative;
}
.close-window{
    position: absolute;
    right: 15px;
    top: 18px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../images/close.svg');
    transition: 0.5s ease-out;
    cursor: pointer;
    background-size: 50%;
    background-position: center center;
}
.close-window:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
.windowL_P {
    width: 187px;
    border-right: 1px solid #f6f6f6;
    height: 640px;
}

.windowL_P.left-border{
  border-right: none;
  border-left: 1px solid #f6f6f6;
  background-color: #f6f7f9;
  width: 164px;
}
.windowL_P > dd {
    height: calc(100% - 42px);
    overflow: hidden
}

.windowL_P > dt, .windowR_P > dt {
    width: 100%;
    height: 42px;
    /* border-bottom: 1px solid #dddddd; */
    position: relative;
}
.chat-title{
  background-color: #fafafa;
}
.chat-title span{
  font-size: 14px !important;
}
.chat-title span.number{
  color: #7d7f81 !important;
  padding-left: 10px !important;
}
.windowL_P > dt > span, .windowR_P > dt > span {
    display: inline-block;
    /* width: 100%; */
    height: 42px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 18px;
    color: #232328;
    line-height: 42px;
}

.windowL_P li {
    min-height: 32px;
    position: relative;
    cursor: pointer;
    line-height: 32px;
}

.windowL_P li.talkGroup_P:hover {
    background-color: #f5f5f5
}

.windowL_P li img {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 20px;
    top: 16px;
}

.windowL_P .talkGroup_P {
    width: 100%;
    box-sizing: border-box;
    padding-left: 66px;
    height: 65px;
    font-size: 14px;
    color: #333333;
    line-height: 65px;
}

.windowL_P .talkGroup_P.on_P, .windowL_P .group li.on_P {
    background-color: #f0f0f0
}

.windowL_P .group p {
    height: 32px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    background: url("../images/leftsan.png") no-repeat 13px center
}

.windowL_P .group-user{
  padding-left: 10px;
  background: none;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #777777;
}

.windowL_P .group p.slid_P {
    background: url("../images/groupsan.png") no-repeat 10px center
}

.windowL_P .group p:hover {
    background-color: #f5f5f5
}

.windowL_P .group li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 0 45px;
}

.windowL_P .group li {
    height: 45px;
    line-height: 45px;
}

.windowL_P.left-border .group li {
    height: 40px;
    line-height: 40px;
}

.windowL_P.left-border .group li img {
    top: 10px;
    left:12px;
    width:20px;
    height: 20px;
}

.windowL_P .group li img {
    top: 10px
}

.windowL_P .group li:hover {
    background-color: #f5f5f5
}

.online_P {
    background: url("../images/online.png") no-repeat 175px center
}

.windowL_P .group li span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}



.pl15 {
    padding-left: 15px;
}

.cur_P {
    padding-left: 15px;
}

.windowR_P {
    width: 627px;
    height: 640px;
}

.window_P .windowR_P > dt {
    width: 100%;
    box-sizing: border-box;
    padding-right: 38px;
    position: relative;
    height: 41px;
}

.closeBtn_P {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/close_icon.png") no-repeat center center;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

.talkCon_P {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 12px 0px 12px;
    height: 408px;
    overflow: hidden;
    border-bottom: 2px solid #f6f6f6;
}

.talkCon_P .otherAsk_P, .talkCon_P .myAsk_P {
    margin-bottom: 18px
}

.otherAsk_P > a {
    display: inline-block;
    float: left
}

.otherAsk_P > a > img, .myAsk_P > a > img {
    width: 24px;
    height: 24px;
}

.otherAsk_P > dl {
    float: left;
    width: 445px;
    box-sizing: border-box;
    padding-left: 10px
}

.otherAsk_P > dl > dt, .myAsk_P > dl > dt {
    font-size: 14px;
    height: 16px;
    color: #9fa8c5;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
}

.otherAsk_P > dl > dd > span, .myAsk_P > dl > dd > span {
    font-size: 13px;
    color: #0a0a0a;
    background: #f3f3f3;
    line-height: 24px;
    padding: 5px 10px 5px 12px;
    display: inline-block;
    max-width: 400px;
    white-space: normal;
    text-align: left;
    border-radius: 3px;
    position: relative;
    word-wrap: break-word;
    word-break: normal;
}

.otherAsk_P > dl > dd > span:after {
    content:' ';
    width:8px;
    height:12px;
    background-image: url('../images/corner-gray.svg');
    background-size: contain;
    position: absolute;
    top:5px;
    left:-7px;
    background-repeat: no-repeat;
}
.history-time{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}
.history-item{
    margin-bottom: 40px;
}
.myAsk_P > a {
    display: inline-block;
    float: right
}

.myAsk_P > dl {
    float: right;
    width: 445px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right
}

.talkCon_P .myAsk_P > dl > dd > span {
    background: #def3fd;
    color: #0a0a0a;
    top:10px;
    right:5px;
}
.talkCon_P .myAsk_P > dl > dd > span:after{
    content:' ';
    width:8px;
    height:12px;
    background-image: url('../images/corner-blue.svg');
    background-size: contain;
    position: absolute;
    top:5px;
    right:-7px;
    background-repeat: no-repeat;
}
.talkCon_P .myAsk_P > a {
    padding-top: 5px;
}

.funList_PJY {
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #fdfdfd;
    position: relative;
}

.funList_PJY a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 20px;
}

.mood_P {
    background: url("../images/mood.png") no-repeat center center
}

.history_P {
    background: url("../images/history.svg") no-repeat center center
}
.history_P.active,.history_P:hover {
    background: url("../images/history-blue.svg") no-repeat center center
}

.face_P {
    background: url("../images/face.svg") no-repeat center center
}

.face_P.active,.face_P:hover {
    background: url("../images/face-blue.svg") no-repeat center center
}

.tips_P {
    background: url("../images/tips.svg") no-repeat center center
}
.tips_P.active,.tips_P:hover {
    background: url("../images/tips-blue.svg") no-repeat center center
}

.textWin_P > div {
    width: 100%;
    line-height: 20px;
    padding: 0px 15px 5px 15px;
    box-sizing: border-box
}

.btnList_P {
    width: 100%;
    padding-right: 12px;
    box-sizing: border-box;
    text-align: right
}

.send_P {
    display: inline-block;
    width: 90px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #56b5ef;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.send_P:hover {
    background-color: #359fe0
    ;
}
.send_P.close{
  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  color: #a1a0a0;

}
.send_P.close:hover{
    background-color: #f9f9f9;
}

.hisList_P {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    height: 565px;
    overflow: hidden;
    position: relative;
}

.hisList_P dl {
    margin-bottom: 10px;
    width:90%;
}

.hisList_P dt {
    font-size: 13px;
    width: 460px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px
}

.hisList_P .blue_P {
    color: #3075fb
}

.hisList_P .org_P {
    color: #7265e6
}

.hisList_P dd {
    width: 100%;
    line-height: 20px;
    font-size: 13px;
}
.hisList_P dd>div{
    word-wrap: break-word;
    word-break: normal;
    line-height: 20px;
}
.pageList_P > a {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-left: 10px;
}

.first_P {
    background: url("../images/first_his.png") no-repeat center center
}

.prev_P {
    background: url("../images/prev_his.png") no-repeat center center
}

.next_P {
    background: url("../images/next_his.png") no-repeat center center
}

.last_P {
    background: url("../images/last_his.png") no-repeat center center
}

.first_P.disabled_P {
    background: url("../images/firstdis_his.png") no-repeat center center
}

.prev_P.disabled_P {
    background: url("../images/prevdis_his.png") no-repeat center center
}

.next_P.disabled_P {
    background: url("../images/nextdis_his.png") no-repeat center center
}

.last_P.disabled_P {
    background: url("../images/lastdis_his.png") no-repeat center center
}

.hisFoot_P {
    height: 30px;
    border-top: 1px solid #f6f6f6;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 10px
}

.pageList_P {
    float: right
}

.timeBox_P {
    float: right
}

.timeBox_P a {
    display: inline-block;
    width: 100px;
    box-sizing: border-box;
    height: 15px;
    padding-left: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 15px;
}



.moodList_P {
    width: 240px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 10px;
    position: absolute;
    top: -64px;
    left: -30px;
}

.moodList_P > li {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}

.moodList_P > li > img {
    width: 18px;
    height: 18px;
}

.windowR_P.left2_P {
    display: none
}

.window_P .mCSB_scrollTools {
    width: 7px;
}

.return_P {
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-bottom: -1px;
    background: url("../images/return.svg") no-repeat center center;
    transition: 100ms;
}

.return_P:hover {
    transform: translateX(-3px)
}

/*******通讯录遮罩层*******/
.downLine_P {
    position: relative
}

.downLine_P span {
    color: #bbb
}

.shadow_P {
    display: inline-block;
    position: absolute;
    top: 9px;
    border-radius: 12px;
    left: 10px;
    width: 24px;
    height: 24px;
    background: #f0f0f0;
    opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    z-index: 999
}

.talkCon_P .myAsk_P > dl > dd > span p {
    color: #fff;
    font-size: 13px;
    line-height: 24px
}

.titleSty2_P {
    display: inline-block;
    max-width: 121px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    box-sizing: border-box;
}
.mytext_P, .textarea-clone{
    padding: 0 10px;
	line-height:25px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    width:100%;
}
.mytext_P{
    height:80px; 
	resize:none; 
	overflow:hidden; 
	outline:none;
	margin: 0;
	border:none;
	background:transparent;
    box-shadow: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}
.textarea-wrapper{
	height:102px; 
    overflow:hidden;
    position: relative;
}
.textarea-clone{
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	visibility:hidden; 
	min-height: 80px; 
	word-wrap: break-word;
	white-space: pre-wrap;
}
.chat-time{
    color:#9fa8c5;
    text-align: center;
    margin:5px 0px;
    font-size: 12px;
}
.history-me{
    color:#8a8a8a !important;
}
.emoji-container{
    overflow:hidden;
}
.emoji_face{
    width:348px;
    margin-right:-1px;
    overflow:hidden;
}
.emoji_face a{
    width:29px;
    height:29px;
    float: left;
    background-repeat: no-repeat;
    background-image: url('../images/emoji-total.png');
    font-size: 0;
    text-indent: -999em;
    /* border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0; */
    cursor: pointer;
    outline:0px;
}
.emoji_face a.no-bottom-border{
    border-bottom: none;
}
span.emoji-span{
    width:26px;
    height:26px;
    display:inline-block;
    background-repeat: no-repeat;
    background-image: url('../images/emoji-total.png');
    font-size: 0;
    text-indent: -999em;
    cursor: pointer;
    margin-bottom:-5px; 
    outline:0px;
}

.emoji_face a:hover{
    background-color: #eee;
}

.emoji-span.emoji0,.emoji_face .emoji0 {
    background-position: 2px 2px;
  }
  
  .emoji-span.emoji1,.emoji_face .emoji1 {
    background-position: -30px 2px;
  }
  
  .emoji-span.emoji2,.emoji_face .emoji2 {
    background-position: -62px 2px;
  }
  
  .emoji-span.emoji3,.emoji_face .emoji3 {
    background-position: -94px 2px;
  }
  
  .emoji-span.emoji4,.emoji_face .emoji4 {
    background-position: -126px 2px;
  }
  
  .emoji-span.emoji5,.emoji_face .emoji5 {
    background-position: -158px 2px;
  }
  
  .emoji-span.emoji6,.emoji_face .emoji6 {
    background-position: -190px 2px;
  }
  
  .emoji-span.emoji7,.emoji_face .emoji7 {
    background-position: -222px 2px;
  }
  
  .emoji-span.emoji8,.emoji_face .emoji8 {
    background-position: -254px 2px;
  }
  
  .emoji-span.emoji9,.emoji_face .emoji9 {
    background-position: -286px 2px;
  }
  
  .emoji-span.emoji10,.emoji_face .emoji10 {
    background-position: -318px 2px;
  }
  
  .emoji-span.emoji11,.emoji_face .emoji11 {
    background-position: -350px 2px;
  }
  
  .emoji-span.emoji12,.emoji_face .emoji12 {
    background-position: -382px 2px;
  }
  
  .emoji-span.emoji13,.emoji_face .emoji13 {
    background-position: -414px 2px;
  }
  
  .emoji-span.emoji14,.emoji_face .emoji14 {
    background-position: -446px 2px;
  }
  
  .emoji-span.emoji15,.emoji_face .emoji15 {
    background-position: 2px -30px;
  }
  
  .emoji-span.emoji16,.emoji_face .emoji16 {
    background-position: -30px -30px;
  }
  
  .emoji-span.emoji17,.emoji_face .emoji17 {
    background-position: -62px -30px;
  }
  
  .emoji-span.emoji18,.emoji_face .emoji18 {
    background-position: -94px -30px;
  }
  
  .emoji-span.emoji19,.emoji_face .emoji19 {
    background-position: -126px -30px;
  }
  
  .emoji-span.emoji20,.emoji_face .emoji20 {
    background-position: -158px -30px;
  }
  
  .emoji-span.emoji21,.emoji_face .emoji21 {
    background-position: -190px -30px;
  }
  
  .emoji-span.emoji22,.emoji_face .emoji22 {
    background-position: -222px -30px;
  }
  
  .emoji-span.emoji23,.emoji_face .emoji23 {
    background-position: -254px -30px;
  }
  
  .emoji-span.emoji24,.emoji_face .emoji24 {
    background-position: -286px -30px;
  }
  
  .emoji-span.emoji25,.emoji_face .emoji25 {
    background-position: -318px -30px;
  }
  
  .emoji-span.emoji26,.emoji_face .emoji26 {
    background-position: -350px -30px;
  }
  
  .emoji-span.emoji27,.emoji_face .emoji27 {
    background-position: -382px -30px;
  }
  
  .emoji-span.emoji28,.emoji_face .emoji28 {
    background-position: -414px -30px;
  }
  
  .emoji-span.emoji29,.emoji_face .emoji29 {
    background-position: -446px -30px;
  }
  
  .emoji-span.emoji30,.emoji_face .emoji30 {
    background-position: 2px -62px;
  }
  
  .emoji-span.emoji31,.emoji_face .emoji31 {
    background-position: -30px -62px;
  }
  
  .emoji-span.emoji32,.emoji_face .emoji32 {
    background-position: -62px -62px;
  }
  
  .emoji-span.emoji33,.emoji_face .emoji33 {
    background-position: -94px -62px;
  }
  
  .emoji-span.emoji34,.emoji_face .emoji34 {
    background-position: -126px -62px;
  }
  
  .emoji-span.emoji35,.emoji_face .emoji35 {
    background-position: -158px -62px;
  }
  
  .emoji-span.emoji36,.emoji_face .emoji36 {
    background-position: -190px -62px;
  }
  
  .emoji-span.emoji37,.emoji_face .emoji37 {
    background-position: -222px -62px;
  }
  
  .emoji-span.emoji38,.emoji_face .emoji38 {
    background-position: -254px -62px;
  }
  
  .emoji-span.emoji39,.emoji_face .emoji39 {
    background-position: -286px -62px;
  }
  
  .emoji-span.emoji40,.emoji_face .emoji40 {
    background-position: -318px -62px;
  }
  
  .emoji-span.emoji41,.emoji_face .emoji41 {
    background-position: -350px -62px;
  }
  
  .emoji-span.emoji42,.emoji_face .emoji42 {
    background-position: -382px -62px;
  }
  
  .emoji-span.emoji43,.emoji_face .emoji43 {
    background-position: -414px -62px;
  }
  
  .emoji-span.emoji44,.emoji_face .emoji44 {
    background-position: -446px -62px;
  }
  
  .emoji-span.emoji45,.emoji_face .emoji45 {
    background-position: 2px -94px;
  }
  
  .emoji-span.emoji46,.emoji_face .emoji46 {
    background-position: -30px -94px;
  }
  
  .emoji-span.emoji47,.emoji_face .emoji47 {
    background-position: -62px -94px;
  }
  
  .emoji-span.emoji48,.emoji_face .emoji48 {
    background-position: -94px -94px;
  }
  
  .emoji-span.emoji49,.emoji_face .emoji49 {
    background-position: -126px -94px;
  }
  
  .emoji-span.emoji50,.emoji_face .emoji50 {
    background-position: -158px -94px;
  }
  
  .emoji-span.emoji51,.emoji_face .emoji51 {
    background-position: -190px -94px;
  }
  
  .emoji-span.emoji52,.emoji_face .emoji52 {
    background-position: -222px -94px;
  }
  
  .emoji-span.emoji53,.emoji_face .emoji53 {
    background-position: -254px -94px;
  }
  
  .emoji-span.emoji54,.emoji_face .emoji54 {
    background-position: -286px -94px;
  }
  
  .emoji-span.emoji55,.emoji_face .emoji55 {
    background-position: -318px -94px;
  }
  
  .emoji-span.emoji56,.emoji_face .emoji56 {
    background-position: -350px -94px;
  }
  
  .emoji-span.emoji57,.emoji_face .emoji57 {
    background-position: -382px -94px;
  }
  
  .emoji-span.emoji58,.emoji_face .emoji58 {
    background-position: -414px -94px;
  }
  
  .emoji-span.emoji59,.emoji_face .emoji59 {
    background-position: -446px -94px;
  }
  
  .emoji-span.emoji60,.emoji_face .emoji60 {
    background-position: 2px -126px;
  }
  
  .emoji-span.emoji61,.emoji_face .emoji61 {
    background-position: -30px -126px;
  }
  
  .emoji-span.emoji62,.emoji_face .emoji62 {
    background-position: -62px -126px;
  }
  
  .emoji-span.emoji63,.emoji_face .emoji63 {
    background-position: -94px -126px;
  }
  
  .emoji-span.emoji64,.emoji_face .emoji64 {
    background-position: -126px -126px;
  }
  
  .emoji-span.emoji65,.emoji_face .emoji65 {
    background-position: -158px -126px;
  }
  
  .emoji-span.emoji66,.emoji_face .emoji66 {
    background-position: -190px -126px;
  }
  
  .emoji-span.emoji67,.emoji_face .emoji67 {
    background-position: -222px -126px;
  }
  
  .emoji-span.emoji68,.emoji_face .emoji68 {
    background-position: -254px -126px;
  }

  .emoji-span.emoji69,.emoji_face .emoji69 {
    background-position: -286px -126px;
  }

  .tab-content{
      display: none;
  }
  .tab-content.active{
      display: block;
  }
  .tab-head{
      height: 36px;
      width: calc(100% + 4px);
      padding: 0px 0px 0px 16px;
      background-color: #f7f7f7;
      margin-left:-10px;
      margin-bottom: -8px;
      margin-top: 10px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .tab-head .tab-icon{
      display: inline-block;
      width:40px;
      height:100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50%;
  }
  .tab-head .tab-icon:hover{
      cursor: pointer;
  }
  .tab-head .tab-icon.active, .tab-head .tab-icon:hover{
    background-color: white;
}
  .tab-head .tab-icon.tab-icon-emoji{
    background-image: url('../images/face.svg')
  }
  .tab-head .tab-icon.tab-icon-emoji.active{
    background-image: url('../images/face-active.svg')
  }
  .tab-head .tab-icon.tab-icon-custom{
    background-image: url('../images/favor.svg')
  }
  .tab-head .tab-icon.tab-icon-custom.active{
    background-image: url('../images/favor-active.svg')
  }
  .tab{
      width:347px;
      height:173px;
  }
  .favor-container{
    width:100%;
  }
  .favor-container:after{
      content:' ';
      display: block;
      clear: both;
  }
  .favor-container .favor-item{
      width:25%;
      float: left;
      height: 85px;
      cursor: pointer;
  }
  .select-favor-span{
    display:block;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
}
.favor-span{
    display:inline-block;
    margin-bottom: -10px;
    width:85px;
    height:85px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
}
.select-favor-span.favor1,.favor-span.favor1{
    background-image: url('../images/gif_0f4eab8d51.gif')
}
.select-favor-span.favor2,.favor-span.favor2{
    background-image: url('../images/gif_d36adaaddf.gif')
}
.select-favor-span.favor3,.favor-span.favor3{
    background-image: url('../images/gif_dc09825085.gif')
}
.select-favor-span.favor4,.favor-span.favor4{
    background-image: url('../images/gif_dda9a63e6d.gif')
}
.select-favor-span.favor5,.favor-span.favor5{
    background-image: url('../images/gif_16fe3f4ce1.gif')
}
.select-favor-span.favor6,.favor-span.favor6{
    background-image: url('../images/gif_5288eb01f3.gif')
}
.select-favor-span.favor7,.favor-span.favor7{
    background-image: url('../images/gif_15002d3931.gif')
}
.select-favor-span.favor8,.favor-span.favor8{
    background-image: url('../images/gif_ae653389c3.gif')
}
  .favor-container .favor-item:hover{
      background-color:  #eee;
  }
  .hidden{
      display: none;
  }
  .prompt-container{
      position: absolute;
      bottom: 10px;
      z-index: 999;
      text-align: center;
      width: 100%;
  }
  .prompt-container .prompt-wraper{
    display: inline-block;
    background-color: #e1e2e3;
    border-radius: 10px;
    padding: 4px 10px;
    color: #777777;
    font-size: 12px;
  }
  .prompt-container .prompt-wraper .prompt-icon{
      width:14px;
      height: 14px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url('../images/error.svg');
      display: inline-block;
      margin-bottom: -2px;
      margin-right: 3px;
  }
  .title_P{
      cursor: pointer;
  }
  #groupUserDD{
      position: relative;
  }
  .windowL_P>dd{
      position: relative;
  }