<style type="text/css">
	form#detailForm .dropdown-menu{min-width: 488px;}
</style>
<form  th:object="${result}"
 id="detailForm" role="form" action="#"
	method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXDetail" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">温度检测设置详情</h4>
	</div>
      <div class="modal-body">
      	<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<input th:field="*{id}" type="text" hidden="true" />
					<label class="col-md-3 control-label"> <label
						class="text-danger">*</label> 监控对象：</label>
					<div class="col-md-9">
						<input style="cursor: pointer"  th:field="*{brand}" name = "vehicleBrand"  class="form-control inputStyleHide" readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label text-left">传感器基本参数</label>
					<div class="col-md-10"></div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"> <label
						class="text-danger">*</label> 温度传感器型号：
					</label>
					<div class="col-md-3">
						<input id="sensorNumber" th:value="*{sensorNumber}" name="sensorNumber" class="form-control inputStyleHide" readonly
							type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">补偿使能：</label>
					<div class="col-md-3">
						<input id="compensateName" th:value="*{compensateName}" name="compensateName" class="form-control inputStyleHide" readonly
							type="text" />
					</div>
					<label class="col-md-3 control-label">滤波系数：</label>
					<div class="col-md-3">
						<input id="filterFactorName" th:value="*{filterFactorName}" name="filterFactorName" class="form-control inputStyleHide" readonly
							type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">个性参数</label>
					<div class="col-md-10">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">自动上传时间(s)：</label>
					<div class="col-md-3">
						<input id="autotimeName" th:value="*{autotimeName}" name="autotimeName" class="form-control inputStyleHide" readonly
							type="text" />
					</div>
					<label class="col-md-3 control-label">超出阈值时间阈值：</label>
					<div class="col-md-3">
						<input id = "overValve" th:field="*{overValve}"  name = "overValve" readonly   class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">输出修正系数K：</label>
					<div class="col-md-3">
						<input id = "correctionFactorK" th:field="*{correctionFactorK}"  name = "correctionFactorK" readonly   class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">输出修正系数B：</label>
					<div class="col-md-3">
						<input id = "correctionFactorB" th:field="*{correctionFactorB}"  name = "correctionFactorB" readonly   class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">温度报警上阈值：</label>
					<div class="col-md-3">
						<input id = "alarmUp" th:field="*{alarmUp}"  name = "alarmUp" readonly   class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">温度报警上阈值：</label>
					<div class="col-md-3">
						<input id = "alarmDown" th:field="*{alarmDown}"  name = "alarmDown" readonly   class="form-control inputStyleHide" />
					</div>
				</div>
			</div>
		</div>		
      </div>
      <div class="modal-footer">
		<button id="doCloseDetail" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
	$(function() {
      	myTable.add('commonWin', 'detailForm', null, null);
	});
	/*]]>*/
</script>