<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>风险事件管理</title>
    <div th:replace="fragments/header">header</div>
</head>
<body>
<section class="leftMenuBg">
    <div th:replace="fragments/nav">nav</div>
    <div th:replace="fragments/menu">menu</div>
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                       <li><a th:href="@{/}">首页s</a></li>
                        <li class="active">风控管理</li>
                        <li class="active">风险事件</li>
                    </ul>
                    <h1 class="h1 ">风险事件管理</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title fwb">风险事件列表</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="panel-body fixed-table-body">
                            <!--工具面板-->
		                    <div class="ToolPanel">
		                        <div class="bars pull-left">
		                            <div class="btn-group pull-left barsMargin" role="group">
		                                <form role="form">
		                                   <label><input type="text" class="Inlinesearch form-control" id="simpleQueryParam" name="simpleQueryParam" placeholder="请输入风险事件"></label>
		                                   <button type="button" id = "search_button" onclick="myTable.filter()" class="btn btn-outline btn-default">搜索</button>
		                               	   <input id="hiddenText" type="text" style="display:none" />                                   
		                                </form>
		                            </div>
		                            <div th:if="${hasRole}" class="dropdown pull-left">
		                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">操作菜单<span class="caret"></span>
		                                </button>
		                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		                                    <li><a th:href="@{/r/riskManagement/TypeLevel/add}" id="addId" data-toggle="modal" data-target="#commonWin"><i class="glyphicon glyphicon-plus icoPaddingLeft"></i>新增</a></li>
		                                    <li><a th:href="@{/r/riskManagement/TypeLevel/export.gsp}" id="exportId"><i class="glyphicon glyphicon-log-out icoPaddingLeft"></i>导出</a></li>
		                                    <li><a href="#" id="del_model"><i class="glyphicon glyphicon-trash icoPaddingLeft"></i>批量删除</a></li>
		                                    <li><a th:href="@{/r/riskManagement/TypeLevel/import}" id="importId" data-toggle="modal" data-target="#commonSmWin"><i class="glyphicon glyphicon-log-in icoPaddingLeft"></i>导入</a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="columns btn-group pull-right oilrodCehicleM">
		                            <button id="refreshTable" class="btn btn-default" type="button" name="refresh" title="刷新">
		                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
		                            </button>
		                            <div class="keep-open btn-group" title="定制显示列">
		                                <button id="customizeColumns" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
		                                </button>
		                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text">                
		                                </ul>
		                            </div>
		                        </div>
		                    </div>
                    		<!--工具面板 end-->
                             <table id="dataTable" class="table table-striped table-bordered table-hover"
                                    cellspacing="0" width="100%">
                                 <thead>
                                 <tr>
                                     <th style=" width:1px; padding:0"></th>
                                     <th style="width:30px; padding:10px">
                                     <input type="checkbox" id="checkAll"></th>
                                     <th>操作设置</th>
                                     <th>风险事件</th>
                                     <th>风险类型</th>
                                     <th>描述</th>
                                     <!-- <th>波特率</th>
                                     <th>奇偶校验</th>
                                     <th>补偿使能</th> -->                                           
                                 </tr>
                                 </thead>
                             </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="fragments/footer">footer</div>
</body>
<script th:inline="javascript">
	var selectItem = [[#{select.item}]];
    var publicDelete = [[#{public.delete}]];
</script>
<script src="/wro/riskEventList.js" th:src="@{/wro/riskEventList.js}"></script>
</html>