<div class="panel panel-default">
	<div class="panel-heading">
		当前状态
	</div>
	<div class="panel-body">
		<div class="humiture-gauge-one">
			<div class="humiture-gauge-type" id="wenduGaugeType" style="visibility:hidden">
				<div>温度传感器</div>
			</div>
			<div class="humiture-gauge-img">
				<div  id="wenduGauge" class="gauge" style="opacity:0.2">
				</div>
			</div>
		</div>
		<div class="humiture-gauge-one">
			<div class="humiture-gauge-type" id="shiduGaugeType"  style="visibility:hidden">
				<div>湿度传感器</div>
			</div>
			<div class="humiture-gauge-img">
				<div  id="shiduGauge" class="gauge" style="opacity:0.2">
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div>
			<table class="humiture-gauge-table">
				<tr>
					<td class="td1">供电电压</td>
					<td class="td2" id="gaugeDianya">-</td>
				</tr>
				<tr>
					<td class="td1">当前位置</td>
					<td class="td2" id="gaugeAddr">-</td>
				</tr>
			</table>
		</div>
	</div>
</div>