<form th:action="@{/m/basicinfo/equipment/simcard/proofreading}"
	  th:object="${result}" id="prooFreadingForm"
	role="form" action="#" method="post" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" id="xclose" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="vNumber">车牌号</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<h4 class="h4 text-center proo-title">车载终端数据</h4>
					<div class="form-group">
						<label class="col-md-5 control-label">终端手机号：</label>
						<div class="col-md-7">
							<input type="text" id="terminalSim" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">ICCID：</label>
						<div class="col-md-7">
							<input type="text" id="terminalIccid" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">终端号：</label>
						<div class="col-md-7">
							<input type="text" id="terminalNum" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMEI：</label>
						<div class="col-md-7">
							<input type="text" id="terminalImei" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMSI：</label>
						<div class="col-md-7">
							<input type="text" id="terminalImsi" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当日流量(M)：</label>
						<div class="col-md-7">
							<input type="text" id="terminalDay" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当月流量(M)：</label>
						<div class="col-md-7">
							<input type="text" id="terminalMonth" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group hidden">
						<label class="col-md-5 control-label">流量月结日：</label>
						<div class="col-md-7">
							<input type="text" id="terminalMonthSettlement" class="form-control" value="01" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">流量最后更新时间：</label>
						<div class="col-md-7">
							<input type="text" id="terminalmonthTrafficDeadline" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">修正系数：</label>
						<div class="col-md-7">
							<input type="text" id="terminalCorrection" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">预警系数：</label>
						<div class="col-md-7">
							<input type="text" id="terminalWarning" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">小时流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" id="terminalHourFlow" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">日流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" id="terminalDayFlow" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">月流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" id="terminalMonthFlow" class="form-control" value="" disabled/>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h4 class="h4 text-center proo-title">F3平台数据</h4>
					<div class="form-group">
						<label class="col-md-5 control-label">终端手机号：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{simcardNumber}" id="FThreeSim" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">ICCID：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{iccid}"  id="FThreeIccid" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">终端号：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{deviceNumber}" id="FThreeNum" class="form-control" value="000001" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMEI：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{imei}" id="FThreeImei" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMSI：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{imsi}" id="FThreeImsi" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当日流量(M)：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{dayRealValue}" id="FThreeDay" class="form-control" value="0" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当月流量(M)：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{monthRealValue}"  id="FThreeMonth" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group hidden">
						<label class="col-md-5 control-label">流量月结日：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{monthlyStatement}"  id="FThreeMonthSettlement" class="form-control" value="1" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">流量最后更新时间：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{monthTrafficDeadline}" id="FThreemonthTrafficDeadline" class="form-control" value="01" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">修正系数：</label>
						<div class="col-md-7">
							<input type="text"   th:value="*{correctionCoefficient}" id="FThreeCorrection" class="form-control" value="100" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">预警系数：</label>
						<div class="col-md-7">
							<input type="text"  th:value="*{forewarningCoefficient}"  id="FThreeWarning" class="form-control" value="100" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">小时流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text"  th:value="*{hourThresholdValue}"  id="FThreeHourFlow" class="form-control" value="0.03" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">日流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{dayThresholdValue}" id="FThreeDayFlow" class="form-control" value="0.3" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">月流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{monthThresholdValue}" id="FThreeMonthFlow" class="form-control" value="10" disabled/>
						</div>
					</div>
					<div class="form-group hidden">
						<label class="col-md-5 control-label">月流量阈值(M)：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{brand}" id="vNum" class="form-control" value="10" disabled/>
						</div>
					</div>
                    <div class="form-group hidden">
                        <label class="col-md-5 control-label">sid：</label>
                        <div class="col-md-7">
                            <input type="text" th:value="*{sid}" id="sid" class="form-control"  disabled/>
                        </div>
                    </div>
					<div class="form-group hidden">
						<label class="col-md-5 control-label">monitorType：</label>
						<div class="col-md-7">
							<input type="text" th:value="*{monitorType}" id="monitorType" class="form-control"  disabled/>
						</div>
					</div>
                    <div class="form-group hidden">
                        <label class="col-md-5 control-label">vid：</label>
                        <div class="col-md-7">
                            <input type="text" th:value="*{vid}" id="vid" class="form-control"  disabled/>
                        </div>
                    </div>
                    <div class="form-group hidden">
                    <label class="col-md-5 control-label">bindId：</label>
                    <div class="col-md-7">
                        <input type="text" th:value="*{bindId}" id="bindId" class="form-control"  disabled/>
                    </div>
                </div>
                    <div class="form-group hidden">
                        <label class="col-md-5 control-label">paramId：</label>
                        <div class="col-md-7">
                            <input type="text" th:value="*{paramId}" id="paramId" class="form-control" disabled/>
                        </div>
                    </div>
				</div>
				<div class="col-md-4">
					<h4 class="h4 text-center proo-title">物联网卡平台数据</h4>
					<div class="form-group">
						<label class="col-md-5 control-label">终端手机号：</label>
						<div class="col-md-7">
							<input type="text" id="cardSim" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">ICCID：</label>
						<div class="col-md-7">
							<input type="text" id="cardIccid" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">终端号：</label>
						<div class="col-md-7">
							<input type="text" id="cardNum" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMEI：</label>
						<div class="col-md-7">
							<input type="text" id="cardImei" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">IMSI：</label>
						<div class="col-md-7">
							<input type="text" id="cardImsi" class="form-control" value="" disabled/><!--  -->
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当日流量(M)：</label>
						<div class="col-md-7">
							<input type="text" id="cardDay" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-5 control-label">当月流量(M)：</label>
						<div class="col-md-7">
							<input type="text" id="cardMonth" class="form-control" value="" disabled/>
						</div>
					</div>
					<div class="form-group hidden">
						<label class="col-md-5 control-label">流量月结日：</label>
						<div class="col-md-7">
							<input type="text" id="cardMonthSettlement" class="form-control" value="01" disabled/>
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">流量最后更新时间：</label>
                        <div class="col-md-7">
                            <input type="text" id="cradMonthTrafficDeadline" class="form-control"  disabled/>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" id="btn-refresh" style="margin: 0px 0px 1px 0px;">
			<strong>刷 新</strong>
		</button>
		<button class="btn btn-primary" type="button" id="btn-correction" disabled>
			<strong>修 正</strong>
		</button>
		<button class="btn btn-primary" type="button" id="btn-issued" data-dismiss="modal" disabled>
			<strong>下 发</strong>
		</button>
		<button type="button" id="close" class="btn btn-default" data-dismiss="modal" style="margin: 0px 0px 1px 0px !important">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script type="text/javascript" src="/wro/getSimInformation.js" th:src="@{/wro/getSimInformation.js}"></script>