<form th:action="@{/m/basicinfo/enterprise/assignment/edit.gsp}"
		th:object="${result}" id="editForm" role="form" action="#"
		method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXEdit" type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		<h4 class="modal-title">修改分组</h4>
	</div>
	<div class="modal-body modal-body-overflow">
		<div class="row">
			<div class="col-md-12">
				<input th:field="*{id}" type="text" id="assignmentId" hidden="true" />
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 分组名称：</label>
					<div class="col-md-7">
						<input th:field="*{name}" name="name" placeholder="请输入分组名称" type="text"
								class="form-control" />
					</div>
					<input th:value="*{name}" id="scn" type="hidden"/>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 所属企业：</label>
					<input th:field="*{groupId}" class="form-control" type="hidden" name="groupId" id="groupId"/>
					<div class="has-feedback col-md-7">
						<input th:field="*{groupName}" readonly = "readonly" name="groupName" class="form-control"
								placeholder="请选择所属企业"  type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"> 联系人：</label>
					<div class="col-md-7">
						<input id= "contacts" th:field="*{contacts}" name="contacts" placeholder="请输入联系人" type="text"
								class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"> 电话号码：</label>
					<div class="col-md-7">
						<input id= "telephone" th:field="*{telephone}" name="contacts" placeholder="请输入电话号码" type="text"
								class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"> 备注：</label>
					<div class="col-md-7">
						<textarea  th:field="*{description}" name="description" rows="3"  placeholder="请输入描述" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button id="doSubmitEdit" class="btn btn-primary" type="button">
			<strong>提 交</strong>
		</button>
		<button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
	var groupNameNull = [[#{group.name.null}]];
	var phoneError = [[#{phone.error}]];
	var telPhoneError = [[#{telPhone.error}]];
	var publicSize30Length = [[#{public.size30.length}]];
	var publicSize20Length = [[#{public.size20.length}]];
	var publicSize50Length = [[#{public.size50.length}]];
	var publicSize1000Length = [[#{public.size1000.length}]];
	var assignmentExists = [[#{assignment.exists}]];
	var assignmentExists100 = [[#{assignment.exists100}]];
</script>
<script src="resource/scripts/wro/assignmentEdit.js" th:src="@{/wro/assignmentEdit.js}"></script>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
