.i-dropdown-container .i-input-field.invalid {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.i-dropdown-container .i-arrow {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.i-dropdown-container .i-arrow .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.i-dropdown-container .i-list-container {
  position: absolute;
  max-height: 200px;
  top: 100%;
  left: 0px;
  right: 0px;
  z-index: 1000;
  display: none;
  overflow-y: auto;
  background-color: white;
  border-radius: 0 0 4px 4px;
  border: 1px solid #CACFD2;
}

.i-dropdown-container .i-list-container .i-list-wraper {
  width: 100%;
  border-top: none;
}

.i-dropdown-container .i-list-container .i-list-wraper .i-list {
  list-style: none;
  background-color: white;
  font-size: 14px;
  line-height: 20px;
}

.i-dropdown-container .i-list-container .i-list-wraper .i-list .i-list-item {
  border-bottom: 1px solid #e9e9e9;
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
}

.i-dropdown-container .i-list-container .i-list-wraper .i-list .i-list-item:last-child {
  border-bottom: none;
}

.i-dropdown-container .i-list-container .i-list-wraper .i-list .i-list-item:hover {
  background-color: #ecf6fd;
}

.i-dropdown-container .i-list-container .i-list-wraper .i-list .i-list-item.active {
  background-color: #ecf6fd;
  color: #108ee9;
}