<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.zw.platform.push.controller.InstanceMessageController"/>
    <bean class="com.zw.platform.push.controller.LocationMessageController"/>
    <bean class="com.zw.platform.push.controller.VideoMessageController"/>
    <bean class="com.zw.platform.push.controller.DriverDiscernManageMessageController"/>
    <bean class="com.zw.platform.push.controller.PlatformInspectionMessageController"/>
</beans>