<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>报警类型配置</title>
<div th:replace="fragments/header">header</div>
<!--<link rel="stylesheet"
	href="/clbs/resources/css/electronicFence.css"
	th:src="@{/clbs/resources/css/electronicFence.css}">-->
	<link rel="stylesheet"
		  href="/clbs/resources/css/alarmType-set.css"
		  th:src="@{/clbs/resources/css/alarmType-set.css}">
</head>
<body>
	<section id="container">
		<div th:replace="fragments/nav">nav</div>
		<section class="main-content-wrapper">
			<div th:replace="fragments/menu">menu</div>
			<section id="main-content">
				<div class="row eightIsZero">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">首页</a></li>
							<li class="active">APP管理</li>
							<li class="active">报警类型配置</li>
						</ul>
						<h1 class="h1 ">报警类型配置</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="col-md-2" style="padding-right: 0px; padding-left:0px;">
							<div th:replace="core/uum/group/list">list</div>
						</div>
						<div class="col-md-10" style="padding-right: 0px;padding-left: 10px;">
							<div class="panel panel-default" id="panelBodyWid">
								<div class="panel-heading" id="stretch" >
									<h3 class="panel-title fwb">配置操作</h3>
									<div class="actions pull-right listActions">
										<i class="fa chevron-down"  id="stretch-chevron" ></i>
									</div>
								</div>
								<div class="panel-body fixed-table-body"  id="stretch-body">
									<table id="dataTable"
										class="table table-striped table-bordered table-hover checkTable"
										cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>当前组织</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
										<tr>
											<td>江苏运营中心</td>
											<td>
												<button href="" data-target="#alarmEdit" data-toggle="modal"  type="button" class="editBtn editBtn-info"><i class="fa fa-pencil"></i>修改配置</button>
												<button href="" data-target="#alarmDetail" data-toggle="modal"  type="button" class="editBtn editBtn-info"><i class="fa fa-sun-o"></i>查看配置</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<div th:replace="fragments/footer">footer</div>

	<!-- 修改配置 -->
	<div class="modal fade" id="alarmEdit" role="dialog" aria-hidden="true" data-backdrop="static"
		 aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">修改配置</h4>
				</div>
				<div class="modal-body">
					<form id="" class="form-horizontal" action="#" method="post" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label searchListSelect">当前组织：</label>
							<div class="col-md-4">
								<input type="text" class="form-control" disabled="disabled" value="江苏运营中心" placeholder="当前组织"/>
							</div>
							<label class="col-md-2 control-label searchListSelect">参考组织：</label>
							<div class="col-md-4">
								<select id="deviceType" class="form-control">
									<option value="0">全部</option>
									<option value="1">交通部JT/T808</option>
									<option value="5">BDTD-SM</option>
									<option value="9">ASO</option>
									<option value="10">F3超长待机</option>
								</select>
							</div>
						</div>
						<hr style="margin-bottom:20px;"/>

						<ul class="mult-check-ul" id="alarmTypeUl">
							<li class="title">预警</li>
							<li class="chosen"><span>危险预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>超速预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>疲劳驾驶预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>碰撞预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>侧翻预警</span><input type="checkbox" class="lower-checkbox"></li>

							<li class="title">预警</li>
							<li class="chosen"><span>危险预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>超速预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>疲劳驾驶预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>碰撞预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>侧翻预警</span><input type="checkbox" class="lower-checkbox"></li>

							<li class="title">预警</li>
							<li class="chosen"><span>危险预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>超速预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>疲劳驾驶预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>碰撞预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>侧翻预警</span><input type="checkbox" class="lower-checkbox"></li>

							<li class="title">预警</li>
							<li class="chosen"><span>危险预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>超速预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>疲劳驾驶预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>碰撞预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>侧翻预警</span><input type="checkbox" class="lower-checkbox"></li>

							<li class="title">预警</li>
							<li class="chosen"><span>危险预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>超速预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>疲劳驾驶预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>碰撞预警</span><input type="checkbox" class="lower-checkbox"></li>
							<li><span>侧翻预警</span><input type="checkbox" class="lower-checkbox"></li>
						</ul>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">全选</button>
					<button type="button" class="btn btn-primary">全不选</button>
					<button type="button" class="btn btn-primary">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 查看配置 -->
	<div class="modal fade" id="alarmDetail" role="dialog" aria-hidden="true" data-backdrop="static"
		 aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:60%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">配置详情</h4>
				</div>
				<div class="modal-body">
					<ul class="mult-check-ul">
						<li class="title">预警</li>
						<li class="chosen"><span>危险预警</span></li>
						<li><span>超速预警</span></li>
						<li><span>疲劳驾驶预警</span></li>
						<li><span>碰撞预警</span></li>
						<li><span>侧翻预警</span></li>

						<li class="title">预警</li>
						<li class="chosen"><span>危险预警</span></li>
						<li><span>超速预警</span></li>
						<li><span>疲劳驾驶预警</span></li>
						<li><span>碰撞预警</span></li>
						<li><span>侧翻预警</span></li>

						<li class="title">预警</li>
						<li class="chosen"><span>危险预警</span></li>
						<li><span>超速预警</span></li>
						<li><span>疲劳驾驶预警</span></li>
						<li><span>碰撞预警</span></li>
						<li><span>侧翻预警</span></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

<script src="resources/js/zTree/js/ztreeSearch.js" th:src="@{/resources/js/zTree/js/ztreeSearch.js}"></script>
<script src="/resources/js/App/groupAlarmType.js" th:src="@{/resources/js/App/groupAlarmType.js}"></script>
</body>
</html>