<form th:object="${result}" role="form" action="#" method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXDetail" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">详情</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div>
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">扩展信息</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
				    	<div class="col-md-12 table-top panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label">车牌号：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.brand}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车辆别名：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.aliases}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车主：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.vehicleOwner}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车主电话：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.vehicleOwnerPhone}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车辆类型：</label>
								<div class="col-md-7 dataStatistics-value">
								    <span th:text="*{vehicleType}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车架号：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.chassisNumber}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">发动机号：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.engineNumber}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">车牌颜色：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{plateColorStr}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">区域属性：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.areaAttribute}"></span>
								</div>
							</div>
							<div data-toggle="distpicker">
							<div class="form-group">
								<label class="col-md-4 control-label">省、直辖市：</label>
								<div class="col-md-7 dataStatistics-value">
								    <span th:text="${result.vehicleInfo.province}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">市、区：</label>
								<div class="col-md-7 dataStatistics-value">
								    <span th:text="${result.vehicleInfo.city}"></span>
								</div>
							</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">燃料类型：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="${result.vehicleInfo.fuelType}"></span>
								</div>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	<div class="col-md-12 table-top panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label">行驶时间：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{runningTime}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">行驶里程：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{runningMileage}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">能耗量：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{energyConsumption}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">计算基准能耗：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{calculateBaseEnergy}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">核定基准能耗：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{estimatesBaseEnergy}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">大修时间：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{overhauledTime}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">大修间隔：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{overhauledInterval}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">节油产品安装日期：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{savingProductsInstallTime}"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">怠速阀值：</label>
								<div class="col-md-7 dataStatistics-value">
									<span th:text="*{idleThreshold}"></span>
								</div>
							</div>
						</div>	
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button id="doCloseDetail" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">

</script>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>