<form th:action="@{/v/carbonmgt/mobileSourceBaseInfo/edit}" th:object="${result}" role="form" id="editForm" action="#" method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXEdit" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">修改</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div>
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">扩展信息</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
				    	<div class="col-md-12 table-top panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label"><label
									class="text-danger">*</label> 车牌号：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.id}" name="vehicleId" type="hidden" />
									<input th:value="${result.vehicleInfo.brand}" placeholder="请输入车牌号" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车辆别名：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.aliases}" placeholder="请输入车辆别名" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车主：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.vehicleOwner}" placeholder="请输入车主" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车主电话：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.vehicleOwnerPhone}" placeholder="请输入车主电话" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车辆类型：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.vehicleType}" id="vehicleT" type="hidden"  />
								    <select placeholder="请输入车辆类型" id="vehicleType"
										class="form-control" disabled >
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车架号：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.chassisNumber}" placeholder="请输入车架号" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">发动机号：</label>
								<div class="col-md-7">
									<input th:value="${result.vehicleInfo.engineNumber}" placeholder="请输入发动机号" type="text"
										class="form-control" disabled />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">车牌颜色：</label>
								<div class="col-md-7">
									<select th:value="${result.vehicleInfo.plateColor}" placeholder="请选择车牌颜色"
										class="form-control" disabled >
										<option selected="selected" value="0">蓝</option>
										<option value="1">黄</option>
										<option value="2">白</option>
										<option value="3">黑</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<lable th:value="${result.vehicleInfo.areaAttribute}"  id="hiddenAreaAttribute"></lable>
								<label class="col-md-3 control-label">区域属性：</label>
								<div class="col-md-7">
									<select id="areaAttribute" placeholder="请选择区域属性" class="form-control" disabled >
			                              <option value="省内">省内</option>
			                              <option value="跨省">跨省</option>
			                              <option value="进京报备">进京报备</option>
									</select>
								</div>
							</div>
							<div data-toggle="distpicker">
								<div class="form-group">
									<label class="col-md-3 control-label">省、直辖市：</label>
									<div class="col-md-7">
										<lable th:value="${result.vehicleInfo.province}"  id="hiddenProvince"></lable>
									    <label class="sr-only" for="province1">Province</label> 
				                        <select class="form-control" th:value="${result.vehicleInfo.province}" id="province1" disabled ></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">市、区：</label>
									<div class="col-md-7">
										<lable th:value="${result.vehicleInfo.city}"  id="hiddenCity"></lable>
									    <label class="sr-only" for="city1">City</label>
				                        <select class="form-control" th:value="${result.vehicleInfo.city}" id="city1" disabled ></select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">燃料类型：</label>
								<div class="col-md-7">
									<select th:value="*{fuelType}" placeholder="请选择燃料类型"
										class="form-control" disabled >
										<optgroup label="柴油">
			                              <option value="0#柴油">0#柴油</option>
			                              <option value="-10#柴油">-10#柴油</option>
			                              <option value="-20#柴油">-20#柴油</option>
			                              <option value="-30#柴油">-30#柴油</option>
			                              <option value="-50#柴油">-50#柴油</option>
			                            </optgroup>
			                            <optgroup label="汽油">
			                              <option value="89#汽油">89#汽油</option>
			                              <option value="90#汽油">90#汽油</option>
			                              <option value="92#汽油">92#汽油</option>
			                              <option value="93#汽油">93#汽油</option>
			                              <option value="95#汽油">95#汽油</option>
			                              <option value="97#汽油">97#汽油</option>
			                              <option value="98#汽油">98#汽油</option>
			                            </optgroup>
			                            <optgroup label="天然气">
			                              <option value="CNG">CNG</option>
			                            </optgroup>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-7">
									<input id="permissionTree" name="permissionTree" type="text"
										hidden="true" />
								</div>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	<div class="col-md-12 table-top panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label">行驶时间：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{runningTime}" class="form-control" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">行驶里程：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{runningMileage}" class="form-control" readonly />
								</div>
								<label class="col-md-2 unitShow">公里</label>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">能耗量：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{energyConsumption}" class="form-control" readonly />
								</div>
								<label class="col-md-2 unitShow">升</label>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">计算基准能耗：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{calculateBaseEnergy}" class="form-control" readonly />
								</div>
								<label class="col-md-2 unitShow">升/百公里</label>
							</div>
							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button class="btn btn-primary" type="button" id="">
										<strong>查看基准明细</strong>
									</button>
									<button class="btn btn-primary" type="button" id="">
										<strong>设置为基准</strong>
									</button>
								</div>	
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label"><label
									class="text-danger">*</label> 核定基准能耗：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{estimatesBaseEnergy}" class="form-control" placeholder="请输入基准能耗"/>
								</div>
								<label class="col-md-2 unitShow">升/百公里</label>
							</div>
							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button class="btn btn-primary" type="button" id="">
										<strong>导入单据</strong>
									</button>
									<button class="btn btn-primary" type="button" id="">
										<strong>浏览单据</strong>
									</button>
								</div>	
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">大修时间：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{overhauledTime}" placeholder="请选择大修时间" autocomplete="off" class="form-control layer-date laydate-icon" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">大修间隔：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{overhauledInterval}" placeholder="请输入大修间隔" class="form-control"/>
								</div>
								<label class="col-md-2 unitShow">公里</label>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">节油产品安装日期：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{savingProductsInstallTime}" autocomplete="off" placeholder="请选择安装日期" class="form-control layer-date laydate-icon" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">怠速阀值：</label>
								<div class="col-md-7">
									<input type="text" th:field="*{idleThreshold}" placeholder="请输入怠速阀值" class="form-control"/>
								</div>
								<label class="col-md-2 unitShow">公里/小时</label>
							</div>
						</div>	
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" id="doSubmits">
			<strong>提 交</strong>
		</button>
		<button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script src="resources/js/CityDistpicker/distpicker.data.js" th:src="@{/resources/js/CityDistpicker/distpicker.data.js}"></script>
<script src="resources/js/CityDistpicker/distpicker.js" th:src="@{/resources/js/CityDistpicker/distpicker.js}"></script>
<script th:inline="javascript">
(function($,window){
	
    mobileSourceBaseInfoEdit = {
        //初始化
        init: function(){
        	// 初始化车辆类型
        	mobileSourceBaseInfoEdit.initVehicleType();
        	// 初始化区域
        	mobileSourceBaseInfoEdit.initAreaInfo();
        },
        // 初始化车辆类型
        initVehicleType : function () {
        	var url="/clbs/m/basicinfo/monitoring/vehicle/addList";
            json_ajax("POST",url,"json",false,null, mobileSourceBaseInfoEdit.getTypeCallback);
        },
        // 获取车辆车辆类型回调
        getTypeCallback: function(data){
            for (var i = 0; i < data.obj.VehicleTypeList.length; i++) {
            	$("#vehicleType").append("<option value=" + data.obj.VehicleTypeList[i].id + ">" + data.obj.VehicleTypeList[i].vehicleType + "</option>");
            }
            $("#vehicleType").val($("#vehicleT").val());
        },
        // 初始化区域
        initAreaInfo : function () {
        	setTimeout(function () {
        		var strProvince= $("#hiddenProvince").attr("value");        
                $("#province1").val(strProvince); 
	            $("#province1").trigger("change");
	            var strCity = $("#hiddenCity").attr("value");     
	            $("#city1").val(strCity);
	            var strAreatAttri = $("#hiddenAreaAttribute").attr("value");
	            $("#areaAttribute").val(strAreatAttri);
        	}, 200);
        },
        // 提交按钮点击事件
        doSubmitsClick : function () {
        	$("#editForm").ajaxSubmit(function (data) {
        		var json = eval("("+data+")");
            	if(json.success){
            		$("#commonSmWin").modal("hide");
                  	myTable.refresh()
           		}else{
           			layer.msg(json.msg);
           		}
           	});
        },
    }
    
    $(function(){
    	$('input').inputClear();
    	mobileSourceBaseInfoEdit.init();
    	$('input').inputClear();
    	$("#doSubmits").bind("click", mobileSourceBaseInfoEdit.doSubmitsClick);
    })
})($,window)
</script>
