<form th:action="@{/m/basicinfo/enterprise/brand/editBrandModels.gsp}"
      th:object="${result}" id="editModelForm" role="form" action="#"
      method="post" class="form-horizontal" onkeydown="if(event.keyCode==13)return false;">
    <div class="modal-header">
        <button id="doXEdit" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">修改机型</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input th:field="*{id}" id="mId" type="text" hidden="true"/>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        <label class="text-danger">*</label> 品牌：
                    </label>
                    <div class="col-md-7">
                        <input name="brandId" th:value="*{brandId}" type="text" hidden="true"/>
                        <select name="brandName" disabled th:value="*{brandId}" id="brandName"
                                class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        <label class="text-danger">*</label> 机型：
                    </label>
                    <div class="col-md-7">
                        <input name="modelName" th:field="*{modelName}" placeholder="请输入机型名称" type="text" id="modelName"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">备注：</label>
                    <div class="col-md-7">
                        <input th:field="*{describtion}" class="form-control" placeholder="请输入备注" name="describtion"
                               type="text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="doSubmits">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<script src="/clbs/resources/js/editBrandModels.js" th:src="@{/resources/js/editBrandModels.js}"></script>