<style type="text/css">
    form#detailForm .dropdown-menu {
        min-width: 488px;
    }
</style>
<form id="detailForm" role="form" action="#"
      method="post" class="form-horizontal">
    <div class="modal-header">
        <button id="doXDetail" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">胎压监测设置详情</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input id="allSensor" th:value="${allSensor}" type="hidden"/><!--传感器对象-->
                <div class="form-group">
                    <label class="col-md-3 control-label"> <label
                            class="text-danger">*</label> 监控对象：</label>
                    <div class="col-md-9">
                        <input style="cursor: pointer" th:value="${vehicleInfo.brand}" name="vehicleBrand"
                               class="form-control inputStyleHide" readonly/>
                    </div>
                    <label class="col-md-3 control-label"> <label
                            class="text-danger">*</label>轮胎数量：</label>
                    <div class="col-md-9">
                        <input style="cursor: pointer" th:field="${result.numberOfTires}" name="numberOfTires"
                               class="form-control inputStyleHide" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label text-left">传感器基本参数</label>
                    <div class="col-md-10"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> <label
                            class="text-danger">*</label> 胎压传感器型号：
                    </label>
                    <div class="col-md-3">
                        <input name="sensorId" th:value="${result.sensorId}" type="hidden" class="form-control" id="sensorId">
                        <input id="sensorNumber" name="sensorNumber"
                               class="form-control inputStyleHide" readonly
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">补偿使能：</label>
                    <div class="col-md-3">
                        <input id="compensate" name="compensate" class="form-control inputStyleHide"
                               readonly
                               type="text"/>
                    </div>
                    <label class="col-md-3 control-label">滤波系数：</label>
                    <div class="col-md-3">
                        <input id="filterFactor" name="filterFactor"
                               class="form-control inputStyleHide" readonly
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">个性参数</label>
                    <div class="col-md-10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">自动上传时间(s)：</label>
                    <div class="col-md-3">
                        <input id="autotime" th:value="${result.TyrePressureParameter.automaticUploadTime}" type="hidden" />
                        <input id="autoTimeName" name="autoTime"
                               class="form-control inputStyleHide" readonly
                               type="text"/>
                    </div>
                    <label class="col-md-3 control-label">输出修正系数K：</label>
                    <div class="col-md-3">
                        <input id="correctionFactorK" th:field="${result.TyrePressureParameter.compensationFactorK}"
                               name="correctionFactorK" readonly class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">输出修正系数B：</label>
                    <div class="col-md-3">
                        <input id="correctionFactorB" th:value="${result.TyrePressureParameter.compensationFactorB}" name="correctionFactorB"
                               class="form-control inputStyleHide" readonly
                               type="text"/>
                    </div>
                    <label class="col-md-3 control-label">正常胎压值(bar)：</label>
                    <div class="col-md-3">
                        <input id="normalTirePressure" th:value="${result.TyrePressureParameter.pressure}" name="normalTirePressure"
                               class="form-control inputStyleHide" readonly
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">胎压不平衡门限(%)：</label>
                    <div class="col-md-3">
                        <input id="pressureImbalanceThreshold" th:field="${result.TyrePressureParameter.pressureThreshold}"
                               name="pressureImbalanceThreshold" readonly class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-3 control-label">慢漏气门限(%)：</label>
                    <div class="col-md-3">
                        <input id="slowLeakThreshold" th:field="${result.TyrePressureParameter.slowLeakThreshold}" name="slowLeakThreshold" readonly
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">高温阈值(℃)：</label>
                    <div class="col-md-3">
                        <input id="highTemperatureThreshold" th:field="${result.TyrePressureParameter.highTemperature}" name="highTemperatureThreshold" readonly
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-3 control-label">低压阈值(bar)：</label>
                    <div class="col-md-3">
                        <input id="lowVoltageThreshold" th:field="${result.TyrePressureParameter.lowPressure}" name="lowVoltageThreshold" readonly
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">高压阈值(bar)：</label>
                    <div class="col-md-3">
                        <input id="highVoltageThreshold" th:field="${result.TyrePressureParameter.heighPressure}" name="highVoltageThreshold" readonly
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-3 control-label">电量报警阈值(%)：</label>
                    <div class="col-md-3">
                        <input id="powerAlarmThreshold" th:field="${result.TyrePressureParameter.electricityThreshold}" name="powerAlarmThreshold" readonly
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="doCloseDetail" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<script type="text/javascript" src="/clbs/resources/js/tirePressureManagerSettingDetail.js"></script>