<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>胎压监测设置</title>
    <div th:replace="fragments/header">header</div>
</head>
<body>
<section class="leftMenuBg">
    <div th:replace="fragments/nav">nav</div>
    <section class="main-content-wrapper">
    	<div th:replace="fragments/menu">menu</div>
        <section id="main-content">
            <div class="row eightIsZero">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li class="active">应用管理</li>
                        <li class="active">胎压监测</li>
                        <li class="active">胎压监测设置</li>
                    </ul>
                    <h1 class="h1 ">胎压监测设置</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="leftTreeBox fuelConsumption">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title fwb">组织架构</h3>
								<div class="actions pull-right listActions">
									<i class="fa fa-chevron-down"></i>
								</div>
							</div>
							<div class="panel-body" style="padding: 0px;">
								<div class="form-group" style="margin-top: 15px;">
									<div class="col-md-9">
										<input autocomplete="off" id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入分组名称" />
									</div>
									<div class="col-md-3 btnPadding">
										<div class="columns btn-group pull-right">
											<div class="keep-open btn-group">
												<button id="customizeColumns" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="padding-top:8px">
													<span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
												</button>
												<ul class="dropdown-menu alarmSettingDropdown protocol-dropdown-menu" role="menu" id="Ul-menu-text-v">
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg"
									 style="padding: 0px; height:630px!important;">
									<ul id="treeDemo" class="ztreee" style="height:615px!important;overflow:auto;"></ul>
								</div>
							</div>
						</div>
					</div>
					<div class="rightDataList" style="padding-right: 0px;padding-left: 10px;">
	                    <div class="panel panel-default">
	                        <div class="panel-heading" id="stretch">
	                            <h3 class="panel-title fwb">胎压监测设置列表</h3>
	                            <div class="actions pull-right listActions">
	                                <i class="fa chevron-down" id="stretch-chevron"></i>
	                            </div>
	                        </div>
	                        <div class="panel-body fixed-table-body" id="stretch-body">
	                        	<!--工具面板-->
			                    <div class="ToolPanel">
			                        <div class="bars pull-left">
			                            <div class="btn-group pull-left barsMargin" role="group">
			                           		<form role="form">
			                                   	<label><input autocomplete="off" type="text" class="Inlinesearch form-control" id="simpleQueryParam" name="simpleQueryParam" placeholder="请输入监控对象/传感器型号"></label>
			                                   	<button type="button" id="search_button" onclick="myTable.requestData()" class="btn btn-outline btn-default">搜索</button>
		                                   		<input id="hiddenText" type="text" style="display:none">
			                               	</form>
			                            </div>
			                            <div th:if="${hasRole}" class="dropdown pull-left">
			                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">操作菜单<span class="caret"></span>
			                                </button>
			                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<li><a href="javascript:void(0);" id="send_model"><i class="glyphicon glyphicon-circle-arrow-down icoPaddingLeft"></i>批量下发</a></li>
												<li><a href="javascript:void(0);" id="del_model"><i class="glyphicon glyphicon-trash icoPaddingLeft"></i>批量解除</a></li>
			                                </ul>
			                            </div>
			                        </div>
			                        <div class="columns btn-group pull-right personnelInformation">
			                            <button id="refreshTable" class="btn btn-default" type="button" name="refresh" title="刷新">
			                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
			                            </button>
			                            <div class="keep-open btn-group" title="定制显示列">
			                                <button id="customizeColumnsTwo" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
			                                </button>
			                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text">
			                                </ul>
			                            </div>
			                        </div>
			                    </div>
	                            <div style="overflow:auto">
	                            	<table id="dataTable" class="table table-striped table-bordered table-hover checkTable"
	                                   cellspacing="0" width="100%">
	                                <thead>
	                                <tr>
	                                    <th></th>
	                                    <th><input type="checkbox" id="checkAll"></th>
	                                    <th>操作设置</th>
	                                    <th>下发状态</th>
	                                    <th>监控对象</th>
	                                    <th>所属企业</th>
	                                    <th>对象类型</th>
	                                    <th>传感器型号</th>
	                                    <th>补偿使能</th>
	                                    <th>滤波系数</th>
										<th>自动上传时间(s)</th>
										<th>输出修正系数K</th>
										<th>输出修正系数B</th>
	                                    <th>正常胎压值(bar)</th>
	                                    <th>胎压不平衡门限(%)</th>
	                                    <th>慢漏气门限(%)</th>
	                                    <th>高温阈值(℃)</th>
	                                    <th>低压阈值(bar)</th>
	                                    <th>高压阈值(bar)</th>
	                                    <th>电量报警阈值(%)</th>
	                                </tr>
	                                </thead>
	                            </table>
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="fragments/footer">footer</div>
</body>
<script src="resources/js/zTree/js/ztreeSearch.js" th:src="@{/resources/js/zTree/js/ztreeSearch.js}"></script>
<script th:inline="javascript">
	var selectItem = [[#{select.item}]];
	var sendCommandComplete = [[#{send.command.complete}]];
	var pressureSettingNull = [[#{pressure.setting.null}]];
	var pressureSettingNull1 = [[#{pressure.setting.null1}]];
	var pressureSettingNull2 = [[#{pressure.setting.null2}]];
	var pressureSettingNull3 = [[#{pressure.setting.null3}]];
	var pressureSettingNull4 = [[#{pressure.setting.null4}]];
	var pressureSensorNumberNull = [[#{pressure.sensorNumber.null}]];
</script>
<script src="/clbs/resources/js/tirePressureManagerSettingList.js"></script>
</html>
