<form method="post" th:object="${result}" id="editReadConventionalForm" th:action="@{/v/loadmgt/loadvehiclesetting/updateSensorSetting}" role="form" class="form-horizontal">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel2">传感器常规参数</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-md-3 control-label">监控对象：</label>
        <div class="col-md-3">
            <input type="hidden" id="readConventionalVehicleId" th:field="*{vehicleId}" name="vehicleId"/>
            <input type="hidden" id="sensorSequence" name="sensorType" th:field="*{sensorSequence}"/>
            <input type="hidden" id="setting_id" name="id" th:field="*{id}"/>
            <input type="hidden" id="cg_deal_type" name="deal_type" value="pt"/>
            <input type="hidden" id="temp_send_vehicle_msg_id" value="0">
            <input style="cursor:pointer" name="rcNumberPlate" th:field="*{plateNumber}" id="conventionalBrand" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">传感器型号：</label>
        <div class="col-md-3">
            <input style="cursor: pointer" id="rcSensorModel" th:field="*{sensorNumber}" name="" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <label class="control-label">传感器上报参数</label>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            <label class="control-label">平台设置参数</label>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-3 control-label">传感器ID：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sid" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">传感器ID：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pid"  th:field="*{sensorPeripheralID}" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">补偿使能：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="scompensation" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">补偿使能：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pcompensation" th:field="*{compensateStr}"  name="compensationCanMakeStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">滤波系数：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sfilteringFactor" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">滤波系数：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pfilteringFactor" th:field="*{filterFactorStr}" name="filteringFactorStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">载重测量方法：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sloadMeterWayStr" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">载重测量方法：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="ploadMeterWayStr" th:field="*{personLoadParam.loadMeterWayStr}" name="loadMeterWayStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">传感器重量单位：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sloadMeterUnitStr" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">传感器重量单位：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="ploadMeterUnitStr" th:field="*{personLoadParam.loadMeterUnitStr}" name="loadMeterUnitStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">空载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="snoLoadValue" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">空载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pnoLoadValue" th:field="*{personLoadParam.noLoadValue}" name="noLoadValue" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">空载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="snoLoadThreshold" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">空载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pnoLoadThreshold" th:field="*{personLoadParam.noLoadThreshold}" name="noLoadThreshold" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">轻载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="slightLoadValue" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">轻载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="plightLoadValue" th:field="*{personLoadParam.lightLoadValue}" name="lightLoadValue" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">轻载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="slightLoadThreshold" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">轻载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="plightLoadThreshold" th:field="*{personLoadParam.lightLoadThreshold}" name="lightLoadThreshold" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">满载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sfullLoadValue" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">满载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pfullLoadValue" th:field="*{personLoadParam.fullLoadValue}" name="fullLoadValue" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">满载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sfullLoadThreshold" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">满载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pfullLoadThreshold" th:field="*{personLoadParam.fullLoadThreshold}" name="fullLoadThreshold" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">超载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="soverLoadValue" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">超载阈值(kg)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="poverLoadValue" th:field="*{personLoadParam.overLoadValue}" name="overLoadValue" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">超载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="soverLoadThreshold" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">超载阈值偏差(%)：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="poverLoadThreshold" th:field="*{personLoadParam.overLoadThreshold}" name="overLoadThreshold" placeholder="" class="form-control" readonly/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <botton class="btn btn-primary btn-oc-width" disabled="disabled"  id="rclSubjectToTheSensor">以传感器为准</botton>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            <botton class="btn btn-primary btn-oc-width" disabled="disabled" id="rclSubjectToPlatformSettings">以平台设置为准</botton>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">下发状态：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" name="" id="poilSendStatus" value="" class="form-control sendStatus" readonly/>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary refreshBtn"  id="readConventionalsRefresh">刷新</button>
    <button type="button" class="btn btn-primary" id="readConventionalsSend">修正下发</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</form>
<script type="text/javascript" src="/clbs/resources/js/LoadVehicleSettingGeneral.js" ></script>