<form th:action="@{/c/user/newuser}" id="addForm" role="form" action="#"
	  method="post" class="form-horizontal" autocomplete="off">
	<div class="modal-header">
		<button type="button" id="doXAdd" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		<h4 class="modal-title">新增用户</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 用户名：</label>
					<div class="col-md-7">
						<input name="username" placeholder="请输入用户名" type="text" autocomplete="off"
							   id="usernameAdd" class="form-control auto-input" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 密码：</label>
					<div class="col-md-7">
						<input name="password" id="passwordAdd" placeholder="长度8-25位，必须包含大小写字母、数字和特殊字符（不含空格）中的两者"
							    class="form-control" autocomplete="new-password" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 请确认密码：</label>
					<div class="col-md-7">
						<input name="password1" id="password1" placeholder="请再次输入密码"
							    class="form-control" />
					</div>
				</div>
				<input id="groupId"  th:value="${orgId}" name="groupId" type="text"
					   hidden="true" />
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger">*</label> 所属企业：</label>
					<div class="has-feedback col-md-7 fastClear">
						<input name="groupName"  th:value="${groupName}" class="form-control" id="zTreeCitySelAdd"
							   placeholder="请选择所属企业" style="background-color: #fafafa; cursor: pointer;" type="text" autocomplete="off"/>
						<span class="fa fa-chevron-down form-control-feedback"
							  aria-hidden="true" id="zTreeCitySelSpan"></span>
						<div class="ztreeModelBox" id="zTreeContentAdd" style="top:36px!important">
							<ul id="ztreeDemoAdd" class="ztree"></ul>
						</div>
						<label id="error_label_add" class="error" style="display: none;"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label class="text-danger"></label> 状态：</label>
					<div class="col-md-7">
						<select id="stateAdd" class="form-control" name="state">
							<option value = "1" >启用</option>
							<option value = "0" >停用</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">授权截止日期：</label>
					<div class="col-md-7">
						<input style="cursor: pointer;  background-color: #fafafa;" class="form-control layer-date laydate-icon"
							   id="authorizationDateAdd" name="authorizationDate" readonly
							   placeholder="请选择授权截止日期" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger"></label> 真实姓名：</label>
					<div class="col-md-7">
						<input name="fullName" placeholder="请输入真实姓名" type="text"
							   id="fullNameAdd" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
							class="text-danger"></label> 身份证号：</label>
					<div class="col-md-7">
						<input name="identityNumber" placeholder="请输入身份证号" type="text"
							   id="identityNumber" class="form-control"  maxlength="18"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">性别：</label>
					<div class="col-md-7">
						<label class="radio-inline"><input type="radio" name="gender" value="1" checked="checked"> 男</label> 
						<label class="radio-inline"><input type="radio" name="gender" value="2"> 女</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">电话号码：</label>
					<div class="col-md-7">
						<input name="mobile" placeholder="请输入电话号码" type="text" id="mobileAdd"
							   class="form-control" maxlength="11"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">邮箱：</label>
					<div class="col-md-7">
						<input name="mail" placeholder="请输入邮箱" type="text" id="mailAdd"
							   class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">身份：</label>
					<div class="col-md-7">
						<input name="identity" placeholder="请输入身份" type="text" id="identity" maxlength="20"
							   class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">行业：</label>
					<div class="col-md-7">
						<select name="industry" id="industry" class="form-control">
							<option value="-1">-- 请选择行业 --</option>
							<option th:each="c:${operationList}"
									th:value="${c.id}"
									th:text="${c.operationType}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">职务：</label>
					<div class="col-md-7">
						<input name="duty" placeholder="请输入职务" type="text" id="duty" maxlength="20"
							   class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">科室：</label>
					<div class="col-md-7">
						<input name="administrativeOffice" placeholder="请输入科室" type="text" id="administrativeOffice" maxlength="20"
							   class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">社会保险号：</label>
					<div class="col-md-7">
						<input name="socialSecurityNumber" placeholder="请输入社会保险号" type="text" id="socialSecurityNumber" maxlength="20"
							   class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button id="doSubmitAdd" class="btn btn-primary" type="button">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" id = "closeAdd">
			<strong>关 闭</strong>
		</button>
	</div>
	<input  type="hidden" th:value="${session.avoidRepeatSubmitToken}" name="avoidRepeatSubmitToken" id="avoidRepeatSubmitToken">
</form>
<script th:inline="javascript">
    var userNameNull = [[#{username.null}]];
    var userNameError = [[#{username.error}]];
    var userNameMinLength = [[#{username.minLength}]];
    var usernameExists = [[#{username.exists}]];
    var usernameAuthorizationDateNull = [[#{username.authorizationDate.null}]];
    var usernameAuthorizationToday = [[#{username.authorization.today}]];
    var passWordNull = [[#{password.null}]];
    var passwordMinLength = [[#{password.minLength}]];
    var passwordCompareNull = [[#{password.compare.null}]];
    var emailError = [[#{email.error}]];
    var phoneError = [[#{phone.error}]];
    var telPhoneError = [[#{telPhone.error}]];
    var publicMinSize2Length=[[#{ public.minSize2.length}]];
    var publicSelectGroupNull=[[#{ public.selectGroup.null}]];
    var publicSize25=[[#{public.size25.length}]];
    var publicSize20=[[#{public.size20.length}]];
    var publicSize60=[[#{public.size60.length}]];
    var userGroupNull=[[#{user.group.null}]];
    var publicAddSuccess=[[#{public.add.success}]];
    var userNameMixlength=[[#{user.name.mixlength}]];

</script>
<script src="/wro/userAdd.js" th:src="@{/wro/userAdd.js}"></script>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
