<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>组织与用户</title>
<div th:replace="fragments/header">header</div>
</head>
<body>
	<section id="container">
		<div th:replace="fragments/nav">nav</div>
		<section class="main-content-wrapper">
			<div th:replace="fragments/menu">menu</div>
			<section id="main-content">
				<div class="row eightIsZero">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a th:href="@{/}">首页</a></li>
							<li>基础信息</li>
							<li class="active">企业管理</li>
							<li class="active">组织与用户</li>
						</ul>
						<h1 class="h1 ">组织与用户</h1>
					</div>
				</div>
				 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title fwb">修改密码</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <input th:value="${user.password}" id="oldPwd" type="hidden"  />
                            <div class="panel-body">
                            	<div style="width:80%;margin:auto">
                            		<form class="form-horizontal" id="changePwdForm" role="form"  >
                            		<div class="form-group">
                            			<label for="username" class="col-sm-2 control-label">用户名</label>
                            			<div class="col-sm-5">
                            				 <input type="hidden" disabled class="form-control"  id="username" th:value="${user.username}">
											<span class="form-control" id="userNameSpan" readonly="true" style="line-height: 1.8"></span>
                            			</div>
                            		</div>
                            		<div class="form-group">
                            			<label for="oldpass" class="col-sm-2 control-label">旧密码</label>
                            			<div class="col-sm-5">
                            				<input class="form-control"  id="oldpass" type="password" name="oldpass" placeholder="请输入旧密码">
                            			</div>
                            		</div>
                            		<div class="form-group">
                            			<label for="newpass" class="col-sm-2 control-label">新密码</label>
                            			<div class="col-sm-5">
                            				<input type="password" class="form-control"  id="newpass" name="newpass" placeholder="请输入新密码，长度8-25位，必须包含大小写字母、数字和特殊字符（不含空格）中的两者">
                            			</div>
                            		</div>
                            		<div class="form-group">
                            			<label for="newpassAgain" class="col-sm-2 control-label">确认新密码</label>
                            			<div class="col-sm-5">
                            				<input type="password" class="form-control"  id="newpassAgain" name="newpassAgain" placeholder="请再次输入新密码">
                            			</div>
                            		</div>
                            		<div class="form-group">
                            			<div class="col-sm-offset-2 col-sm-5" style="text-align:right">
                            				<button type="submit"  class="btn btn-primary" id="submit" style="text-align:center;" >确认修改</button>
                            				<button type="reset" class="btn btn-primary btn-sm">清空</button>
                            			</div>
                            		</div>
                            	</form>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
		</section>
	</section>
<div th:replace="fragments/footer">footer</div>
<script src="/wro/userChangePwd.js" th:src="@{/wro/userChangePwd.js}"></script>
</body>
</html>
