<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>组织与用户</title>
<div th:replace="fragments/header">header</div>
<style type="text/css">
    .profile-icon-pr{padding-right:5px;}
</style>
</head>
<body>
    <section id="container">
        <div th:replace="fragments/nav">nav</div>
        <section class="main-content-wrapper">
        	<div th:replace="fragments/menu">menu</div>
            <section id="main-content">
                <div class="row eightIsZero">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a th:href="@{/}">首页</a></li>
                            <li>基础信息</li>
                            <li class="active">企业管理</li>
                            <li class="active">组织与用户</li>
                        </ul>
                        <h1 class="h1 ">组织与用户</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title fwb">用户个人信息</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group well ">
                                    <p ><span class="glyphicon glyphicon-user profile-icon-pr"></span><label class=" control-label profile-icon-pr">用户名:</label><span th:text="${user.username}!='null'?${user.username}:''" ></span></p>
                                    <p><span class="glyphicon glyphicon-earphone profile-icon-pr"></span><label class="control-label profile-icon-pr">电话:</label><span th:text="${user.mobile}!='null'?${user.mobile}:''" ></span></p>
                                    <p><span class="glyphicon glyphicon-tasks profile-icon-pr"></span><label class=" control-label profile-icon-pr">所在部门:</label><span th:text="${user.ou}!='null'?${user.ou}:''" ></span></p>
                                    <p><span class="glyphicon glyphicon-envelope profile-icon-pr"></span><label class="control-label profile-icon-pr">邮箱:</label><span th:text="${user.mail}!='null'?${user.mail}:''" ></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <div th:replace="fragments/footer">footer</div>
</body>
</html>