<form th:action="@{/m/basicinfo/monitoring/vehicle/import}"
	id="importForm" role="form" action="#" method="post"
	class="form-horizontal" enctype="multipart/form-data">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">导入车辆信息</h4>
	</div>
	<div class="modal-body">
		<a class="btn btn-primary" th:href="@{/m/basicinfo/monitoring/vehicle/download}"><strong>通用模板下载</strong></a>
		<a class="btn btn-primary" th:href="@{/m/basicinfo/monitoring/vehicle/downloadFreight}"><strong>货运模板下载</strong></a>
		<a class="btn btn-primary" th:href="@{/m/basicinfo/monitoring/vehicle/downloadEngineering}"><strong>工程机械模板下载</strong></a>
		<br/><br/>
		<div class="inpFilePhoto">
			<input type="file" id="excelPath" name="file" />
			<label class="changeFile" for="excelPath">导入文件</label>
		</div>
		<div class="fileNameShow"></div>
		<div class="progress" style="display:none;">
		  <div class="progress-bar progress-bar-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		    0%
		  </div>
		</div>
	</div>
	<div class="modal-footer modal-footer-martop">
		<button class="btn btn-primary" type="button" id="doSubmits">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" >
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script th:inline="javascript">
	var module = 'VEHICLE';
</script>

<script src="resources/js/importSocketFileV.js" th:src="@{/resources/js/importSocketFileV.js}"></script>
