<form th:object="${result}" id="editForm" role="form" action="#"
      method="post" class="form-horizontal">
    <div class="modal-header">
        <button id="doXAdd" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">车辆详情</h4>
    </div>
    <style>
        .inputStyleHide{
            background: none!important;
        }
    </style>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        基本信息
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><label
                            class="text-danger">*</label> 车牌号：</label>
                    <div class="col-md-4">
                        <input name="brand" th:field="*{brand}" disabled placeholder="请输入车牌号" type="text"
                               id="brand"
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label"><label
                            class="text-danger">*</label> 所属企业：</label>
                    <div class="has-feedback col-md-4">
                        <input name="groupName" th:field="*{groupName}" disabled type="text"
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">别名：</label>
                    <div class="col-md-4">
                        <input name="aliases" th:field="*{aliases}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">车主：</label>
                    <div class="col-md-4">
                        <input name="vehicleOwner" th:field="*{vehicleOwner}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">车辆类别：</label>
                    <div class="col-md-4">
                        <select name="vehicleCategory" disabled th:value="*{vehicleCategoryName}" placeholder="其他车辆"
                                id="vehicleCategory"
                                class="form-control inputStyleHide">
                        </select>
                    </div>
                    <label class="col-md-2 control-label">车辆类型：</label>
                    <div class="col-md-4">
                        <input name="vehicleType" th:field="*{vehiclet}" disabled type="text"
                               class="form-control inputStyleHide"/>
<!--
                        <select name="vehicleType" disabled th:value="*{vehicleType}" placeholder="其他车辆" id="vehicleType"
                                class="form-control inputStyleHide">
                        </select>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">车主电话：</label>
                    <div class="col-md-4">
                        <input name="vehicleOwnerPhone" th:field="*{vehicleOwnerPhone}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">电话是否校验：</label>
                    <div class="col-md-4">
                        <select name="phoneCheck" disabled th:field="*{phoneCheck}" placeholder="请输入车辆类型" id="phoneCheck"
                                class="form-control inputStyleHide">
                            <option value="-1"></option>
                            <option value="0">未校验</option>
                            <option value="1">已校验</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">车辆颜色：</label>
                    <div class="col-md-4">
                        <select name="vehicleColor" disabled th:field="*{vehicleColor}" placeholder="请选择车辆颜色"
                                class="form-control inputStyleHide">
                            <option selected="selected" value="0">黑色</option>
                            <option value="1">白色</option>
                            <option value="2">红色</option>
                            <option value="3">蓝色</option>
                            <option value="4">紫色</option>
                            <option value="5">黄色</option>
                            <option value="6">绿色</option>
                            <option value="7">粉色</option>
                            <option value="8">棕色</option>
                            <option value="9">灰色</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">车牌颜色：</label>
                    <div class="col-md-4">
                        <select name="plateColor" disabled th:field="*{plateColor}" placeholder="请选择车牌颜色"
                                class="form-control inputStyleHide">
                            <option value="1">蓝色</option>
                            <option value="2">黄色</option>
                            <option value="3">黑色</option>
                            <option value="4">白色</option>
                            <option value="5">绿色</option>
                            <option value="94">渐变绿色</option>
                            <option value="93">黄绿色</option>
                            <option value="91">农黄</option>
                            <option value="90">农蓝</option>
                            <option value="92">农绿</option>
                            <option value="9">其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">燃料类型：</label>
                    <div class="col-md-4">
                        <input name="fuelType" th:field="*{fuelType}" disabled
                               class="form-control inputStyleHide"/>
                       <!--
                        <select name="fuelType" disabled th:value="*{fuelType}" class="form-control inputStyleHide" id="fuelType">
                            <optgroup label="柴油" id="dieselOil">
                            </optgroup>
                            <optgroup label="汽油" id="gasoline">
                            </optgroup>
                            <optgroup label="天然气" id="naturalGas">
                                &lt;!&ndash;  <option value="CNG">CNG</option> &ndash;&gt;
                            </optgroup>
                        </select>-->
                    </div>
                    <label class="col-md-2 control-label">区域属性：</label>
                    <div class="col-md-4">
                        <select name="areaAttribute" disabled th:field="*{areaAttribute}" placeholder="请选择区域属性"
                                class="form-control inputStyleHide">
                            <option value="省内">省内</option>
                            <option value="跨省">跨省</option>
                            <option value="进京报备">进京报备</option>
                        </select>
                    </div>
                </div>
                <div data-toggle="distpicker">
                    <div class="form-group">
                        <label class="col-md-2 control-label">省、直辖市：</label>
                        <div class="col-md-4">
                            <input name="province" th:field="*{province}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">市、区：</label>
                        <div class="col-md-4">
                            <input name="city" th:field="*{city}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">县：</label>
                        <div class="col-md-4">
                            <input name="county" th:field="*{county}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">运营类别：</label>
                        <div class="col-md-4">
                            <input name="vehiclePurposeName" th:field="*{vehiclePurposeName}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">所属行业：</label>
                    <div class="col-md-4">
                        <input name="tradeName" th:field="*{tradeName}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">车辆状态：</label>
                    <div class="col-md-4">
                        <select th:field="*{isStart}" disabled name="isStart" class="form-control inputStyleHide">
                            <option value="1">启用</option>
                            <option value="0">停用</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">核定载人数：</label>
                    <div class="col-md-4">
                        <input name="numberLoad" th:field="*{numberLoad}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">核定载质量：</label>
                    <div class="col-md-4">
                        <input name="loadingQuality" th:field="*{loadingQuality}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">车辆保险单号：</label>
                    <div class="col-md-4">
                        <input name="vehicleInsuranceNumber" th:field="*{vehicleInsuranceNumber}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">车辆等级：</label>
                    <div class="col-md-4">
                        <input name="vehicleLevel" th:field="*{vehicleLevel}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">技术等级有效期：</label>
                    <div class="col-md-4">
                        <input name="vehicleTechnologyValidity" th:field="*{vehicleTechnologyValidity}"
                               disabled class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">保养里程数(km)：</label>
                    <div class="col-md-4">
                        <input th:field="*{maintainMileage}" type="text" disabled class="form-control inputStyleHide"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">保养有效期：</label>
                    <div class="col-md-4">
                        <input disabled class="form-control inputStyleHide" id="maintainValidity" th:field="*{maintainValidity}"/>
                    </div>
                    <label class="col-md-2 control-label">车台安装日期：</label>
                    <div class="col-md-4">
                        <input disabled class="form-control inputStyleHide" id="vehiclePlatformInstallDate" th:field="*{vehiclePlatformInstallDate}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">备注：</label>
                    <div class="col-md-4">
                        <input name="remark" th:field="*{remark}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <label class="col-md-2 control-label">维修状态：</label>
                    <div class="col-md-4">
                        <input th:value="*{stateRepair}" id="stateRepair" hidden="true">
                        <input id="stateRepairVal" value="" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        运输证信息
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">道路运输证号：</label>
                    <div class="col-md-4">
                        <input name="roadTransportNumber" th:field="*{roadTransportNumber}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <div class="col-md-6 control-label text-right">
                        <span id="transportCertificate" class="info-span"
                              style="cursor: pointer;"><font>显示更多</font><span class="fa fa-chevron-down"
                                                                              aria-hidden="true"></span></span>
                    </div>
                </div>
                <div id="transportCertificate-content" style="display: none">
                    <div class="form-group">
                        <label class="col-md-2 control-label">经营许可证号：</label>
                        <div class="col-md-4">
                            <input name="vehiclOperationNumber" th:field="*{vehiclOperationNumber}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">经营范围：</label>
                        <div class="col-md-4">
                            <input name="scopeBusiness" th:field="*{scopeBusiness}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">核发机关：</label>
                        <div class="col-md-4">
                            <input name="issuedAuthority" th:field="*{issuedAuthority}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">经营权类型：</label>
                        <div class="col-md-4">
                            <select name="managementType" disabled th:field="*{managementType}" id="managementType"
                                    class="form-control inputStyleHide">
                                <option value="-1"></option>
                                <option value="0">国有</option>
                                <option value="1">集体</option>
                                <option value="2">私营</option>
                                <option value="3">个体</option>
                                <option value="4">联营</option>
                                <option value="5">股份制</option>
                                <option value="6">外商投资</option>
                                <option value="7">港澳台及其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">道路运输证有效期起：</label>
                        <div class="col-md-4">
                            <input name="roadTransportValidityStart" th:field="*{roadTransportValidityStart}"
                                   disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">道路运输证有效期至：</label>
                        <div class="col-md-4">
                            <input name="roadTransportValidity" th:field="*{roadTransportValidity}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">线路牌号：</label>
                        <div class="col-md-4">
                            <input name="lineNumber" th:field="*{lineNumber}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">始发地：</label>
                        <div class="col-md-4">
                            <input name="provenance" th:field="*{provenance}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">途经站名：</label>
                        <div class="col-md-4">
                            <input name="viaName" th:field="*{viaName}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">终到地：</label>
                        <div class="col-md-4">
                            <input name="destination" th:field="*{destination}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">始发站：</label>
                        <div class="col-md-4">
                            <input name="departure" th:field="*{departure}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">路线入口：</label>
                        <div class="col-md-4">
                            <input name="routeEntry" th:field="*{routeEntry}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">终到站：</label>
                        <div class="col-md-4">
                            <input name="destinationStation" th:field="*{destinationStation}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">路线出口：</label>
                        <div class="col-md-4">
                            <input name="exportRoute" th:field="*{exportRoute}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">每日发班次数：</label>
                        <div class="col-md-4">
                            <input name="dailyNumber" th:field="*{dailyNumber}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">提前提醒天数：</label>
                        <div class="col-md-4">
                            <input name="managementRemindDays" th:field="*{managementRemindDays}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">营运状态：</label>
                        <div class="col-md-4">
                            <select name="operatingState" disabled th:field="*{operatingState}"
                                    id="operatingState"
                                    class="form-control inputStyleHide">
                                <option value="0" selected>营运</option>
                                <option value="1">停运</option>
                                <option value="2">挂失</option>
                                <option value="3">报废</option>
                                <option value="4">歇业</option>
                                <option value="5">注销</option>
                                <option value="6">迁出(过户)</option>
                                <option value="7">迁出(转籍)</option>
                                <option value="8">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        行驶证信息
                    </label>
                </div>
                <div class="form-group">
                    <!--<label class="col-md-2 control-label">行驶证号：</label>-->
                    <!--<div class="col-md-4">-->
                        <!--<input name="licenseNo" th:field="*{licenseNo}" disabled-->
                               <!--class="form-control inputStyleHide"/>-->
                    <!--</div>-->
                    <label class="col-md-2 control-label">车架号：</label>
                    <div class="col-md-4">
                        <input name="chassisNumber" th:field="*{chassisNumber}" disabled
                               class="form-control inputStyleHide"/>
                    </div>
                    <div class="col-md-6 control-label text-right">
                        <span id="drivingLicense" class="info-span"
                              style="cursor: pointer;"><font>显示更多</font><span class="fa fa-chevron-down"
                                                                              aria-hidden="true"></span></span>
                    </div>
                </div>
                <div id="drivingLicense-content" style="display: none">
                    <div class="form-group">
                        <label class="col-md-2 control-label">发动机号：</label>
                        <div class="col-md-4">
                            <input name="engineNumber" th:field="*{engineNumber}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">使用性质：</label>
                        <div class="col-md-4">
                            <input name="usingNature" th:field="*{usingNature}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">品牌型号：</label>
                        <div class="col-md-4">
                            <input name="brandModel" th:field="*{brandModel}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">行驶证有效期起：</label>
                        <div class="col-md-4">
                            <input name="registrationStartDate" th:field="*{registrationStartDate}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">行驶证有效期至：</label>
                        <div class="col-md-4">
                            <input name="registrationEndDate" th:field="*{registrationEndDate}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">行驶证发证日期：</label>
                        <div class="col-md-4">
                            <input name="licenseIssuanceDate" th:field="*{licenseIssuanceDate}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">行驶证登记日期：</label>
                        <div class="col-md-4">
                            <input name="registrationDate" th:field="*{registrationDate}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">备注：</label>
                        <div class="col-md-4">
                            <input name="registrationRemark" th:field="*{registrationRemark}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 freightTransport-box">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        货运信息
                    </label>
                    <div class="col-md-offset-4 col-md-6 control-label text-right">
                        <span id="freightTransport" class="info-span"
                              style="cursor: pointer;"><font>显示更多</font><span class="fa fa-chevron-down"
                                                                              aria-hidden="true"></span></span>
                    </div>
                </div>
                <div id="freightTransport-content" style="display: none">
                    <div class="form-group">
                        <label class="col-md-2 control-label">车辆品牌：</label>
                        <div class="col-md-4">
                            <input name="vehicleBrand" th:field="*{vehicleBrand}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">车辆型号：</label>
                        <div class="col-md-4">
                            <input name="vehicleModel" th:field="*{vehicleModel}" disabled
                                   class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">车辆出厂日期：</label>
                        <div class="col-md-4">
                            <input name="vehicleProductionDate" th:field="*{vehicleProductionDate}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">首次上线时间：</label>
                        <div class="col-md-4">
                            <input name="firstOnlineTime" th:field="*{firstOnlineTime}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">车辆购置方式：</label>
                        <div class="col-md-4">
                            <select name="purchaseWay" th:field="*{purchaseWay}" id="purchaseWay"
                                    class="form-control inputStyleHide" disabled="disabled">
                                <option value="-1"></option>
                                <option value="0">分期付款</option>
                                <option value="1">一次性付清</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label">校验有效期至：</label>
                        <div class="col-md-4">
                            <input name="validEndDate" th:field="*{validEndDate}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">执照上传数：</label>
                        <div class="col-md-4">
                            <input name="licenseNumbers" th:field="*{licenseNumbers}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">总质量(kg)：</label>
                        <div class="col-md-4">
                            <input name="totalQuality" th:field="*{totalQuality}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">准牵引总质量(kg)：</label>
                        <div class="col-md-4">
                            <input name="tractionTotalMass" th:field="*{tractionTotalMass}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">外廓尺寸-长(mm)：</label>
                        <div class="col-md-4">
                            <input name="profileSizeLong" th:field="*{profileSizeLong}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">外廓尺寸-宽(mm)：</label>
                        <div class="col-md-4">
                            <input name="profileSizeWide" th:field="*{profileSizeWide}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">外廓尺寸-高(mm)：</label>
                        <div class="col-md-4">
                            <input name="profileSizeHigh" th:field="*{profileSizeHigh}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">货厢内部尺寸-长(mm)：</label>
                        <div class="col-md-4">
                            <input name="internalSizeLong" th:field="*{internalSizeLong}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">货厢内部尺寸-宽(mm)：</label>
                        <div class="col-md-4">
                            <input name="internalSizeWide" th:field="*{internalSizeWide}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">货厢内部尺寸-高(mm)：</label>
                        <div class="col-md-4">
                            <input name="internalSizeHigh" th:field="*{internalSizeHigh}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">轴数：</label>
                        <div class="col-md-4">
                            <input name="shaftNumber" th:field="*{shaftNumber}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">轮胎数：</label>
                        <div class="col-md-4">
                            <input name="tiresNumber" th:field="*{tiresNumber}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">轮胎规格：</label>
                        <div class="col-md-4">
                            <input name="tireSize" th:field="*{tireSize}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 constructionMachinery-box">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        工程机械信息
                    </label>
                    <div class="col-md-offset-4 col-md-6 control-label text-right">
                        <span id="constructionMachinery" class="info-span"
                              style="cursor: pointer;"><font>显示更多</font><span class="fa fa-chevron-down"
                                                                              aria-hidden="true"></span></span>
                    </div>
                </div>
                <div id="constructionMachinery-content" style="display: none">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <label class="text-danger">*</label>车主姓名：
                        </label>
                        <div class="col-md-4">
                            <input name="vehicleOwnerName" th:field="*{vehicleOwnerName}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">
                            <label class="text-danger">*</label>车主手机1：
                        </label>
                        <div class="col-md-4">
                            <input name="ownerPhoneOne" th:field="*{ownerPhoneOne}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">车主手机2：</label>
                        <div class="col-md-4">
                            <input name="ownerPhoneTwo" th:field="*{ownerPhoneTwo}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">车主手机3：</label>
                        <div class="col-md-4">
                            <input name="ownerPhoneThree" th:field="*{ownerPhoneThree}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">车主座机：</label>
                        <div class="col-md-4">
                            <input name="ownerLandline" th:field="*{ownerLandline}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">
                            <label class="text-danger">*</label>车辆子类型：
                        </label>
                        <div class="col-md-4">
                            <input name="vehicleSubtypes" th:field="*{vehicleSubtypes}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <label class="selfRespect-required text-danger" style="display: none;">*</label>自重(T)：
                        </label>
                        <div class="col-md-4">
                            <input name="selfRespect" th:field="*{selfRespect}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">
                            <label class="abilityWork-required text-danger" style="display: none;">*</label>工作能力(T)：
                        </label>
                        <div class="col-md-4">
                            <input name="abilityWork" th:field="*{abilityWork}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">工作半径(m)：</label>
                        <div class="col-md-4">
                            <input name="workingRadius" th:field="*{workingRadius}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label" >机龄：</label>
                        <div class="col-md-4">
                            <input name="machineAge" th:field="*{machineAge}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            品牌：
                        </label>
                        <div class="col-md-4">
                            <input name="brandName" th:field="*{brandName}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">
                            机型：
                        </label>
                        <div class="col-md-4">
                            <input name="brandName" th:field="*{modelName}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">初始里程(km)：</label>
                        <div class="col-md-4">
                            <input name="initialMileage" th:field="*{initialMileage}" disabled class="form-control inputStyleHide"/>
                        </div>
                        <label class="col-md-2 control-label">初始工时(h)：</label>
                        <div class="col-md-4">
                            <input name="initialWorkHours" th:field="*{initialWorkHours}" disabled class="form-control inputStyleHide"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-12">-->
                <!--<div class="col-md-7 form-group">-->
                    <!--<div class="col-md-offset-1">-->
                        <!--<table width="50%" border="0" cellspacing="0" cellpadding="0">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td align="left">-->
                                    <!--<div id="localImag">-->
                                        <!--<img id="preview" src="">-->
                                        <!--<input id="vehiclephoto" name="vehiclePhoto" th:field="*{vehiclePhoto}"-->
                                               <!--type="hidden"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-12">
                <table id="carInfoPhotoTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="25%"></th>
                        <th width="25%"></th>
                        <th width="25%"></th>
                        <th width="25%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="carInfoTableFirstTr">
                        <td align="center" id="vehicleImage" width="25%">
                            <div id="localImag" style="padding: 0 5px;">
                                <img height="200px" id="preview" src="../../../../resources/img/computer.jpg">
                                <input id="vehiclephoto" name="vehiclePhoto" th:field="*{vehiclePhoto}"
                                       type="hidden"/>
                            </div>
                        </td>
                        <td align="center" id="transportNumberImage" width="25%">
                            <div style="padding: 0 5px;">
                                <img height="200px" id="transportNumberImageUrl" src="../../../../resources/img/computer.jpg">
                                <input id="transportNumberPhoto" name="transportNumberPhoto" th:field="*{transportNumberPhoto}"
                                       type="hidden"/>
                            </div>
                        </td>
                        <td align="center" id="drivingLicenseFrontImage" width="25%">
                            <div style="padding: 0 5px;">
                                <img height="200px" id="drivingLicenseFrontImageUrl" src="../../../../resources/img/computer.jpg">
                                <input id="drivingLicenseFrontPhoto" name="drivingLicenseFrontPhoto" th:field="*{drivingLicenseFrontPhoto}"
                                       type="hidden"/>
                            </div>
                        </td>
                        <td align="center" id="drivingLicenseDuplicateImage" width="25%">
                            <div style="padding: 0 5px;">
                                <img height="200px" id="drivingLicenseDuplicateImageUrl" src="../../../../resources/img/computer.jpg">
                                <input id="drivingLicenseDuplicatePhoto" name="drivingLicenseDuplicatePhoto" th:field="*{drivingLicenseDuplicatePhoto}"
                                       type="hidden"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" id="vehicleText">
                            <span>车辆照片</span>
                        </td>
                        <td align="center" id="transportNumberText">
                            <span>运输证</span>
                        </td>
                        <td align="center" id="drivingLicenseFrontText">
                            <span>行驶证正面</span>
                        </td>
                        <td align="center" id="drivingLicenseDuplicateText">
                            <span>行驶证反面</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input id="permissionEditTree" name="permissionEditTree" type="text"
                   hidden="true"/>
        </div>
    </div>
    <div class="modal-footer">
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<lable th:value="${result.province}" id="hiddenProvince"></lable>
<lable th:value="${result.city}" id="hiddenCity"></lable>
<lable th:value="${result.county}" id="hiddenCounty"></lable>
<script src="resources/js/CityDistpicker/distpicker.data.js"
        th:src="@{/resources/js/CityDistpicker/distpicker.data.js}"></script>
<script src="resources/js/CityDistpicker/distpicker.js" th:src="@{/resources/js/CityDistpicker/distpicker.js}"></script>

<script src="resources/js/vehicleDetail.js" th:src="@{/resources/js/vehicleDetail.js}"></script>

