<form id="editForm" th:action="@{/v/sensorConfig/vehiclePeripheral/edit}" action="#" role="form" method="post"
      class="form-horizontal" th:object="${result}">
    <div class="modal-header">
        <button id="doXEdit" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改车辆外设</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 外设名称：</label>
                    <div class="col-md-7">
                        <input type="hidden" name="id" th:field="*{id}" />
                        <input autocomplete="off" id="peripheralsName" name="name" th:field="*{name}" maxlength="25" placeholder="请输入外设名称" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 外设ID： </label>
                    <div class="col-md-7  has-feedback">
                        <input autocomplete="off" id="peripheralsId"  name="identId" th:field="*{identId}" maxlength="4" placeholder="外设ID格式和范围:0x00~0xFF" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">外设消息长度： </label>
                    <div class="col-md-7  has-feedback">
                        <input autocomplete="off" id="peripheralsMsgLength" th:field="*{msgLength}" maxlength="4"  name="msgLength" placeholder="请输入外设消息长度" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="doSubmits">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
    <label id="error_label_edit" class='error' style='display: none;'></label>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script src="/wro/vehiclePeripheralEdit.js" th:src="@{/wro/vehiclePeripheralEdit.js}"></script>