/* main.css */

#entryContentBox {
    margin-bottom: 0;
}

.modal-lg {
    width: 80%;
}

#entryBox {
    border-radius: 4px;
    border: 1px solid #d4d4d4;
}

#entryBox>.wizard {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 4px 4px 0 0;
}

.fuelux .form-group {
    margin-bottom: 25px;
}

.fuelux label {
    margin-bottom: 0;
}

#entryContentBox {
    padding-top: 20px
}

#myWizard {
    margin-top: -18px;
}

#quickEntryForm,
#fastEntryForm {
    min-height: 159px;
    margin: 0 -15px;
}

/*#quickEntryForm div.col-md-4, #fastEntryForm div.col-md-4 {
    margin-bottom: 32px;
}*/

#quickEntryForm .col-md-4.control-label,
#fastEntryForm .col-md-4.control-label,
#addScanCodeEntry .col-md-4.control-label {
    padding-left: 0;
    padding-right: 0;
}

/* #addScanCodeEntry .form-group {
    margin-bottom: 32px;
}*/

#quickEntryForm button,
#fastEntryForm button {
    margin-bottom: 0;
}

/*#quickEntryForm #error_label, #fastEntryForm #error_label {
    position: absolute;
    left: 0;
    top: 36px;
}*/

#quickSubmits,
#speedSubmits {
    margin-right: 30px;
}

.lab-group {
    height: 36px;
}

.step-content {
    margin: 0;
    padding: 0;
    border: none;
}

#dataTable tr td {
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    /* Firefox 4 */
    -webkit-transition: background-color .5s;
    /* Safari 和 Chrome */
    -o-transition: background-color .5s;
}

#dataTable .highTr td {
    background-color: #fff8b0 !important;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.fakeHide {
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    opacity: 0;
}

.brokenDeleteButton {
    position: relative;
}

.brokenDisableClick {
    background-color: #ccc;
    color: #444;
    position: relative;
}
