<form th:action="@{/m/connectionparamsset/add}" id="addForm"
      role="form" action="#" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">新增809连接参数</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="platformName_add" class="col-md-2 control-label">
                        <label class="text-danger"></label>
                        平台名称：
                    </label>
                    <div class="col-md-4">
                        <input name="platformName" placeholder="请输入平台名称" id="platformName_add" type="text"
                               class="form-control"/>
                    </div>
                    <label for="protocolType_add" class="col-md-1 control-label"
                           style="padding-right: 1px;width: 97px;">
                        <label class="text-danger">*</label>
                        协议类型：
                    </label>
                    <div class="col-md-4">
                        <select name="protocolType" style="width: 347px;" id="protocolType_add" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zTreeCitySel" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        所属企业：
                    </label>
                    <div class="col-md-4">
                        <input name="groupName" placeholder="请选择所属企业" id="zTreeCitySel" type="text" class="form-control"
                               readonly="readonly"
                               style="background-color: #fafafa; cursor: pointer;"/>
                        <div class="ztreeModelBox" id="zTreeContent">
                            <ul id="ztreeDemo" class="ztree"></ul>
                        </div>
                    </div>
                    <input id="selectGroup" name="groupId" type="hidden"/>

                    <label for="groupProperty_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger" style="margin-left:-17px;">*</label>
                        企业属性：
                    </label>
                    <div class="col-md-4">
                        <select name="groupProperty" id="groupProperty_add" class="form-control">
                            <option selected="selected" value="2">非经营性企业</option>
                            <option value="0">政府</option>
                            <option value="1">经营性企业</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ip_add" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        主链路IP地址：
                    </label>
                    <div class="col-md-4">
                        <input name="ip" placeholder="请输入主链路IP地址" id="ip_add" type="text" class="form-control"/>
                    </div>
                    <label for="port_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger">*</label>
                        端口：
                    </label>
                    <div class="col-md-4">
                        <input name="port" placeholder="请输入端口号" id="port_add" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userName_add" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        用户名：
                    </label>
                    <div class="col-md-4">
                        <input name="userName" id="userName_add" placeholder="请输入用户名" type="text" class="form-control"/>
                    </div>
                    <label for="password_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger">*</label>
                        密码：
                    </label>
                    <div class="col-md-4">
                        <input name="password" id="password_add" placeholder="请输入密码" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="centerId_add" class="col-md-2 control-label"><label
                            class="text-danger">*</label>
                        接入码：
                    </label>
                    <div class="col-md-4">
                        <input name="centerId" id="centerId_add" placeholder="请输入接入码" type="text" class="form-control"/>
                    </div>
                    <label for="m_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger">*</label>
                        m：
                    </label>
                    <div class="col-md-4">
                        <input name="m" placeholder="请输入m值" id="m_add" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ia_add" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        ia：
                    </label>
                    <div class="col-md-4">
                        <input name="ia" placeholder="请输入ia" id="ia_add" type="text" class="form-control"/>
                    </div>
                    <label for="ic_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger">*</label>
                        ic：
                    </label>
                    <div class="col-md-4">
                        <input name="ic" placeholder="请输入ic" id="ic_add" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="permitId_add" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        经营许可证号：
                    </label>
                    <div class="col-md-4">
                        <input name="permitId" placeholder="请输入经营许可证号" id="permitId_add" type="text"
                               class="form-control"/>
                    </div>
                    <label for="zoneDescription_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger" style="margin-left:-17px;">*</label>
                        行政区号：
                    </label>
                    <div class="col-md-4">
                        <input name="zoneDescription" placeholder="请输入行政区号" id="zoneDescription_add" type="text"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformId_add" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        平台ID：
                    </label>
                    <div class="col-md-4">
                        <input name="platformId" placeholder="请输入平台ID" id="platformId_add" type="text"
                               class="form-control"/>
                    </div>
                    <label for="versionFlag_add" class="col-md-1 control-label" style="padding-right: 1px;">
                        <label class="text-danger" style="margin-left:-17px">*</label>
                        版本号：
                    </label>
                    <div class="col-md-4">
                        <input name="versionFlag" placeholder="请输入版本号" id="versionFlag_add" type="text"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ipBranch" class="col-md-2 control-label">
                        <label class="text-danger">*</label>
                        从链路IP地址：
                        <div style="margin-left:55px; color:#999;font-size: 13px;text-align:center">
                            (上级平台回连的IP地址，即白名单)
                        </div>
                    </label>
                    <div class="col-md-9">
                        <textarea rows="5" cols="15" name="ipBranch"
                                  placeholder="" id="ipBranch"
                                  type="text" class="form-control">0.0.0.0</textarea>
                        <div style="color:#999;font-size: 13px">最多可填写10个IP，多个IP地址回车换行或用#分割,无从链路IP地址默认填写0.0.0.0;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" onclick="add809platform.doSubmit()">
            <strong>保 存</strong>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <strong>取 消</strong>
        </button>
    </div>
    <label id="error_label_add" class='error' style='display: none;'></label>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script type="text/javascript" src="/clbs/resources/js/connectionparamssetAdd.js"
        th:src="@{/resources/js/connectionparamssetAdd.js}"></script>
<script th:inline="javascript">
    $('input').inputClear();
</script>