<form th:object="${result}" id="detailForm" action="#" role="form" class="form-horizontal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">809连接参数详情</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
					<label class="col-md-2 control-label"><label
						class="text-danger">*</label>  平台名称：</label>
					<div class="col-md-4">
						<input th:field="*{platformName}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;width: 97px;"><label
						class="text-danger">*</label>  协议类型：</label>
					<div class="col-md-4" style="padding-left: 10px;">
						<input th:field="*{protocolTypeName}" style="width: 340px;" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
							class="text-danger">*</label>  所属企业：</label>
					<div class="col-md-4">
						<input th:field="*{groupName}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;width: 97px;"><label
							class="text-danger">*</label>  企业属性：</label>
					<div class="col-md-4" style="padding-left: 10px;">
						<input th:field="*{groupPropertyName}" style="width: 340px;" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
						class="text-danger">*</label>  主链路IP地址：</label>
					<div class="col-md-4">
						<input th:field="*{ip}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
						class="text-danger">*</label>  端口：</label>
					<div class="col-md-4">
						<input th:field="*{port}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
						class="text-danger">*</label>  用户名：</label>
					<div class="col-md-4">
						<input th:field="*{userName}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
						class="text-danger">*</label>  密码：</label>
					<div class="col-md-4">
						<input th:field="*{password}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
						class="text-danger">*</label>  接入码：</label>
					<div class="col-md-4">
						<input th:field="*{centerId}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
						class="text-danger">*</label>  m：</label>
					<div class="col-md-4">
						<input th:field="*{m}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
						class="text-danger">*</label>  ia：</label>
					<div class="col-md-4">
						<input th:field="*{ia}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
						class="text-danger">*</label>  ic：</label>
					<div class="col-md-4">
						<input th:field="*{ic}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
							class="text-danger">*</label>  经营许可证号：</label>
					<div class="col-md-4">
						<input th:field="*{permitId}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
							class="text-danger" style="margin-left:-17px">*</label>  行政区号：</label>
					<div class="col-md-4">
						<input th:field="*{zoneDescription}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
							class="text-danger">*</label>  平台ID：</label>
					<div class="col-md-4">
						<input th:field="*{platformId}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-1 control-label" style="padding-right: 1px;"><label
							class="text-danger" style="margin-left:-17px">*</label>  版本号：</label>
					<div class="col-md-4">
						<input th:field="*{versionFlag}" readonly="readonly" type="text" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><label
							class="text-danger">*</label>  从链路IP地址：
						<div style="margin-left:55px; color:#999;font-size: 13px;text-align:center">
							(上级平台回连的IP地址，即白名单)
						</div>
					</label>
					<div class="col-md-9">
						<textarea rows="3" readonly class="form-control inputStyleHide" th:text="*{ipBranch}" style="background-color: #fff"></textarea>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    	<span>
	        <button type="button" class="btn btn-default" data-dismiss="modal">
	            <strong>关 闭</strong>
	        </button>
    	</span>
    </div>
</form>
