<form th:action="@{/m/energy/mobileSourceBaseInfo/save}"
	th:object="${result}" id="editForm" role="form" action="#"
	method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXEdit" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">移动源基础信息</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="panel-heading">
                     <div class="dropdown panel-title fwb">
                         <ul class="nav nav-tabs" id="switch">
                             <li ><a href="#basicinfo" data-toggle="tab">基本信息</a></li>
                             <li class="active"><a href="#extendinfo" data-toggle="tab">扩展信息</a></li>                            
                         </ul>
                     </div>
                 </div>
                 <div class="panel-body">
                    <div class="tab-content">
                    <div class="tab-pane active" id="basicinfo" style="display:none;">
                    <div class="form-group">
					<label class="col-md-4 control-label"><label class="text-danger">*</label>车牌号：</label>
					<div class="col-md-5">
						<input readonly="true"  type="text" class="form-control inputStyleHide" id="carno"  th:value="${vehicleAndEnergy.vehicleBaseInfo.brand}">
					</div>	
					</div>			 
                    <div class="form-group">
					<label class="col-md-4 control-label">车牌别名：</label>
					<div class="col-md-5">
						<input readonly="true" type="text" class="form-control inputStyleHide" id="carname" th:value="${vehicleAndEnergy.vehicleBaseInfo.aliases}">
					</div>
					
				   </div><div class="form-group">
					<label class="col-md-4 control-label">车主：</label>
					<div class="col-md-5">
						<input readonly="true"  type="text" class="form-control inputStyleHide" id="owners"  th:value="${vehicleAndEnergy.vehicleBaseInfo.vehicleOwner}">
					</div>
				   </div>                   
                    <div class="form-group">
					<label class="col-md-4 control-label">车主电话：</label>
					<div class="col-md-5">
						<input readonly="true"  type="text" class="form-control inputStyleHide" id="ownertel"  th:value="${vehicleAndEnergy.vehicleBaseInfo.vehicleOwnerPhone}">
					</div>
				   </div>
				    <div class="form-group">
					<label class="col-md-4 control-label">车辆类型：</label>
					<div class="col-md-5">
                  <select  readonly="true" disabled  value="11"
							id="vehicleType" name="vehicleType" class="form-control inputStyleHide" style="border:none;background:#fff;">
						<option th:text="${vehicleAndEnergy.vehicleBaseInfo.vehicleType}" >黑色</option>	
						</select>			
					</div>
				   </div>
				    <div class="form-group">
					<label class="col-md-4 control-label">车架号：</label>
					<div class="col-md-5">
						<input readonly="true"  type="text" class="form-control inputStyleHide"  id="racknumber"  th:value="${vehicleAndEnergy.vehicleBaseInfo.chassisNumber}">
					</div>
				   </div>
				    <div class="form-group">
					<label class="col-md-4 control-label">发动机号：</label>
					<div class="col-md-5">
						<input readonly="true"  type="text" class="form-control inputStyleHide" id="enginenumber"  th:value="${vehicleAndEnergy.vehicleBaseInfo.engineNumber}">
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">车牌颜色：</label>
					<div class="col-md-5">
					<select  disabled readonly="true" name="vehicleColor" 
							 th:value="${vehicleAndEnergy.vehicleBaseInfo.plateColor}" class="form-control inputStyleHide" style="border:none;background:#fff;">
							<option value="0" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '0'}" >黑色</option>
							<option value="1" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '1'}" >白色</option>
							<option value="2" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '2'}">红色</option>
							<option value="3" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '3'}">蓝色</option>
							<option value="4" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '4'}">紫色</option>
							<option value="5" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '5'}">黄色</option>
							<option value="5" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '5'}">绿色</option>
							<option value="7" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '7'}">粉色</option>
							<option value="8" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '8'}">棕色</option>
							<option value="9" th:selected="${vehicleAndEnergy.vehicleBaseInfo.plateColor eq '9'}">灰色</option>
						</select>
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">区域属性：</label>
					<div class="col-md-5">
                   <select readonly="true" disabled name="areaAttribute"
							 class="form-control inputStyleHide" style="border:none;background:#fff;">
							<option value="省内" th:selected="${vehicleAndEnergy.vehicleBaseInfo.areaAttribute='省内'}">省内</option>
							<option value="跨省" th:selected="${vehicleAndEnergy.vehicleBaseInfo.areaAttribute='省内'}">跨省</option>
							<option value="进京报备" th:selected="${vehicleAndEnergy.vehicleBaseInfo.areaAttribute='省内'}">进京报备</option>
						</select>					</div>
				   </div>
				 
				   <div class="form-group" >
					<label class="col-md-4 control-label">省、直辖市：</label>
					<div class="col-md-5">                         
                           <label class="sr-only" for="province1">Province</label>
							 <select readonly="true" disabled class="form-control inputStyleHide" 
								id="province1" style="border:none;background:#fff;">
								<option th:text="${vehicleAndEnergy.vehicleBaseInfo.province}" ></option>	
								</select>
								</div>
				   </div>
				    <div class="form-group" >
					<label class="col-md-4 control-label">市、区：</label>
					<div class="col-md-5">
                                 <label class="sr-only" for="city1">City</label> 
                                 <select disabled
								class="form-control inputStyleHide" name="city" id="city1" style="border:none;background:#fff;">
								<option th:text="${vehicleAndEnergy.vehicleBaseInfo.city}" ></option>	
								</select>
								</div>
				   </div>
				  
				    <div class="form-group">
					<label class="col-md-4 control-label">燃料类别：</label>
					<div class="col-md-5">
                     <select readonly="true" disabled  
							class="form-control inputStyleHide" id="fuelType" style="border:none;background:#fff;">
							<option th:text="${vehicleAndEnergy.vehicleBaseInfo.fuelType}" ></option>
							<optgroup label="柴油" id="dieselOil">
							</optgroup>
							<optgroup label="汽油" id="gasoline">
							</optgroup>
							<optgroup label="天然气" id="naturalGas">
							</optgroup>		
							</select>	
					</div>
				   </div>
				   </div>
                    <div class="tab-pane " id="extendinfo" style="display:block;">
                    <input type="hidden" id="vehicleId" name="vehicleId" th:value="${vehicleAndEnergy.vehicleBaseInfo.id}" />
                    <input type="hidden" name="id" th:value="${vehicleAndEnergy.vehicleExtendInfo.id}" />
                    <input type="hidden" id="travelBaseList" th:value="${vehicleAndEnergy.vehicleExtendInfo.travelBaseList}" />
                    <input type="hidden" id="idleBaseLists" th:value="${vehicleAndEnergy.vehicleExtendInfo.idleBaseList}" />
                     <div class="form-group">
					<label class="col-md-4 control-label">行驶里程(Km)：</label>
					<div class="col-md-5">
						<input readonly="true"   type="text" class="form-control" id="mileage"  th:value="${vehicleAndEnergy.vehicleExtendInfo.travelMile}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)" >
					</div>	
					</div>			 
                    <div class="form-group">
					<label class="col-md-4 control-label">能耗量(L)：</label>
					<div class="col-md-5">
						<input readonly="true"   type="text" class="form-control" id="energyconsumption"  th:value="${vehicleAndEnergy.vehicleExtendInfo.travelTotal}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">行驶能耗基准(L/100km)：</label>
					<div class="col-md-5">
						<input  placeholder="请输入确认基准油耗" type="text" class="form-control" id="calculatevalue1" name="travelBase" th:value="${vehicleAndEnergy.vehicleExtendInfo.travelBase}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)"s>
					</div>
					<div class="col-md-3">
					<button type="button" style="text-align:center;padding-left:12px!important;margin-top:3px;" class="editBtn editBtn-info" id="calculate1" onclick="mobileSourceEdit.Calculation1();" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">计算基准</button>
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">怠速时长</label>
					<div class="col-md-5">
						<input readonly="true"  placeholder="" type="text" class="form-control" id="Idlelength"  th:value="${vehicleAndEnergy.vehicleExtendInfo.idleTime}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">能耗量(L)：</label>
					<div class="col-md-5">
						<input readonly="true"  placeholder="" type="text" class="form-control" id="energyconsumption2"  th:value="${vehicleAndEnergy.vehicleExtendInfo.idleTotal}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">
					</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label">怠速能耗基准(L/h)：</label>
					<div class="col-md-5">
						<input  placeholder="请输入确认基准油耗" type="text" class="form-control" id="calculatevalue2" name="idleBase" th:value="${vehicleAndEnergy.vehicleExtendInfo.idleBase}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">
					</div>
					<div class="col-md-3">
					<button type="button" style="text-align:center;padding-left:12px!important;margin-top:3px;" class="editBtn editBtn-info" id="calculate2" href="javascript:void(0);" onclick="mobileSourceEdit.Calculation2();">计算基准</button>
					</div>
				   </div>
				   <!-- <div class="form-group">
					<label class="col-md-3 control-label">空调时长：</label>
					<div class="col-md-5">
						<input  placeholder="" type="text" class="form-control" id="Airconditioningduration " name="Airconditioningduration" >
					</div>
				   </div>
				    <div class="form-group">
					<label class="col-md-3 control-label"><label class="text-danger">*</label>能耗量(L)：</label>
					<div class="col-md-5">
						<input  placeholder="" type="text" class="form-control" id="energyconsumption3" name="energyconsumption3" >
					</div>
				   </div>
				    <div class="form-group">
					<label class="col-md-3 control-label">空调能耗基准(L/H)：</label>
					<div class="col-md-5">
						<input  placeholder="请输入确认基准油耗" type="text" class="form-control" id="calculatevalue3" name="calculatevalue3" >
					</div>
					<div class="col-md-3">
					<button class="editBtn editBtn-info" id="calculate3">计算基准</button>
					</div> -->
				 
				   <div class="form-group">
					<label class="col-md-4 control-label"><label class="text-danger">*</label>节油产品安装日期：</label>
					<div class="col-md-5">
          <input style="cursor: pointer;  background-color: #fafafa;" class="form-control layer-date laydate-icon"
								th:value="${vehicleAndEnergy.vehicleExtendInfo.installTime}"	id="productdata"  name="installTime" /> 	</div>
				   </div>
				   <div class="form-group">
					<label class="col-md-4 control-label"><label class="text-danger">*</label>怠速阈值(Km/h)：</label>
					<div class="col-md-5">
						<input  placeholder="请输入怠速阈值" type="text" class="form-control" id="Idlespeedthreshold" name="idleThreshold" th:value="${vehicleAndEnergy.vehicleExtendInfo.idleThreshold}" onkeyup="mobileSourceEdit.onlyNumber(this, 3)">
					</div>
				   </div>
				     </div>
                    </div>
                    
                    
                    </div>
                    </div>
                 </div>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
		<button id="doSubmitEdit" class="btn btn-primary" type="button" >
			<strong>提 交</strong>
		</button>
		<button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<!-- <lable th:value="${result.province}" id="hiddenProvince"></lable>
<lable th:value="${result.city}" id="hiddenCity"></lable> -->
<script src="/resources/js/CityDistpicker/distpicker.data.js" th:src="@{/resources/js/CityDistpicker/distpicker.data.js}"></script>
<script src="/resources/js/CityDistpicker/distpicker.js" th:src="@{/resources/js/CityDistpicker/distpicker.js}"></script>
<!-- <script th:inline="javascript">
	var phoneError = [[#{phone.error}]];
	var vehicleBrandNull = [[#{vehicle.brand.null}]];
	var vehicleBrandError = [[#{vehicle.brand.error}]];
	var vehicleBrandExists = [[#{vehicle.brand.exists}]];
</script> -->
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script src="/resources/js/mobileSourceEdit.js" th:src="@{/resources/js/mobileSourceEdit.js}"></script>