<form id="modelEditForm" role="form"
      onkeydown="if(event.keyCode==13)return false;"
      action="#" method="post" class="form-horizontal">
    <div class="modal-header">
        <button id="doXAdd" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">修改终端型号</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        基本信息
                    </label>
                </div>
                <div>
                    <input th:value="${data}" id="deviceChannelSettingInfoList" type="hidden"/>
                    <input th:value="${result.id}" name="id" type="hidden"/>
                    <input th:value="${result.terminalManufacturer}" id="terminalManufacture" type="hidden"/>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><label class="text-danger">*</label> 终端厂商:</label>
                    <div class="col-md-4">
                        <select id="terminalManufacturers" name="terminalManufacturers" class="form-control">
                        </select>
                    </div>
                    <label class="col-md-2 control-label"><label class="text-danger">*</label> 终端型号:</label>
                    <div class="col-md-4">
                        <input type="text" th:value="${result.terminalType}" id="oldTerminalType" hidden>
                        <input type="text" th:value="${result.terminalType}" class="form-control" name="terminalType"
                               id="terminalType" placeholder="请输入终端型号" maxlength="30">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        音视频信息
                    </label>
                    <div class="col-md-10 control-label text-right">
                                    <span class="hiddenparameter" id="videoInformation"><font>隐藏参数</font><span
                                            class="fa fa-chevron-up" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div id="videoInformation-content">
                    <div class="form-group">
                        <label class="col-md-2 control-label">是否支持拍照:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input th:field="${result.supportPhotoFlag}" type="radio"
                                                               class="takingPictures"
                                                               name="supportPhotoFlag"
                                                               value="1"
                                                               checked="checked"> 是</label>
                            <label class="radio-inline"><input th:field="${result.supportPhotoFlag}"
                                                               name="supportPhotoFlag" class="takingPictures"
                                                               type="radio"
                                                               value="0">
                                否</label>
                        </div>
                        <label class="col-md-2 control-label picturesInfo">摄像头个数:</label>
                        <div class="col-md-4">
                            <select th:field="${result.camerasNumber}" id="camerasNumber" name="camerasNumber"
                                    class="form-control picturesInfo">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="height: 36px">
                        <label class="col-md-2 control-label">是否支持行驶记录仪:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input th:field="${result.supportDrivingRecorderFlag}"
                                                               type="radio"
                                                               name="supportDrivingRecorderFlag" value="1"> 是</label>
                            <label class="radio-inline"><input th:field="${result.supportDrivingRecorderFlag}"
                                                               name="supportDrivingRecorderFlag" type="radio" value="0"
                                                               checked="checked">
                                否</label>
                        </div>
                        <label class="col-md-2 control-label">是否支持监听:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input th:field="${result.supportMonitoringFlag}" type="radio"
                                                               name="supportMonitoringFlag" value="1"> 是</label>
                            <label class="radio-inline"><input th:field="${result.supportMonitoringFlag}"
                                                               name="supportMonitoringFlag" type="radio" value="0"
                                                               checked="checked">
                                否</label>
                        </div>
                    </div>
                    <div class="form-group" style="height: 36px">
                        <label class="col-md-2 control-label">是否支持主动安全:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input type="radio" name="activeSafety" value="1" th:field="${result.activeSafety}" checked> 是</label>
                            <label class="radio-inline"><input name="activeSafety" type="radio" value="0" th:field="${result.activeSafety}">
                                否</label>
                        </div>
                        <label class="col-md-2 control-label">是否为一体机:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input type="radio" name="allInOne" th:field="${result.allInOne}" value="1" checked> 是</label>
                            <label class="radio-inline"><input name="allInOne" type="radio" value="0" th:field="${result.allInOne}">
                                否</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">是否支持视频:</label>
                        <div class="col-md-4">
                            <label class="radio-inline"><input type="radio" class="supportVideo" name="supportVideoFlag"
                                                               th:field="${result.supportVideoFlag}"
                                                               value="1"
                                                               checked="checked"> 是</label>
                            <label class="radio-inline"><input class="supportVideo" name="supportVideoFlag" type="radio"
                                                               th:field="${result.supportVideoFlag}"
                                                               value="0">
                                否</label>
                        </div>
                    </div>

                    <div class="channelInfo">
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                实时流音频设置
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label channelInfo">音频格式:</label>
                            <div class="col-md-4">
                                <select th:field="${result.audioFormat}" id="audioFormat" name="audioFormat"
                                        class="form-control channelInfo">
                                    <option value="0">ADPCMA</option>
                                    <option value="2">G726-16K</option>
                                    <option value="3">G726-24K</option>
                                    <option value="4">G726-32K</option>
                                    <option value="5">G726-40K</option>
                                    <option value="6">G711a</option>
                                    <option value="7">G711u</option>
                                    <option value="8">AAC-ADTS</option>
                                </select>
                            </div>

                            <label class="col-md-2 control-label channelInfo">采样率:</label>
                            <div class="col-md-4">
                                <select th:field="${result.samplingRate}" id="samplingRate" name="samplingRate"
                                        class="form-control channelInfo">
                                    <option value="0">8kHz</option>
                                    <option value="1">22.05kHz</option>
                                    <option value="2">44.1kHz</option>
                                    <option value="3">48kHz</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label channelInfo">声道数:</label>
                            <div class="col-md-4">
                                <select th:field="${result.vocalTract}" id="vocalTract" name="vocalTract"
                                        class="form-control channelInfo">
                                    <option value="0">单声道</option>
                                    <option value="1">双声道</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                存储流音频设置
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label channelInfo">音频格式:</label>
                            <div class="col-md-4">
                                <select th:field="${result.storageAudioFormat}" id="storageAudioFormat" name="storageAudioFormat"
                                        class="form-control channelInfo">
                                    <option value="0">ADPCMA</option>
                                    <option value="2">G726-16K</option>
                                    <option value="3">G726-24K</option>
                                    <option value="4">G726-32K</option>
                                    <option value="5">G726-40K</option>
                                    <option value="6">G711a</option>
                                    <option value="7">G711u</option>
                                    <option value="8">AAC-ADTS</option>
                                </select>
                            </div>

                            <label class="col-md-2 control-label channelInfo">采样率:</label>
                            <div class="col-md-4">
                                <select th:field="${result.storageSamplingRate}" id="storageSamplingRate" name="storageSamplingRate"
                                        class="form-control channelInfo">
                                    <option value="0">8kHz</option>
                                    <option value="1">22.05kHz</option>
                                    <option value="2">44.1kHz</option>
                                    <option value="3">48kHz</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 50px">
                            <label class="col-md-2 control-label channelInfo">声道数:</label>
                            <div class="col-md-4">
                                <select th:field="${result.storageVocalTract}" id="storageVocalTract" name="storageVocalTract"
                                        class="form-control channelInfo">
                                    <option value="0">单声道</option>
                                    <option value="1">双声道</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="defaultChannelNumber" th:value="${result.channelNumber}" hidden>
                            <label class="col-md-2 control-label">通道号个数:</label>
                            <div class="col-md-4">
                                <select th:field="${result.channelNumber}" id="channelNumber" name="channelNumber"
                                        class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                </select>
                            </div>
                        </div>
                        <div class="channelGroup">
                            <div class="channelItem" th:each="infoList:${data}" th:data-id="${infoList.id}">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">物理通道号:</label>
                                    <div class="col-md-4">
                                        <select th:value="${infoList.physicsChannel}"
                                                th:lastValue="${infoList.physicsChannel}"
                                                name="physicsChannel"
                                                class="form-control physicsChannel">
                                            <option value="1" th:selected="${infoList.physicsChannel==1}">1</option>
                                            <option value="2" th:selected="${infoList.physicsChannel==2}">2</option>
                                            <option value="3" th:selected="${infoList.physicsChannel==3}">3</option>
                                            <option value="4" th:selected="${infoList.physicsChannel==4}">4</option>
                                            <option value="5" th:selected="${infoList.physicsChannel==5}">5</option>
                                            <option value="6" th:selected="${infoList.physicsChannel==6}">6</option>
                                            <option value="7" th:selected="${infoList.physicsChannel==7}">7</option>
                                            <option value="8" th:selected="${infoList.physicsChannel==8}">8</option>
                                            <option value="9" th:selected="${infoList.physicsChannel==9}">9</option>
                                            <option value="10" th:selected="${infoList.physicsChannel==10}">10</option>
                                            <option value="11" th:selected="${infoList.physicsChannel==11}">11</option>
                                            <option value="12" th:selected="${infoList.physicsChannel==12}">12</option>
                                            <option value="13" th:selected="${infoList.physicsChannel==13}">13</option>
                                            <option value="14" th:selected="${infoList.physicsChannel==14}">14</option>
                                            <option value="15" th:selected="${infoList.physicsChannel==15}">15</option>
                                            <option value="16" th:selected="${infoList.physicsChannel==16}">16</option>
                                            <option value="17" th:selected="${infoList.physicsChannel==17}">17</option>
                                            <option value="18" th:selected="${infoList.physicsChannel==18}">18</option>
                                            <option value="19" th:selected="${infoList.physicsChannel==19}">19</option>
                                            <option value="20" th:selected="${infoList.physicsChannel==20}">20</option>
                                            <option value="21" th:selected="${infoList.physicsChannel==21}">21</option>
                                            <option value="22" th:selected="${infoList.physicsChannel==22}">22</option>
                                            <option value="23" th:selected="${infoList.physicsChannel==23}">23</option>
                                            <option value="24" th:selected="${infoList.physicsChannel==24}">24</option>
                                            <option value="25" th:selected="${infoList.physicsChannel==25}">25</option>
                                            <option value="26" th:selected="${infoList.physicsChannel==26}">26</option>
                                            <option value="27" th:selected="${infoList.physicsChannel==27}">27</option>
                                            <option value="28" th:selected="${infoList.physicsChannel==28}">28</option>
                                            <option value="29" th:selected="${infoList.physicsChannel==29}">29</option>
                                            <option value="30" th:selected="${infoList.physicsChannel==30}">30</option>
                                            <option value="31" th:selected="${infoList.physicsChannel==31}">31</option>
                                            <option value="32" th:selected="${infoList.physicsChannel==32}">32</option>
                                            <option value="33" th:selected="${infoList.physicsChannel==33}">33</option>
                                            <option value="34" th:selected="${infoList.physicsChannel==34}">34</option>
                                            <option value="35" th:selected="${infoList.physicsChannel==35}">35</option>
                                            <option value="36" th:selected="${infoList.physicsChannel==36}">36</option>
                                            <option value="37" th:selected="${infoList.physicsChannel==37}">37</option>

                                        </select>
                                    </div>
                                    <label class="col-md-2 control-label"><label
                                            class="text-danger">*</label>&nbsp;逻辑通道号:</label>
                                    <div class="col-md-4">
                                        <select name="logicChannel" th:value="${infoList.logicChannel}"
                                                th:lastValue="${infoList.logicChannel}"
                                                class="form-control logicChannel">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="64">64</option>
                                            <option value="65">65</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">通道类型:</label>
                                    <div class="col-md-4">
                                        <select name="channelType" th:value="${infoList.channelType}"
                                                placeholder="请选择通道类型"
                                                class="form-control audiofrequency">
                                            <option value="0">音视频</option>
                                            <option value="1">音频</option>
                                            <option value="2">视频</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 control-label">码流类型:</label>
                                    <div class="col-md-4">
                                        <select class="form-control streamType" th:value="${infoList.streamType}">
                                            <option value="1">子码流</option>
                                            <option value="0">主码流</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">是否连接云台:</label>
                                    <div class="col-md-4 isconnectplatform">
                                        <label class="radio-inline"><input type="radio"
                                                                           class="connectionFlag"
                                                                           name="connectionFlag"
                                                                           th:attrappend="name=${infoList.sort}"
                                                                           value="1"> 是</label>
                                        <label class="radio-inline"><input name="connectionFlag"
                                                                           th:attrappend="name=${infoList.sort}"
                                                                           class="connectionFlag"
                                                                           type="radio"
                                                                           value="0">
                                            否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-left">
            <input th:value="${bindFlag}" id="bindFlag" type="hidden"/>
            <div id="bindMsg" hidden="true" style="text-align:left;color:red;">
                <p> 注：该终端型号已和终端关联,终端厂商、终端型号不允许修改</p>
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="doSubmit">
            <strong>提 交</strong>
        </button>
        <button id="doCloseAdd" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>

<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script th:inline="javascript">
    var terminalTypeError = [[#{terminal.terminalType.error}]];
    var terminalTypeRepetition = [[#{terminal.terminalType.repetition}]]
</script>
<script src="/clbs/resources/js/deviceModelEdit.js"></script>