<form th:action="@{/talkback/basicinfo/skill/editSkillsCategories}"
      th:object="${result}" id="editForm" role="form" action="#"
      method="post" class="form-horizontal">
    <style>
        .modal-dialog{
            width: 40%;
        }
    </style>
    <input name="id" type="hidden" th:value="*{id}" id="editId"/>
    <div class="modal-header">
        <button id="doXEdit" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">修改技能类别</h4>
    </div>
    <div class="modal-body" style="overflow-y: auto;padding:15px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label"><label class="text-danger">*</label> 技能类别： </label>
                    <div class="col-md-9">
                        <input id = "CategoriesName" th:value="*{name}" name="name" onkeydown="if(event.keyCode == 13){return false;}" placeholder="请输入技能类别" type="text" maxlength="6" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">备注：</label>
                    <div class="col-md-9">
                        <textarea th:field="*{remark}" name="remark" placeholder="请输入备注" class="form-control" maxlength="100"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="doSubmitEdit" class="btn btn-primary" type="button">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<script  src="/clbs/resources/js/CategoriesEdit.js"></script>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>