<form th:action="@{/m/intercomplatform/addrconfig/edit}" id="editForm"
	role="form" action="#" method="post" class="form-horizontal" th:object="${result}">
	<div class="modal-header">
		<button id="doXEdit" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">修改对讲平台</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label> 对讲平台名称：</label>
					<div class="col-md-7">
						<input th:field="*{platformName}" name="platformName" id="platformName_edit" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label> 状态：</label>
					<input type="hidden" name="id" th:field="*{id}" />
					<div class="col-md-7">
						<label class="radio-inline"> 
							<input type="radio" name="status" th:field="*{status}" value="1"/>
							开启
						</label> 
						<label class="radio-inline"> 
							<input type="radio" name="status" th:field="*{status}" value="0"/>
							关闭
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label>  IP地址：</label>
					<div class="col-md-7">
						<input placeholder="请输入IP地址" id="platformIp_edit" name="platformIp" type="text" th:field="*{platformIp}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label>  端口：</label>
					<div class="col-md-7">
						<input placeholder="请输入端口号" type="text" id="platformPort_edit" name="platformPort" th:field="*{platformPort}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">描述：</label>
					<div class="col-md-7">
						<input placeholder="请输入描述" type="text" th:field="*{description}" id="description_edit" name="description" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="editSubmit" type="button">
			<strong>保 存</strong>
		</button>
		<button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>取 消</strong>
		</button>
	</div>
	<label id="error_label_edit" class='error' style='display: none;'></label>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script type="text/javascript" src="/wro/intercomplatformIpmgtEdit.js" th:src="@{/wro/intercomplatformIpmgtEdit.js}"></script>