<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>故障码查询</title>
    <div th:replace="fragments/header">header</div>
</head>
<body>
<section id="container">
    <div th:replace="fragments/nav">nav</div>
    <section class="main-content-wrapper">
        <div th:replace="fragments/menu">menu</div>
        <section id="main-content">
            <div class="row eightIsZero">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li class="active">OBD管理</li>
                        <li class="active">故障码查询</li>
                    </ul>
                    <h1 class="h1 ">故障码查询</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12" style="padding-right: 0px; padding-left:0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stretch">
                                <h3 class="panel-title fwb">查询</h3>
                                <div class="actions pull-right listActions">
                                    <i class="fa chevron-down" id="stretch-chevron"></i>
                                </div>
                            </div>
                            <div class="panel-body" id="stretch-body">
                                <div class="col-md-12 alarmSearchToolPanel">
                                    <form id="lifeCycleForm" class="form-horizontal" action="#"
                                          method="post" role="form">
                                        <div class="form-group">
                                            <label class="col-md-1 col-sm-3 control-label">组织：</label>
                                            <input class="form-control hidden"/>
                                            <div class="has-feedback fastClear col-md-3 col-sm-8">
                                                <input style="cursor: pointer; background-color: #fafafa;"
                                                       autocomplete="off"
                                                       placeholder="请选择组织" class="form-control" type="text"
                                                       id="groupSelect" name="groupSelect"/>
                                                <span class="fa fa-chevron-down form-control-feedback"
                                                      style="top: 0; right: 15px;cursor:pointer;" aria-hidden="true"
                                                      id="groupSelectSpan"></span>
                                                <div id="menuContent" class="menuContent">
                                                    <ul id="treeDemo" class="ztree"></ul>
                                                </div>
                                            </div>
                                            <label class="col-md-1 col-sm-3 control-label searchListSelect">时间：</label>
                                            <div class="col-md-4 col-sm-8 searchListSelect">
                                                <input style="cursor: pointer; background-color: #fafafa;"
                                                       class="form-control layer-date laydate-icon"
                                                       id="timeInterval" name="timeInterval" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 control-label" id="dateSearchData">
                                                <button id="todayClick" type="button" class="btn btn-primary" name="0"
                                                onclick="faultCodeStatic.inquireClick(0)">今天
                                                </button>
                                                <button id="yesterdayClick" type="button"class="btn btn-primary" name="-1" onclick="faultCodeStatic.inquireClick(-1)">前一天  </button>
                                                <button id="nearlyThreeDays" type="button"class="btn btn-primary" name="-3" onclick="faultCodeStatic.inquireClick(-3)">前三天  </button>
                                                <button id="nearlySevenDays" type="button"class="btn btn-primary" name="-7" onclick="faultCodeStatic.inquireClick(-7)">前七天 </button>
                                                <button id="inquireClick" type="button"
                                                        class="btn btn-primary search-btn" name="1"
                                                        onclick="faultCodeStatic.inquireClick(1)"><i
                                                        class="glyphicon glyphicon-search"></i> 查询
                                                </button>
                                                <button id="exportAlarm" type="button"
                                                        class="btn btn-purple export-btn"><i
                                                        class="glyphicon glyphicon-log-out"></i> 导出
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12" style="padding-right: 0px; padding-left:0px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stretch2">
                                <h3 class="panel-title fwb">故障码列表</h3>
                                <div class="actions pull-right listActions">
                                    <i class="fa chevron-down" id="stretch2-chevron"></i>
                                </div>
                            </div>
                            <div class="panel-body fixed-table-body" id="stretch2-body">
                                <div class="ToolPanel" style="">
                                    <div class="bars pull-left">
                                        <div class="btn-group pull-left barsMargin" role="group">
                                            <form role="form">
                                                <label><input autocomplete="off" type="text" class="Inlinesearch form-control"
                                                              id="simpleQueryParam" name="simpleQueryParam"
                                                              style="width:300px" placeholder="请输入监控对象"></label>
                                                <button type="button" id="search_button"
                                                        class="btn btn-outline btn-default"  onclick="faultCodeStatic.searchTable()">搜索
                                                </button>
                                                <input id="hiddenText" type="text" style="display:none"/>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="columns btn-group pull-right fuelConsumptionS">
                                        <button id="refreshTable" class="btn btn-default" type="button" name="refresh"
                                                title="刷新">
                                            <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                                        </button>
                                        <div class="keep-open btn-group" title="定制显示列">
                                            <button id="customizeColumns" type="button"
                                                    class="btn btn-default dropdown-toggle btn-border-radius"
                                                    data-toggle="dropdown">
                                                <i class="glyphicon glyphicon-th icon-th"></i> <span
                                                    class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" id="Ul-menu-text">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <table id="dataTable"
                                       class="table table-striped table-bordered table-hover noCheckTable"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="text-center">序号</th>
                                        <th class="text-center">监控对象</th>
                                        <th class="text-center">分组</th>
                                        <th class="text-center">上报时间</th>
                                        <th class="text-center">车型名称/发动机类型</th>
                                        <th class="text-center">故障码</th>
                                        <th class="text-center">描述</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="fragments/footer">footer</div>
</body>
<script th:inline="javascript">
    var exportFail = [[#{export.fail}]];
    var maxSelectItem = [[#{max.select.item}]];
    var vehicleSelectBrand = [[#{Vehicle.select.brand}]];
    var endtimeComStarttime = [[#{oil.calibration.ascend.endtimeComStarttime}]];
</script>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.3&key=6b953aec395d345fd37e1b5434d587a9&plugin=AMap.Geocoder"></script>
<script src="resources/js/zTree/js/ztreeSearch.js" th:src="@{/resources/js/zTree/js/ztreeSearch.js}"></script>
<script src="/clbs/resources/js/faultCodeStatic.js"></script>
</html>