<form  th:object="${result}"
 id="detailForm" role="form" action="#"
	method="post" class="form-horizontal">
	<div class="modal-header">
		<button id="doXDetail" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">工时管理设置详情</h4>
	</div>
      <div class="modal-body">
      	<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-4 control-label"> <label
						class="text-danger">*</label> 监控对象：</label>
					<div class="col-md-7">
						<input style="cursor: pointer"  th:field="*{brand}" name = "vehicleBrand" class="form-control inputStyleHide" readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
					传感器基本参数
					</label>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> <label
						class="text-danger">*</label> 振动传感器型号：
					</label>
					<div class="col-md-2">
						<div class="input-group">
							<input th:field="*{sensorType}" name="sensorType"
								type="text" class="form-control inputStyleHide" id="vibrationSensor" readonly>
						</div>
					</div>
					<label class="col-md-3 control-label"> 传感器厂商：</label>
					<div class="col-md-3">
						<input disabled th:field="*{manufacturers}" id = "manufacturers" name = "manufacturers" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> 奇偶校验：</label>
					<div class="col-md-2">
						<!-- <input id = "parity" name="parity" th:field="*{parity}"
							class="form-control inputStyleHide" disabled>
						</input> -->
						<select id = "parity" name="parity" th:field="*{parity}"
							class="form-control inputStyleHide" disabled>
							<option selected="selected" value="0"></option>
							<option value="3">无校验</option>
							<option value="1">奇校验</option>
							<option value="2">偶校验</option>
						</select>
					</div>
					<label class="col-md-3 control-label"> 滤波系数：</label>
					<div class="col-md-3">
						<!-- <input id = "parity" style="cursor: pointer"  placeholder="" class="form-control" readonly /> -->
						<!-- <input id = "filterFactor" name="filterFactor" th:field="*{filterFactor}"
							class="form-control inputStyleHide" disabled>
						</input> -->
						<select id = "filterFactor" name="filterFactor" th:field="*{filterFactor}"
							class="form-control inputStyleHide" disabled>
							<option selected="selected" value="0"></option>
							<option value="1">实时</option>
							<option value="2">平滑</option>
							<option value="3">平稳</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> 波特率：</label>
					<div class="col-md-2">
						<!-- <input id = "baudRate" style="cursor: pointer"  placeholder="" class="form-control" readonly /> -->
						<!-- <input id = "baudRate" name="baudRate" th:field="*{baudRate}" disabled 
							class="form-control inputStyleHide">
						</input> -->
						<select id = "baudRate" name="baudRate" th:field="*{baudRate}" disabled 
							class="form-control inputStyleHide">
							<option selected="selected" value="0"></option>
							<option value="1">2400</option>
							<option value="2">4800</option>
							<option value="3">9600</option>
							<option value="4">19200</option>
							<option value="5">38400</option>
							<option value="6">57600</option>
							<option value="7">115200</option>
						</select>
					</div>
					<label class="col-md-3 control-label"> 补偿使能：</label>
					<div class="col-md-3">
						<!-- <input id = "inertiaCompEn" style="cursor: pointer" placeholder="" class="form-control" readonly /> -->
						<!-- <input id = "inertiaCompEn" name="inertiaCompEn" th:field="*{inertiaCompEn}" disabled
							class="form-control inputStyleHide">
						</input> -->
						<select id = "inertiaCompEn" name="inertiaCompEn" th:field="*{inertiaCompEn}" disabled
							class="form-control inputStyleHide">
							<option selected="selected" value="0"></option>
							<option value="2">禁用</option>
							<option value="1">使能</option>
						</select>						
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
					个性参数
					</label>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> 自动上传时间(S)：</label>
					<div class="col-md-2">
						<select id = "uploadTime" th:field="*{uploadTime}" name="uploadTime" placeholder="请选择自动上传时间"  disabled
							class="form-control inputStyleHide">
							<option selected="selected" value="0"></option>
							<option value="01">被动</option>
							<option value="02">10</option>
							<option value="03">20</option>
							<option value="04">30</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> 单次采集时长(S)：</label>
					<div class="col-md-2">
						<input readonly th:field="*{collectNumber}" id = "collectNumber" name = "collectNumber" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label"> 上传组数：</label>
					<div class="col-md-3">
						<input readonly th:field="*{uploadNumber}" id = "uploadNumber" name = "uploadNumber" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">输出修正系数K：</label>
					<div class="col-md-2">
						<input readonly th:field="*{outputCorrectionK}" id = "outputCorrectionK" name = "outputCorrectionK"  class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">输出修正系数B：</label>
					<div class="col-md-3">
						<input readonly th:field="*{outputCorrectionB}" id = "outputCorrectionB" name = "outputCorrectionB"  class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">停机频率阈值(Hz)：</label>
					<div class="col-md-2">
						<input readonly th:field="*{outageFrequencyThreshold}" id = "outageFrequencyThreshold" name = "outageFrequencyThreshold"  class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">持续停机时间阈值(S)：</label>
					<div class="col-md-3">
						<input readonly th:field="*{continueOutageTimeThreshold}" id = "continueOutageTimeThreshold" name = "continueOutageTimeThreshold"  class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">怠速频率阈值(Hz)：</label>
					<div class="col-md-2">
						<input readonly th:field="*{idleFrequencyThreshold}" id = "idleFrequencyThreshold" name = "idleFrequencyThreshold"  class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">持续怠速时间阈值(S)：</label>
					<div class="col-md-3">
						<input readonly th:field="*{continueIdleTimeThreshold}" id = "continueIdleTimeThreshold" name = "continueIdleTimeThreshold" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">工作频率阈值(Hz)：</label>
					<div class="col-md-2">
						<input readonly th:field="*{workFrequencyThreshold}" id = "workFrequencyThreshold" name = "workFrequencyThreshold" class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">持续工作时间阈值(S)：</label>
					<div class="col-md-3">
						<input readonly th:field="*{continueWorkTimeThreshold}" id = "continueWorkTimeThreshold" name = "continueWorkTimeThreshold" class="form-control inputStyleHide" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">报警频率阈值(Hz)：</label>
					<div class="col-md-2">
						<input readonly th:field="*{alarmFrequencyThreshold}" id = "alarmFrequencyThreshold" name = "alarmFrequencyThreshold"  class="form-control inputStyleHide" />
					</div>
					<label class="col-md-3 control-label">持续报警时间阈值(S)：</label>
					<div class="col-md-3">
						<input readonly th:field="*{continueAlarmTimeThreshold}" id = "continueAlarmTimeThreshold" name = "continueAlarmTimeThreshold" class="form-control inputStyleHide" />
					</div>
				</div>
			</div>
		</div>		
      </div>
      <div class="modal-footer">
		<button id="doCloseDetail" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<style>
select::-ms-expand {display: none;}
select{background:none !important;}
</style>
<script th:inline="javascript">	
    /*<![CDATA[*/
	$(function() {
      	myTable.add('commonWin', 'detailForm', null, null);
	});
	/*]]>*/
</script>