<form id="editForm"   th:object="${result}" th:action="@{/v/meleMonitor/tyreSpecification/edit}" role="form" action="#" method="post" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">修改轮胎规格</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-4 control-label"><label
						class="text-danger">*</label> 轮胎种类：</label>
					<div class="col-md-7">
                        <input type="hidden" name="id" th:field="*{id}" />
						<select name="tireType" th:field="*{tireType}" id="tireType" placeholder="请选择轮胎种类" class="form-control">
							<option value="斜交轮胎">斜交轮胎</option>
							<option value="子午线轮胎">子午线轮胎</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">
					<label class="text-danger">*</label> 轮胎规格：</label>
					<div class="col-md-7">
						<input autocomplete="off" name="sizeName" maxlength="25" th:field="*{sizeName}" placeholder="请输入轮胎规格" type="text" id= "tireSpecifications" class="form-control" />
						<label id="error_label_edit" class='error' style='display: none;'></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">
					<label class="text-danger">*</label> 轮胎滚动半径(mm)：</label>
					<div class="col-md-7">
						<input autocomplete="off" name="rollingRadius" maxlength="6"  onkeyup="editTyreSpecification.checkNum(this)" th:field="*{rollingRadius}" placeholder="请输入轮胎滚动半径" type="text" id= "tireRollingTadius" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"><label class="text-danger"></label> 备注：</label>
					<div class="col-md-7">
						<input autocomplete="off" name="remark" maxlength="40" th:field="*{remark}" placeholder="请输入备注" type="text" id= "remarks" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" id="doSubmits" type="button">
			<strong>提 交</strong>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">
			<strong>关 闭</strong>
		</button>
	</div>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script src="/wro/tyreSpecificationEdit.js" th:src="@{/wro/tyreSpecificationEdit.js}"></script>