<form method="post" th:object="${result}" id="editReadConventionalForm" th:action="@{/v/oilmgt/fluxsensorbind/updateSensorSetting}" role="form" class="form-horizontal">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel2">传感器常规参数</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-md-3 control-label">监控对象：</label>
        <div class="col-md-3">
            <input type="hidden" id="readConventionalVehicleId" th:field="*{vehicleId}" name="vehicleId"/>
            <!-- <input type="hidden" id="poilSensorType" name="sensorType" th:field="*{sensorType}"/> -->
            <!-- <input type="hidden" name="oilBoxId"  th:field="*{oilBoxId}"/> -->
            <input type="hidden" id="setting_id" name="id" th:field="*{id}"/>
            <input type="hidden" id="cg_deal_type" name="deal_type" value="pt"/>
            <input type="hidden" id="temp_send_vehicle_msg_id" value="0">
            <input style="cursor:pointer" name="rcNumberPlate" th:field="*{brand}" id="conventionalBrand" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">传感器型号：</label>
        <div class="col-md-3">
            <input style="cursor: pointer" id="rcSensorModel" th:field="*{oilWearNumber}" name="" placeholder="" class="form-control" readonly/>
            <input th:field="*{oilWearId}" name="oilWearId" type="hidden"/>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <label class="control-label">传感器上报参数</label>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            <label class="control-label">平台设置参数</label>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-md-3 control-label">传感器ID：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sid" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">传感器ID：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pid" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">补偿使能：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="scompensation" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">补偿使能：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pcompensation" th:field="*{inertiaCompEnStr}"  name="inertiaCompEnStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">滤波系数：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sfilteringFactor" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">滤波系数：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pfilteringFactor" th:field="*{filterFactorStr}" name="filterFactorStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">自动上传时间：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="suploadTime" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">自动上传时间：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="puploadTime" th:field="*{autoUploadTimeStr}" name="autoUploadTimeStr" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">输出修正系数K：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sk" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">输出修正系数K：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pk" th:field="*{outputCorrectionK}" name="outputCorrectionK" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">输出修正系数B：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="sb" name="" placeholder="" class="form-control" readonly/>
        </div>
        <label class="col-md-2 control-label">输出修正系数B：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" id="pb" th:field="*{outputCorrectionB}" name="outputCorrectionB" placeholder="" class="form-control" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <botton class="btn btn-primary btn-oc-width" disabled="disabled"  id="rclSubjectToTheSensor">以传感器为准</botton>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            <botton class="btn btn-primary btn-oc-width" disabled="disabled" id="rclSubjectToPlatformSettings">以平台设置为准</botton>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">下发状态：</label>
        <div class="col-md-3">
            <input style="cursor:pointer" name="" id="poilSendStatus" value="" class="form-control sendStatus" readonly/>
        </div>
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary refreshBtn"  id="readConventionalsRefresh">刷新</button>
    <button type="button" class="btn btn-primary" id="readConventionalsSend">修正下发</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</form>
<script src="resources/js/fluxsensorbindGeneral.js" th:src="@{/resources/js/fluxsensorbindGeneral.js}"></script>