/*
* @ PROJECT F3
* @ AUTNOR ZoomWell Team
* @ LINK WWW.ZWLBS.COM
*/
#GPSData #gpsTable_info,#stopData #gpsTable2_info{display:none}
#Demo1{cursor:pointer}
.calendar{margin:0 auto;color:#6dcff6;font-family:helvetica,Arial,"Microsoft Yahei",微软雅黑!important}
.calendar table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center}
.calendar caption{line-height:30px;text-align:center;border-bottom:1px solid #ebebeb;color:#fff;background-color:#6dcff6}
.calendar caption span{margin:0 10px}
.calendar caption a{color:#fff;margin:0 5px;text-decoration:none}
.calendar th{height:25px;line-height:25px;text-align:center}
.calendar td{height:14px;line-height:14px;border:1px solid #ccc}
.calendar td.widget-videoHlight{cursor: pointer}
.calendar td span.dayShow{padding-top:11px;font-size:13px}
.calendar td span{display:block;width:100%;margin:0 auto;color:#000}
.calendar td span.mileageList{color:#6dcff6;font-size:10px;height:18px;line-height:18px;white-space:nowrap;overflow:hidden;}
.calendar .widget-back{float:right}
.calendar .widget-disabled span{color:#999}
.calendar .widget-stopHighlight span{background:#fff8cc;cursor:pointer;}
.calendar .widget-stopHighlight span span{color:#a08403}
.calendar .widget-highlight span{background:#e2f7ff;color:#000;cursor:pointer;}
.calendar .widget-videoHlight span{background:#dfffc9;color:#000;cursor:pointer;}
.calendar .widget-peopleHighlight span{background:#ffe5e5;color:#000;cursor:pointer;}
.calendar .widget-thingHighlight span{background:#e7ffcd;color:#000;cursor:pointer;}
.calendar .widget-thingHighlight .mileageList{color: #7bc62b}
#Main,#Main1{margin:0 auto;margin-top:0;padding-top:0;padding-bottom:0}
#scrollBar{height:5px;background-color:#fff;margin:0 auto;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;cursor:pointer}
#scroll_Track{width:0;height:5px;background-color:#6dcff6;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
#scroll_Thumb{height:15px;width:15px;background-color:#6dcff6;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;-webkit-box-shadow:0 0 5px #ccc;-moz-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;position:absolute;margin-top:-11px;cursor:pointer}
#progressBar{width:100%;height:5px;background-color:#ccc;margin:0 auto;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
#progressBar_Track{width:0;height:5px;background-color:#6dcff6;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
#beian{text-align:center;float:left;width:100%;margin-top:50px}
#beian a{color:gray;font:13px "微软雅黑",Arial,Helvetica,sans-serif}
.progressTime{Z-INDEX:2;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;background:#eee;width:100%;padding-top:0;padding-bottom:0}
#minBarTxt,#scrollBarTxt{color:#fff}
#goShow{position:absolute;top:5px;left:21px;cursor:pointer}