<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CLBS</title>
    <link rel="shortcut icon" id="webIco" name="favicon.ico" th:name="${session.webIco}" href="resources/img/favicon.ico"
          th:href="@{/resources/img/favicon.ico}" type="image/x-icon"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <script th:src="@{/resources/js/jquery-1.10.2.min.js}" charset="utf-8"></script>
    <script th:src="@{https://pv.sohu.com/cityjson?ie=utf-8(random=${random})}"></script>
    <script th:src="@{/resources/js/jquery.cookie.js}" charset="utf-8"></script>
    <script th:src="@{/resources/js/jquery.form.js}" charset="UTF-8"></script>
</head>
<body th:replace="loginInner::loginInner"></body>
<body th:replace="loginPublish::loginPublish"></body>
</html>
