<form th:action="@{/m/forwardplatform/ipmgt/edit}" id="editForm"
	role="form" action="#" method="post" class="form-horizontal" th:object="${result}">
	<div class="modal-header">
		<button id="doXEdit" type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title">修改IP地址</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-md-3 control-label">平台名称：</label>
					<div class="col-md-7">
						<input placeholder="请输入平台名称" type="text" th:field="*{description}" name="description" id="description" class="form-control" />
						<input type="hidden" th:value="*{description}" id="beforeDescription"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label> 状态：</label>
					<input type="hidden" id = "pid" name="id" th:field="*{id}" />
					<div class="col-md-7">
						<label class="radio-inline"> 
							<input type="radio" name="status" th:field="*{status}" value="1"/>
							开启
						</label> 
						<label class="radio-inline"> 
							<input type="radio" name="status" th:field="*{status}" value="0"/>
							关闭
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label>  IP地址：</label>
					<div class="col-md-7">
						<input  type="text" th:field="*{platformIp}" id="platformIp" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label"><label
						class="text-danger">*</label>  端口：</label>
					<div class="col-md-7">
						<input type="text" th:field="*{platformPort}" id="platformPort" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button id="doSubmitEdit" class="btn btn-primary" type="button" onclick="editthirdplatform.doSubmit()">
			<strong>保 存</strong>
		</button>
		<button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
			<strong>取 消</strong>
		</button>
	</div>
	<label id="error_label_edit" class='error' style='display: none;'></label>
</form>
<script type="text/javascript" src="/clbs/resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script type="text/javascript" src="/wro/forwardplatformIpmgtEdit.js" th:src="@{/wro/forwardplatformIpmgtEdit.js}"></script>