<footer>
    <p ><span id="copyRight"></span>&nbsp;<a href="" target="_blank" id="website"></a><br/><a href="https://beian.miit.gov.cn/" target="_blank" id="record"></a></p>
</footer>
<script src="resources/js/bootstrap/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap/js/bootstrap.min.js}"></script>
<script src="resources/js/bootstrap-toggle.min.js" th:src="@{/resources/js/bootstrap-toggle.min.js}"></script>
<script  src="resources/js/toastr.min.js" th:src="@{/resources/js/toastr.min.js}"></script>
<script src="resources/js/jquery.validate.min.js" th:src="@{/resources/js/jquery.validate.min.js}" ></script>
<script src="/wro/realtime-footer.js" th:src="@{/wro/realtime-footer.js}" ></script>
<div th:replace="common/common_window::window(windowId=commonWin)">公共弹出窗口(大)</div>
<div th:replace="common/common_sm_window::window(windowId=commonSmWin)">公共弹出窗口(小)</div>
<div th:replace="common/common_window::window(windowId=uploaderWin)">公共上传窗口</div>
<div th:replace="common/common_chat_window::window(windowId=chatWin)">聊天窗口</div>