<header id="header">
    <div style="width: 1920px; min-height: 80px; background: #fff"></div>
    <div style="position: fixed; top:0; width: 100%; min-height: 80px; z-index: 1040; background-color: #fff;"
        id="header-content">
        <!--logo start-->
        <div><a class="brand" href="/clbs/home"></a></div>
        <!--logo end-->
        <div class="toggle-navigation toggle-left" id="toggle-left">
            <button style="margin-top:-14px;" type="button" class="btn btn-default" id="toggle-left-button">
                <i class="fa fa-bars"></i>
            </button>
            <div class="tooltip fade right" id="toggle-left-tooltip">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">显示隐藏导航</div>
            </div>
        </div>
        <div class="toggle-left-h2">
            <h2 class="h2" id="personalizedTitle"><span>中位</span></h2>
        </div>
        <div class="user-nav">
            <input type="hidden" th:value="${session.maxNumberAssignmentMonitor}" id="maxNumberAssignmentMonitor">
            <ul>
                <li class="profile-photo"></li>
                <li id="noticeBox" class="topNotice dropdown">
                    <i id="noticeRedIcon1" class="redIcon"></i>
                    <div id="newMsgTitle">收到一条讨论组消息</div>
                    <button id="noticeBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        onclick="pagesNav.openChat()">
                        <img src="/clbs/resources/img/msg.svg" style="width:15px;margin-top:-3px;" />
                    </button>
                </li>
                <li id="noticeBox1" class="topNotice dropdown settings">
                    <!--<span id="noticeNum1">0</span>-->
                    <i id="noticeRedIcon" class="redIcon"></i>
                    <button id="noticeBtn1" type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        <img src="/clbs/resources/img/notice2.svg"
                            style="width:14px;margin-top:-3px;margin-right: -1px" />
                    </button>
                    <div id='navVoices' class="dropdown-nav-voices" style="z-index:10">
                        <img src="/clbs/resources/img/voiceOpen.png" style="width:80%" id='voiceImgSwitch' />
                    </div>
                    <div class="waves" id="noticeWaves"></div>
                    <div id="noticeVoice" style="display: none">
                        <audio id="noticeIEalarmMsg" src="/clbs/file/music/alarm.wav"></audio>
                        <audio id="noticeAutoOff" src="/clbs/file/music/YJTSY.mp3"></audio>
                    </div>
                    <ul id="menu2" class="dropdown-menu animated fadeInDown"
                        style="min-width: 196px;max-height: 400px!important;">
                        <li class="noInfo text-center" style="display: none">
                            <a href="#">
                                无信息
                            </a>
                        </li>
                        <li class="byNum numTwo">
                            <a href="#" onclick="pagesNav.goAlarmUrl(3)">
                                <i class="fa fa-file-text-o"></i>
                                有 <span id="byNum">0</span> 个车辆保养到期
                            </a>
                        </li>
                        <li class="jttNum numOne">
                            <a href="#" onclick="pagesNav.goGangSupervision(11)">
                                <!--<i class="fa fa-paper-plane"></i>-->
                                <i class="fa fa-file-text-o"></i>
                                有 <span id="jttNum">0</span> 个JTT平台查岗信息
                            </a>
                        </li>
                        <li class="xzNum numOne">
                            <a href="#" onclick="pagesNav.goGangSupervision(12)">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                有 <span id="xzNum">0</span> 个西藏企业查岗信息
                            </a>
                        </li>
                        <li class="jttAlarmNum numOne">
                            <a href="#" onclick="pagesNav.goGangSupervision(21)">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                有 <span id="jttAlarmNum">0</span> 个JTT报警督办信息
                            </a>
                        </li>
                        <li class="xzAlarmNum numOne">
                            <a href="#" onclick="pagesNav.goGangSupervision(22)">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                有 <span id="xzAlarmNum">0</span> 个西藏企业督办信息
                            </a>
                        </li>
                        <li class="fwNum numTwo">
                            <a href="#" onclick="pagesNav.goFwUrl()">
                                <i class="fa fa-file-text-o"></i>
                                有 <span id="fwNum">0</span> 个服务即将到期
                            </a>
                        </li>
                        <li class="bxNum numTwo">
                            <a href="#" onclick="pagesNav.goBxUrl()">
                                <i class="fa fa-file-text-o"></i>
                                有 <span id="bxNum">0</span> 个车辆保险即将到期
                            </a>
                        </li>
                        <li class="yszNum numTwo">
                            <a href="#" onclick="pagesNav.goAlarmUrl(2)">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                有 <span id="yszNum">0</span> 个车辆运输证即将到期
                            </a>
                        </li>
                        <li class="xszNum numTwo">
                            <a href="#" onclick="pagesNav.goAlarmUrl(1)">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                有 <span id="xszNum">0</span> 个车辆行驶证即将到期
                            </a>
                        </li>
                        <li class="conactInfo">
                            <a href="#" onclick="pagesNav.goConnection()">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                809连接已断开，自动重连中...
                            </a>
                        </li>
                        <li class="inspectionInfo">
                            <a href="#" onclick="pagesNav.inspectionPeople()">
                                <i class="fa fa-file-text-o" style="vertical-align: 1px;margin-right: 2px"></i>
                                监控人员巡检
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="alarmIcoHide" class="topNotice">
                    <span id="alarmno"></span>
                    <div style="visibility:hidden;" id="alarmWaves" class="waves"></div>
                    <button onclick="pagesNav.alarmDeal()" style="margin-top: -25px;" id="alarmIcoHide"
                        class="btn btn-default" type="button">
                        <img src="/clbs/resources/img/allcall.svg" style="width:18px;height:18px;margin-top:-6px;" />
                    </button>
                    <div id='emaliVoice' class="dropdown-nav-voices" style="z-index:10">
                        <img src="/clbs/resources/img/voiceOpen.png" style="width:80%" id='emaliVoiceImg' />
                    </div>
                </li>
                <li id="downloadBox" class="topNotice dropdown settings">
                    <i id="downloadRedIcon" class="redIcon"></i>
                    <button id="downloadBtn" type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        <img src="/clbs/resources/img/download.svg"
                            style="width:14px;margin-top:-4px;margin-right: -1px" />
                    </button>
                </li>
                <li class="profile-photo" style="margin-bottom: -3px">
                    <button type="button" class="btn btn-default dropdown-toggle options">
                        <i class="fa fa-user"></i>
                    </button>
                </li>
                <li class="dropdown settings">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="userName" th:text="${session.userName}"></span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu animated fadeInDown">
                        <li><a th:href="@{/c/user/profile}"><i class="fa fa-user"></i>&nbsp;&nbsp;用户个人信息</a></li>
                        <li id="editPwd"><a th:href="@{/c/user/changePwd}"><i class="fa fa-pencil-square-o"></i>
                                修改密码</a>
                        </li>
                        <li><a href="javascript:void(0);" id="updateFontSize"><i class="fa fa-font"></i> 修改字体大小</a></li>
                        <li><a href="javascript:void(0);" id="language" style="margin-left:-2px;"><img
                                    style="margin-top:-1px; width:14px;height:14px; margin-right:4px;"
                                    src="/clbs/resources/img/languageTag.png" alt="">语言（language）</a></li>
                        <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
                        <li><a id="logOut" href="javascript:void(0);" onclick="pagesNav.logout()"><i
                                    class="fa fa-power-off"></i> 退出</a>
                        </li>
                    </ul>
                </li>
                <!--dataClock start-->
                <li class="data-time">
                    <div class="dataClock clearfix">
                        <div id="monthsDay" style="width:105px;height: 65px;">
                            <p></p>
                            <h1></h1><span></span>
                        </div>
                        <div id="clockBox" style="width:99px;height:60px;">
                            <p id="clockAP"
                                style="font-size: 15px; color: grey; background: rgb(255, 255, 255); font-weight: bold;">
                            </p>
                            <p id="clock"
                                style="font-size: 32px; color: grey; background: rgb(255, 255, 255); font-weight: bold;">
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 用户所属组织id -->
            <input id="userGroupId" th:value="${session.groupId}" type="text" hidden="true" />
            <!-- 用户所属组织name -->
            <input id="userGroupName" th:value="${session.groupName}" type="text" hidden="true" />
            <!-- 用户是否为admin -->
            <input id="isAdmin" th:value="${session.isAdmin}" type="text" hidden="true" />
            <!-- 用户授权截止日期 -->
            <input id="userAuthorizationDate" th:value="${session.userAuthorizationDate}" type="text" hidden="true" />
            <!-- 用户被分配的角色 -->
            <input id="allUserRole" th:value="${session.userRole}" type="text" hidden="true" />
            <!-- 用户菜单权限的url -->
            <input id="permissionUrls" th:value="${session.permissionUrls}" type="text" hidden="true" />
            <input id="profile" th:value="${session.profile}" type="text" hidden="true" />
            <input id="version" th:value="#{web.version}" type="text" hidden="true" />
            <!-- help -->
            <div class="modal fade bs-example-modal-md" id="helpCenterModal" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog modal-md" style="margin:10% auto;">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: none;">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Windows系统：</strong></p>
                            <p>1. 按住ctrl键，使用鼠标滚轮滑动进行调整，调整后点击浏览器刷新按钮生效。</p>
                            <p>2. 按住ctrl键，点击加号（+）是放大，减号（-）是缩小，数字0是恢复默认，调整后点击浏览器刷新按钮生效。</p>
                            <p><strong>Mac系统：</strong></p>
                            <p>1. 按住command键，使用鼠标滚轮滑动进行调整，调整后点击浏览器刷新按钮生效。
                            <p>2. 按住command键，点击加号（+）是放大，减号（-）是缩小，数字0是恢复默认，调整后点击浏览器刷新按钮生效。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--多语言-->
            <div class="modal fade bs-example-modal-md" id="languageModal" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog modal-md" style="margin:7.5% 13.4%;">
                    <div class="modal-content" style="width:1450px;height:710px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <span style="margin-left: 30px; font-size:18px; font-weight: 600">Google 翻译插件下载及使用(Google
                                Translate plugin download and use)</span>
                        </div>
                        <div class="languageBody">
                            <div id="carousel-example-generic" class="carousel slide" data-pause="carousel"
                                data-wrap="carousel">
                                <!--图片-->
                                <div class="carousel-inner">
                                    <div class="item carousel_item active">
                                        <!--<img src="./w1.jpg">-->
                                        <div style="border-bottom: 1px solid #d8d8d8;">
                                            <h5 class="carousel_font">双击打开谷歌浏览器，按照图片标记，打开扩展程序。</h5>
                                            <h5 class="carousel_font">(Double-click to open Google Chrome and follow the
                                                image tag to open the extension.)</h5>
                                        </div>
                                        <div class="carousel_img">
                                            <img style="border: 1px solid #fff; border-radius: 10px;"
                                                src="/clbs/resources/img/language1.jpg" class="lazyload" alt="">
                                        </div>
                                    </div>
                                    <div class="item carousel_item">
                                        <div style="border-bottom: 1px solid #d8d8d8;">
                                            <h5 class="carousel_font">在扩展程序面板，按照图示打开Google应用商店。</h5>
                                            <h5 class="carousel_font">(In the extensions panel, open the Google web
                                                store as shown.)</h5>
                                        </div>
                                        <div class="carousel_img">
                                            <img style="border: 1px solid #fff; border-radius: 10px;"
                                                src="/clbs/resources/img/language2.jpg" class="lazyload" alt="">
                                        </div>
                                    </div>
                                    <div class="item carousel_item">
                                        <div style="border-bottom: 1px solid #d8d8d8;">
                                            <h5 class="carousel_font">在谷歌应用商店中搜索“Translate”关键词，查找到谷歌翻译插件，然后点击添加。</h5>
                                            <h5 class="carousel_font">(Search for the "Translate" keyword in the Google
                                                Web Store, find the Google Translate plugin, and click Add to
                                                Google.)</h5>
                                        </div>
                                        <div class="carousel_img">
                                            <img style="border: 1px solid #fff; border-radius: 10px;"
                                                src="/clbs/resources/img/language3.jpg" class="lazyload" alt="">
                                        </div>
                                    </div>
                                    <div class="item carousel_item">
                                        <div style="border-bottom: 1px solid #d8d8d8;">
                                            <h5 class="carousel_font">
                                                添加成功后，单击右上角Google翻译的图标，弹出搜索框，单击翻译此网页，即可完成网页翻译。</h5>
                                            <h5 class="carousel_font">(After the addition is successful, click the icon
                                                of Google Translate in the upper right corner to pop up the search box
                                                and click Translate this page to complete the translation of the
                                                page.)</h5>
                                        </div>
                                        <div class="carousel_img">
                                            <img style="border: 1px solid #fff; border-radius: 10px;"
                                                src="/clbs/resources/img/language4.jpg" class="lazyload" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!--指示器-->
                                <ul class="carousel-indicators" style="position: relative;left:288px;top:10px;">
                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                        class="activeBlack active" style="position: relative;left:-74px;">
                                        <span style="position:absolute;left:513px;top:0px;font-size:20px;">1</span>

                                    <li data-target="#carousel-example-generic" data-slide-to="1" class="activeBlack"
                                        style="position: relative;left:-38px;">
                                        <span style="position:absolute;left:513px;top:0px;font-size:20px;">2</span>
                                    </li>

                                    <li data-target="#carousel-example-generic" data-slide-to="2" class="activeBlack"
                                        style="position: relative; left:-2px;">
                                        <span style="position:absolute;left:513px;top:0px;font-size:20px;">3</span>
                                    </li>

                                    <li data-target="#carousel-example-generic" data-slide-to="3" class="activeBlack"
                                        style="position: relative;left: 32px;">
                                        <span style="position:absolute;left:513px;top:0px;font-size:20px;">4</span>
                                    </li>
                                </ul>

                                <!--控制左右切换按钮-->
                                <a class="carousel-control-prev" style="position: absolute;top:50%;left:7px;"
                                    href="#carousel-example-generic" data-slide="prev">
                                    <img class="leftHover" style="width: 40px;height: 40px;"
                                        src="/clbs/resources/img/languageLeft.png" alt="">
                                </a>
                                <a class="carousel-control-next" style="position: absolute;top:50%;left:96.5%"
                                    href="#carousel-example-generic" data-slide="next">
                                    <img class="rightHover" style="width: 40px;height: 40px;"
                                        src="/clbs/resources/img/languageRight.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--导出管理弹窗-->
<div id="exportManager" class="modal fade" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="width: 980px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">导出管理</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-horizontal clearfix">
                    <label class="col-md-1 control-label">状态：</label>
                    <div class="col-md-3">
                        <select name="status" id="downloadStatus" class="form-control">
                            <option value="">全部</option>
                            <option value="0">待执行</option>
                            <option value="1">执行中</option>
                            <option value="2">成功</option>
                            <option value="3">失败</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label">文件名：</label>
                    <div class="col-md-3">
                        <input type="text" id="downloadFileName" name="fileName" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button id="downloadSearch" type="button" class="btn btn-primary search-btn"><i
                                class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </div>
                </div>
                <table id="downloadDataTable" class="table table-striped table-bordered table-hover checkTable"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>操作</th>
                            <th>添加时间</th>
                            <th>文件名</th>
                            <th>文件大小(KB)</th>
                            <th>模块名</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-off" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--平台查岗-->
<div id="goTrace9301" class="modal fade" aria-hidden="true" data-backdrop="static" style=" top: 0;  left: 0; right: 0;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="chaGangForm" action="/clbs/m/connectionparamsset/platformGangAck" method="post">
                <div class="modal-header">
                    <button id="doXAdd" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="traceParameter"><span id="msgTitle9301"></span></h4>
                </div>
                <div class="modal-body" style="padding-right: 60px">
                    <!--<div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><span id="question9301"></span></label>
                            <div class=" col-md-7">
                                <input type="hidden" name="infoId" id="infoId9301">
                                <input type="hidden" name="msgDataType" id="msgDataType9301">
                                <input type="hidden" name="objectType" id="objectType9301">
                                <input type="hidden" name="objectId" id="objectId9301">
                                <input type="hidden" name="serverIp" id="serverIp9301">
                                <input type="hidden" name="groupId" id="groupId9301">
                                <input type="hidden" name="msgGNSSCenterId" id="msgGNSSCenterId9301">
                                <input type="text" class="form-control" id="answer9301"/>
                            </div>
                        </div>
                    </div>
-->
                    <div class="row form-horizontal">
                        <input type="hidden" name="infoId" id="infoId9301">
                        <input type="hidden" name="msgDataType" id="msgDataType9301">
                        <input type="hidden" name="objectType" id="objectType9301">
                        <input type="hidden" name="objectId" id="objectId9301">
                        <input type="hidden" name="serverIp" id="serverIp9301">
                        <input type="hidden" name="groupId" id="groupId9301">
                        <input type="hidden" name="msgGNSSCenterId" id="msgGNSSCenterId9301">
                        <input type="hidden" name="gangId" id="gangId">
                        <input type="hidden" name="msgID" id="msgID9301">
                        <input type="hidden" name="msgSn" id="msgSn9301">
                        <input type="hidden" name="platFormId" id="platFormId9301">
                        <div class="xzInfo">
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label text-right">运输企业名称：</label>
                                <div class=" col-md-7">
                                    <input id="enterprise" type="text" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-4 control-label text-right">对企业查岗用户：</label>
                                <div class=" col-md-7">
                                    <input id="gangman" type="text" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix" id='superiorPlatform'>
                            <label class="col-md-4 control-label text-right">上级平台：</label>
                            <div class=" col-md-7" style="line-height:33px" id='platformName'></div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-4 control-label text-right">查岗内容：</label>
                            <div class=" col-md-7">
                                <input id="question9301" type="text" class="form-control" name="interval" readonly />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-4 control-label text-right">
                                <label class="text-danger">*</label>应答内容：
                            </label>
                            <div class=" col-md-7">
                                <input type="text" placeholder="请输入应答内容" maxlength="20" class="form-control"
                                    name="answer" id="navAnswer" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="parameters1" class="btn btn-primary"
                        onclick="pagesNav.platformMsgAck(9301,'#chaGangForm')">确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="goTrace9302" class="modal fade" aria-hidden="true" data-backdrop="static"
    style="position: fixed; top: 250px; left: 0; right: 0; z-index: 1050;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="doXAdd" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="traceParameter"><span id="msgTitle9302"></span></h4>
            </div>
            <div class="modal-body" style="padding-right: 60px">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <!--<label class="col-md-4 control-label"><span id="question9302"></span></label>-->
                        <div class=" col-md-7">
                            <input type="hidden" id="infoId9302">
                            <input type="hidden" id="msgDataType9302">
                            <input type="hidden" id="objectType9302">
                            <input type="hidden" id="objectId9302">
                            <input type="hidden" id="serverIp9302">
                            <input type="hidden" id="groupId9302">
                            <input type="hidden" id="msgGNSSCenterId9302">
                            <input type="hidden" id="msgID9302">
                            <input type="hidden" id="msgSn9302">
                            <input type="hidden" id="platFormId9302">
                            <!--<input type="text" class="form-control" id="answer9302"/>-->
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-4 control-label text-right">报文内容：</label>
                        <div class=" col-md-7">
                            <input id="question9302" type="text" class="form-control" name="interval" readonly />
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-4 control-label text-right">
                            <label class="text-danger">*</label>应答内容：
                        </label>
                        <div class=" col-md-7">
                            <input type="text" placeholder="请输入应答内容" maxlength="20" class="form-control"
                                name="answer9302" id="answer9302" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="parameters1" class="btn btn-primary" onclick="pagesNav.platformMsgAck(9302)">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!--报警督办-->
<div class="modal fade" id="goTrace_alarm" tabindex="-1" style="z-index: 2000" aria-hidden="true" data-backdrop="static"
    role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="doXAdd" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="traceParameter_alarm"><span id="msgTitle_alarm"></span></h4>
            </div>
            <div class="modal-body">
                <!-- <div class="row">
                     <div class="form-group">
                         <div>
                             <label class="col-md-4 control-label"><span id="question_alarm"></span></label>
                         </div>
                         <div class=" col-md-7">
                             <select id="alarm_handle">
                                 <option value="0">处理中</option>
                                 <option value="1">已处理完毕</option>
                                 <option value="2">不做处理</option>
                                 <option value="3">将来处理</option>
                             </select>
                         </div>
                     </div>
                 </div>-->
                <div class="row form-horizontal">
                    <div class="col-md-12">
                        <div class="normalType1">
                            <div class="form-group clearfix">
                                <label class="col-md-2 control-label">车牌号：</label>
                                <div class="col-md-4">
                                    <input name="vehicleNo" type="text" id="vehicleNo" class="form-control" readonly>
                                </div>
                                <label class="col-md-2 control-label">车牌颜色：</label>
                                <div class="col-md-4">
                                    <input name="vehicleColor" type="text" id="vehicleColor" class="form-control"
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-md-2 control-label">报警类型：</label>
                                <div class="col-md-4">
                                    <input name="warnType" type="text" id="warnType" class="form-control" readonly>
                                </div>
                                <label class="col-md-2 control-label">报警时间：</label>
                                <div class="col-md-4">
                                    <input name="warnTime" type="text" id="warnTime" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-2 control-label normalName1">报警信息来源：</label>
                            <label class="col-md-2 control-label xzName1" style="display: none">运输企业名称：</label>
                            <div class="col-md-4">
                                <input name="warnSrc" type="text" id="warnSrc" class="form-control" readonly>
                            </div>
                            <label class="col-md-2 control-label">督办级别：</label>
                            <div class="col-md-4">
                                <input name="supervisionLevel" type="text" id="supervisionLevel" class="form-control"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-2 control-label">督办截止时间：</label>
                            <div class="col-md-4">
                                <input name="supervisionEndTime" type="text" id="supervisionEndTime"
                                    class="form-control" readonly>
                            </div>
                            <label class="col-md-2 control-label">督办人：</label>
                            <div class="col-md-4">
                                <input name="supervisor" type="text" id="supervisor" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-md-2 control-label">督办联系电话：</label>
                            <div class="col-md-4">
                                <input name="supervisionTel" type="text" id="supervisionTel" class="form-control"
                                    readonly>
                            </div>
                            <label class="col-md-2 control-label">督办联系邮件：</label>
                            <div class="col-md-4">
                                <input name="supervisionEmal" type="text" id="supervisionEmal" class="form-control"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-group clearfix xzName1">
                            <label class="col-md-2 control-label">
                                <!-- <label class="text-danger">*</label>-->督办内容：
                            </label>
                            <div class="col-md-4">
                                <input name="infoContent" type="text" id="infoContent" class="form-control" readonly>
                                <!--<select class="form-control" name="alarm_handle" id="alarm_handle">
                                    <option value="-1">- 请选择处理结果 -</option>
                                    <option value="0">处理中</option>
                                    <option value="1">已处理</option>
                                    <option value="2">不作处理</option>
                                    <option value="3">将来处理</option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="alarm_brand" />
                <input type="hidden" id="alarmTime" />
                <input type="hidden" id="alarmMsgId" />
                <input type="hidden" id="supervisionId9041" />
                <input type="hidden" id="msgGNSSCenterId9041">
                <input type="hidden" id="serverIp9041">
                <input type="hidden" id="objectType9041">
                <!--车牌颜色-->
                <input type="hidden" id="vehicleColorNumber">
                <!--报警开始时间-->
                <input type="hidden" id="alarmStartTime">
                <!--转发平台id-->
                <input type="hidden" id="plateFormId">
                <!--报警类型-->
                <input type="hidden" id="alarmType">
                <!--监控对象id-->
                <input type="hidden" id="monitorId">
                <input type="hidden" id="eventId">
                <input type="hidden" name="sourceDataType" id="sourceDataType">
                <input type="hidden" name="sourceMsgSn" id="sourceMsgSn">
                <input type="hidden" name="msgSn" id="msgSn">
                <button type="button" class="btn btn-primary" onclick="pagesNav.platformAlarmAck(0)">处理中</button>
                <button type="button" class="btn btn-primary" onclick="pagesNav.platformAlarmAck(1)">已处理</button>
                <button type="button" class="btn btn-primary" onclick="pagesNav.platformAlarmAck(2)">不做处理</button>
                <button type="button" class="btn btn-primary" onclick="pagesNav.platformAlarmAck(3)">将来处理</button>


                <!--<button type="button" id="parameters_alarm" class="btn btn-primary"
                        onclick="pagesNav.platformAlarmAck()">确定
                </button>-->
            </div>
        </div>
    </div>
</div>

<!-- 巡检应答弹窗 -->
<div class="modal fade" id="patrolAnswerModel" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 720px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                <h4 class="modal-title">监控人员巡检</h4>
            </div>
            <div class="modal-body">
                <form id="answerForm" class="form-horizontal" role="form" action="#" method="post">
                    <input type="hidden" name="id" id="answerId">
                    <input type="hidden" name="type" id="answerType" value="2">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="col-md-3 control-label">姓名：</label>
                                <div class=" col-md-9">
                                    <input type="text" id="answerUser" name="answerUser" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">联系电话：</label>
                                <div class=" col-md-9">
                                    <input type="text" id="answerUserTel" name="answerUserTel" class="form-control"
                                        readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">身份证号：</label>
                                <div class=" col-md-9">
                                    <input type="text" id="answerUserIdentityNumber" name="answerUserIdentityNumber"
                                        class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">社会保险号：</label>
                                <div class=" col-md-9">
                                    <input type="text" id="socialSecurityNumber" name="socialSecurityNumber"
                                        class="form-control" readonly>
                                </div>
                            </div>
                            <div id="answerCountdownGroup" class="form-group">
                                <label class="col-md-3 control-label">应答倒计时：</label>
                                <div class=" col-md-9">
                                    <input type="text" id="answercountdown" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div id="answerPhotoWrapper">
                                <div id="answerNoImgInfo">
                                    <h2>暂无照片</h2>
                                    <h4>照片大小在1M内</h4>
                                </div>
                                <img id="answerPhotoImg" src="" alt="">
                            </div>
                            <div id="selectImgBox">
                                <div class="inpFilePhoto">
                                    <input type="file" accept="image/png,image/jpeg,image/gif,image/svg+xml"
                                        id="answerImgFile" style="width:202px;" />
                                    <label class="changeFile" for="answerImgFile">选择照片</label>
                                </div>
                                <button id="getCameraBtn" type="button" class="btn btn-primary">调用摄像头</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="takingPicturesBox">
                    <video id="picturesVideo" width="200" height="241" autoplay></video>
                    <canvas id="pictureCanvas" class="hidden" width="200" height="241"></canvas>
                    <div id="pictureBtnGroup">
                        <button id="pictureSnap" class="btn btn-primary">拍照</button>
                        <button id="pictureClose" class="btn btn-default">关闭</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitAnswer" type="button" class="btn btn-primary">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div>
    <audio id="laid-off" loop="true" src="/clbs/resources/voice/laid-off.mp3">
        您的浏览器不支持 audio 标签。
    </audio>
</div>
<label id="_error_label" class='error' style='display: none;'></label>

<footer id="footer">
    <div id="bomMsgBoxClickShow" class="bomMsgBoxClickShow" onclick="pagesNav.bomMsgShow()" style="display: none">
        <img src="/clbs/resources/img/top-arrow.png" width="12px" height="12px" />
    </div>
<!--    <div id="bomMsgBoxClickShowBtm" class="bomMsgBoxClickShowBtm" style="display: none"></div>-->
    <div id="bomMsgBox" class="bomMsgBox">
        <div id="bomMsgBoxClickClose" class="bomMsgBoxClickClose" onclick="pagesNav.bomMsgClose()">
            <img src="/clbs/resources/img/bottom-arrow.png" width="12px" height="12px" />
        </div>
        <div style="height: 40%">
            <h3 id="bomMsgBoxTitle">操作确认</h3>
            <p id="bomMsgBoxContent" style="padding: 10px 20px 0; font-size: 16px; height: 80%;
    overflow-y: auto;">暂无报警提醒消息！</p>
        </div>
        <div class="okBox">
            <p class="okClick" onclick="pagesNav.okClick()"> 😊 好的，立即查看</p>
            <p class="okClick" onclick="pagesNav.noClick()"> 😏 不用了，暂不查看</p>
        </div>
    </div>
</footer>

<script src="resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/resources/js/jquery.cookie.js}"></script>
<!--<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>-->
<script src="resources/js/layui/layer/layer.js" th:src="@{/resources/js/layui/layer/layer.js}"></script>
<script src="resources/js/laydate/laydate.js" th:src="@{/resources/js/laydate/laydate.js}"></script>
<script src="/clbs/resources/js/laydatePro/laydatePro.js"></script>
<script src="resources/js/sendAjax.js" th:src="@{/resources/js/sendAjax.js}"></script>
<script src="resources/js/ungzip/pako.min.js" th:src="@{/resources/js/ungzip/pako.min.js}"></script>
<script src="resources/js/ungzip/ungzip.js" th:src="@{/resources/js/ungzip/ungzip.js}"></script>
<script src="resources/js/sockjs-1.1.1.min.js" th:src="@{/resources/js/sockjs-1.1.1.min.js}"></script>
<script src="resources/js/stomp.min.js" th:src="@{/resources/js/stomp.min.js}"></script>
<script src="resources/js/webSocket.js" th:src="@{/resources/js/webSocket.js}"></script>
<script th:inline="javascript">
    var headers = {
      "access_token": [[${ session.access_token }]],
      "refresh_token": [[${ session.refresh_token }]],
    };
</script>
<script src="/wro/topPublic.js" th:src="@{/wro/topPublic.js}"></script>
<script src="resources/js/lazysizes.min.js" th:src="@{/resources/js/lazysizes.min.js}" async></script>
<script>
    $(function () {
        $('#goTrace9301,#goTrace9302').on('shown.bs.modal', function () {
            var audio = document.getElementById("laid-off");
            audio.play();
        })
        $('#goTrace9301,#goTrace9302').on('hidden.bs.modal', function () {
            var audio = document.getElementById("laid-off");
            audio.pause();
            audio.currentTime = 0;
        })
    })
</script>