<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="/clbs/resources/css/normalize.css">
    <style media="screen">
      .offset-top{
        height: 230px;
      }
      .contaner{
        width:550px;
        margin: auto;
        position: relative;
      }
      .bg-img{
        width: 100%;
        height: auto;
      }
      .car{
        position: absolute;
        width: 20px;
        opacity: 0;
      }
      .text{
        font-family: 'Arial';
        color:#726e6f;
        font-size: 16px;
        text-align: center;
        padding-top: 50px;
        line-height: 26px;
      }
    </style>
  </head>
  <body>
    <div class="offset-top">
    </div>
    <div class="contaner">
      <img src="/clbs/resources/img/404.svg" alt="" class="bg-img">
      <img src="/clbs/resources/img/car2.svg" alt="" class="car" id="car1">
    </div>
    <div class="text">
      页面跑丢了，请联系管理员
      <br/>Tel：11188844445
    </div>
    <script src="/clbs/resources/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var pathInfo1 = [
        {
          animate: {
            left: '8px',
            top: '40px',
            opacity: 0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '8px',
            top: '198px',
            opacity:1,
          },
          css: {
            transform: 'rotate(-90deg)',
            '-webkit-transform': 'rotate(-90deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '198px',

          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '367px',

          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '450px',
            opacity:0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 500,
        }
      ];
      var pathInfo2 = [
        {
          animate: {
            left: '7px',
            top: '40px',
            opacity: 0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '7px',
            top: '198px',
            opacity:1,
          },
          css: {
            transform: 'rotate(-90deg)',
            '-webkit-transform': 'rotate(-90deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '198px',
          },
          css: {
            transform: 'rotate(180deg)',
            '-webkit-transform': 'rotate(180deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '20px',

          },
          css: {
            transform: 'rotate(180deg)',
            '-webkit-transform': 'rotate(180deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '146px',
            top: '-50px',
            opacity:0,
          },
          css: {
            transform: 'rotate(180deg)',
            '-webkit-transform': 'rotate(180deg)',
          },
          speed:500,
        }
      ];
      var pathInfo3 = [
        {
          animate: {
            left: '215px',
            top: '65px',
            opacity: 0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '215px',
            top: '295px',
            opacity:1,
          },
          css: {
            transform: 'rotate(-90deg)',
            '-webkit-transform': 'rotate(-90deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '319px',
            top: '295px',
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '319px',
            top: '350px',
            opacity:0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 500,
        }
      ];
      var pathInfo4 = [
        {
          animate: {
            left: '215px',
            top: '0px',
            opacity: 0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '215px',
            top: '65px',
            opacity: 1,
          },
          css: {
            transform: 'rotate(-90deg)',
            '-webkit-transform': 'rotate(-90deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '319px',
            top: '65px',
            opacity:1,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '319px',
            top: '295px',
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '319px',
            top: '350px',
            opacity:0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 500,
        }
      ];
      var pathInfo5 = [
        {
          animate: {
            left: '382px',
            top: '0px',
            opacity: 0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 800,
        },
        {
          animate: {
            left: '382px',
            top: '198px',
            opacity:1,
          },
          css: {
            transform: 'rotate(-90deg)',
            '-webkit-transform': 'rotate(-90deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '523px',
            top: '198px',
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '523px',
            top: '289px',
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 1500,
        },
        {
          animate: {
            left: '523px',
            top: '359px',
            opacity:0,
          },
          css: {
            transform: 'rotate(0deg)',
            '-webkit-transform': 'rotate(0deg)',
          },
          speed: 500,
        }
      ];
      var car1 = $('#car1');
      var path = [pathInfo1, pathInfo2, pathInfo3, pathInfo4, pathInfo5];
      var run = function(){
        var pathInfo = path[Math.floor(Math.random()*path.length)];
        for (var i = 0; i < pathInfo.length; i++) {
          var node = pathInfo[i];
          car1.animate(node.animate, node.speed, null, (function (css) {
            return function(){
              car1.css(css)
            }
          })(node.css));
        }
      };
      run();
      setInterval(function () {
        run();
      }, 5000);
    </script>
  </body>
</html>
