<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>途经点统计</title>
    <div th:replace="fragments/header">header</div>
</head>
<body>
<section id="container">
    <div th:replace="fragments/nav">nav</div>
    <section class="main-content-wrapper">
        <div th:replace="fragments/menu">menu</div>
        <section id="main-content">
            <div class="row eightIsZero">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/}">首页</a></li>
                        <li class="active">报表管理</li>
                        <li class="active">主动安全报表</li>
                        <li class="active">途经点统计</li>
                    </ul>
                    <h1 class="h1 ">途经点统计</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 noPadding">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stretch">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active" noTrigger><a href="#byRoad" data-toggle="tab">按道路运输企业统计</a></li>
                                    <li noTrigger><a href="#byCar" data-toggle="tab">按车辆统计</a></li>
                                    <li noTrigger><a href="#byPath" data-toggle="tab">按车辆途经顺序统计</a></li>
                                </ul>
                                <div class="actions pull-right listActions">
                                    <i class="fa chevron-down" id="stretch-chevron"></i>
                                </div>
                            </div>
                            <div class="panel-body" id="stretch-body">
                                <div class="col-md-12 alarmSearchToolPanel">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="byRoad">
                                            <form id="alarmForm1" class="form-horizontal" action="#" method="post" role="form">
                                                <div class="form-group ">
                                                    <label class="col-md-1 col-sm-3 control-label paddingRight">组织：</label>
                                                    <input class="form-control hidden">
                                                    <div class="col-md-3 col-sm-8 fastClear has-feedback">
                                                        <input style="cursor: pointer; background-color: #fafafa;" autocomplete="off" placeholder="请选择组织" class="form-control" type="text" id="groupSelect1" name="groupSelect1">
                                                        <span class="fa fa-chevron-down form-control-feedback" style="top: 0; right: 15px;cursor:pointer;" aria-hidden="true" id="groupSelectSpan1"></span>
                                                        <div id="menuContent1" class="menuContent" style="width: 383px; display: none;">
                                                            <ul id="treeDemo1" class="ztree"></ul>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-1 col-sm-3 control-label paddingRight">时间：</label>
                                                    <div class="col-md-3 col-sm-8 searchListSelect">
                                                        <input id="dateRange1" name="dateRange1" class="form-control laydate-icon" style="background-color: #fafafa;" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 control-label btn-alarmRep">
<!--                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query1(0)">今天</button>-->
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query1(-1)">前一天</button>
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query1(-3)">前三天</button>
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query1(-7)">前七天</button>
                                                        <button type="button" class="btn btn-primary search-btn" name="1" onclick="routeSiteStatistics.query1()">
                                                            <i class="glyphicon glyphicon-search"></i>  查询
                                                        </button>
                                                        <button id="exportAlarm1" disabled="disabled" type="button" class="btn btn-purple export-btn" onclick="routeSiteStatistics.exportAlarm1()">
                                                            <i class="glyphicon glyphicon-log-out"></i>  导出
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="byCar">
                                            <div>
                                                <form id="alarmForm2" class="form-horizontal" action="#" method="post" role="form">
                                                    <div class="form-group">
                                                        <label class="col-md-1 col-sm-3 control-label">监控对象：</label>
                                                        <div class="has-feedback fastClear col-md-3 col-sm-8">
                                                            <select name="queryType2" id="queryType2" class="Inlinesearch form-control treeSelect">
                                                                <option value="vehicle">监控对象</option>
                                                                <option value="group">企业</option>
                                                                <option value="assignment">分组</option>
                                                            </select>
                                                            <input type="text" autocomplete="off" style="cursor: pointer; background-color: #fafafa;" placeholder="请选择" class="form-control moreQueryGroup" id="groupSelect2" name="groupSelect2">
                                                            <span class="fa fa-chevron-down form-control-feedback" style="top: 0; right: 15px;cursor:pointer;" aria-hidden="true" id="groupSelectSpan2"></span>
                                                            <div id="menuContent2" class="menuContent">
                                                                <ul id="treeDemo2" class="ztree"></ul>
                                                            </div>
                                                        </div>
                                                        <label class="col-md-1 col-sm-3 control-label paddingRight">时间：</label>
                                                        <div class="col-md-3 col-sm-8 searchListSelect">
                                                            <input id="dateRange2" name="dateRange2" class="form-control laydate-icon" style="background-color: #fafafa;" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12 control-label btn-alarmRep" id="dateSearchData">
<!--                                                            <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query2(0)">今天</button>-->
                                                            <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query2(-1)">前一天</button>
                                                            <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query2(-3)">前三天</button>
                                                            <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query2(-7)">前七天</button>
                                                            <button type="button" class="btn btn-primary search-btn" name="1" onclick="routeSiteStatistics.query2()">
                                                                <i class="glyphicon glyphicon-search"></i>  查询
                                                            </button>
                                                            <button id="exportAlarm2" disabled="disabled" type="button" class="btn btn-purple export-btn" onclick="routeSiteStatistics.exportAlarm2()">
                                                                <i class="glyphicon glyphicon-log-out"></i>  导出
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="byPath">
                                            <form id="alarmForm3" class="form-horizontal" action="#" method="post" role="form">
                                                <div class="form-group">
                                                    <label class="col-md-1 col-sm-3 control-label">监控对象：</label>
                                                    <div class="has-feedback fastClear col-md-3 col-sm-8">
                                                        <select name="queryType3" id="queryType3" class="Inlinesearch form-control treeSelect">
                                                            <option value="vehicle">监控对象</option>
                                                            <option value="group">企业</option>
                                                            <option value="assignment">分组</option>
                                                        </select>
                                                        <input type="text" autocomplete="off" style="cursor: pointer; background-color: #fafafa;" placeholder="请选择" class="form-control moreQueryGroup" id="groupSelect3" name="groupSelect3">
                                                        <span class="fa fa-chevron-down form-control-feedback" style="top: 0; right: 15px;cursor:pointer;" aria-hidden="true" id="groupSelectSpan3"></span>
                                                        <div id="menuContent3" class="menuContent">
                                                            <ul id="treeDemo3" class="ztree"></ul>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-1 col-sm-3 control-label paddingRight">时间：</label>
                                                    <div class="col-md-3 col-sm-8 searchListSelect">
                                                        <input id="dateRange3" name="dateRange3" class="form-control laydate-icon" style="background-color: #fafafa;" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 control-label btn-alarmRep" id="dateSearchData3">
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query3(0)">今天</button>
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query3(-1)">前一天</button>
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query3(-3)">前三天</button>
                                                        <button type="button" class="btn btn-primary" onclick="routeSiteStatistics.query3(-7)">前七天</button>
                                                        <button type="button" class="btn btn-primary search-btn" name="1" onclick="routeSiteStatistics.query3()">
                                                            <i class="glyphicon glyphicon-search"></i>  查询
                                                        </button>
                                                        <button id="exportAlarm3" disabled="disabled" type="button" class="btn btn-purple export-btn" onclick="routeSiteStatistics.exportAlarm3()">
                                                            <i class="glyphicon glyphicon-log-out"></i>  导出
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 noPadding">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stretch2">
                                <h3 class="panel-title fwb">数据列表</h3>
                                <div class="actions pull-right listActions">
                                    <i class="fa chevron-down" id="stretch2-chevron"></i>
                                </div>
                            </div>
                            <div class="panel-body fixed-table-body" id="stretch2-body">
                                <div id="roadData">
                                    <div class="ToolPanel">
                                        <div class="bars pull-left">
                                            <div class="btn-group pull-left barsMargin" role="group">
                                                <form role="form">
                                                    <label><input autocomplete="off" type="text" class="Inlinesearch form-control" id="simpleQueryParam1" name="simpleQueryParam" style="width:300px" placeholder="请输入途经点名称"></label>
                                                    <button type="button" id="search_button1" class="btn btn-outline btn-default">搜索
                                                    </button>
                                                    <input id="hiddenText1" type="text" style="display:none">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="columns btn-group pull-right InformationList">
                                            <button class="btn btn-default" type="button" name="refresh" title="刷新" onclick="routeSiteStatistics.refreshTable1()">
                                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                                            </button>
                                            <div class="btn-group" title="定制显示列">
                                                <button id="customizeColumns1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text1">
                                                    <li><label><input type="checkbox" class="toggle-vis-1" data-column="1" checked="checked" disabled="">序号</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-1" data-column="1" checked="checked">所属企业</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-1" data-column="2" checked="checked">途经点名称</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-1" data-column="3" checked="checked">途经次数</label></li><li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="dataTable1" class="table table-striped table-bordered table-hover noCheckTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">所属企业</th>
                                            <th class="text-center">途经点名称</th>
                                            <th class="text-center">途经次数</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="carData" style="display: none">
                                    <div class="ToolPanel">
                                        <div class="bars pull-left">
                                            <div class="btn-group pull-left barsMargin" role="group">
                                                <form role="form">
                                                    <label><input autocomplete="off" type="text" class="Inlinesearch form-control" id="simpleQueryParam2" name="simpleQueryParam" style="width:300px" placeholder="请输入途经点名称"></label>
                                                    <button type="button" id="search_button2" class="btn btn-outline btn-default">搜索
                                                    </button>
                                                    <input id="hiddenText2" type="text" style="display:none">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="columns btn-group pull-right InformationList">
                                            <button class="btn btn-default" type="button" name="refresh" title="刷新"  onclick="routeSiteStatistics.refreshTable2()">
                                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                                            </button>
                                            <div class="keep-open btn-group open" title="定制显示列">
                                                <button id="customizeColumns2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text2">
                                                    <li><label><input type="checkbox" class="toggle-vis-2" data-column="1" checked="checked" disabled="">序号</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-2" data-column="1" checked="checked">监控对象</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-2" data-column="2" checked="checked">途经点名称</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-2" data-column="3" checked="checked">途经次数</label></li><li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="dataTable2" class="table table-striped table-bordered table-hover noCheckTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">监控对象</th>
                                            <th class="text-center">途经点名称</th>
                                            <th class="text-center">途经次数</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="pathData" style="display: none">
                                    <div class="ToolPanel">
                                        <div class="bars pull-left">
                                            <div class="btn-group pull-left barsMargin" role="group">
                                                <form role="form">
                                                    <label><input autocomplete="off" type="text" class="Inlinesearch form-control" id="simpleQueryParam3" name="simpleQueryParam3" style="width:300px" placeholder="请输入途经点名称"></label>
                                                    <button type="button" id="search_button3" class="btn btn-outline btn-default">搜索
                                                    </button>
                                                    <input id="hiddenText3" type="text" style="display:none">
                                                </form>
                                            </div>
                                        </div>
                                        <div class="columns btn-group pull-right InformationList">
                                            <button class="btn btn-default" type="button" name="refresh" title="刷新"  onclick="routeSiteStatistics.refreshTable3()">
                                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                                            </button>
                                            <div class="keep-open btn-group open" title="定制显示列">
                                                <button id="customizeColumns3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text3">
                                                    <li><label><input type="checkbox" class="toggle-vis-3" data-column="1" checked="checked" disabled="">序号</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-3" data-column="1" checked="checked">监控对象</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-3" data-column="2" checked="checked">途经点名称</label></li>
                                                    <li><label><input type="checkbox" class="toggle-vis-3" data-column="3" checked="checked">途经时间</label></li><li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="dataTable3" class="table table-striped table-bordered table-hover noCheckTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">监控对象</th>
                                            <th class="text-center">途经点名称</th>
                                            <th class="text-center">途经时间</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="fragments/footer">footer</div>
</body>
<script src="/clbs/resources/js/zTree/js/ztreeSearch.js"></script>
<script src="/clbs/resources/js/routeSiteStatistics.js"></script>
</html>