.cont-top-left-panel{
    height: 100%;
}
.tab-content>div{
    height: 100%;
}
.cont-top-left-panel .panel-body{
    padding: 0;
    height: calc(100% - 71px);
}
.cont-top-left-panel .panel-body .tab-content{
    height: 100%;
}
.alarmAnalyze-left,.alarmAnalyze-right{
    height: 100%;
    float: left;
}
.alarmAnalyze-left{
    width: 40%;
    position: relative;
}
.alarmAnalyze-right{
    width: 60%;
}
#alarmAnalyzePieChart,#alarmAnalyzeBarChart{
    height: 100%;
}

#mapCont,#realTimeVideoCont,.alarmChartLeft,.alarmChartRight{
    width: 50%;
    float: left;
    height: 100%;
}
#mapCont,.alarmChartLeft{
    padding-right: 5px;
}
#realTimeVideoCont,.alarmChartRight{
    padding-left: 5px;
}
#mapCont #map{
    height: 100%;
}

/*.aMap-data.left {*/
    /*border-left: 5px solid #6dcff6;*/
    /*top: 5px;*/
    /*left: 0;*/
    /*position: absolute;*/
/*}*/

/*.aMap-data {*/
    /*padding: 10px;*/
    /*color: #000;*/
    /*background-color: #333;*/
    /*background-color: rgba(204,204,204,0.6);*/
    /*z-index: 10;*/
/*}*/
/*.aMap-data .tit{*/
    /*font-weight: bold;*/
/*}*/
/*.aMap-data .con {*/
    /*color: #000;*/
    /*margin-top: 10px;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/
/*.aMap-data .num {*/
    /*width: 30px;*/
    /*height: 35px;*/
    /*display: inline-block;*/
    /*line-height: 35px;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*background: #6dcff6;*/
    /*margin-right: 5px;*/
/*}*/
/*.amap-info-content {*/
    /*font-size: 12px;*/
    /*background-color: #ebe9e5;*/
    /*line-height: 22px!important;*/
    /*border: 1px solid #c2c2c2!important;*/
    /*box-shadow: 1px 3px 8px #555!important;*/
    /*opacity: .9;*/
    /*padding: 15px 18px 15px 18px!important;*/
    /*border-radius: 5px;*/
/*}*/
/*.amap-info-sharp {*/
    /*background-image: url(../../img/sharp.png)!important;*/
    /*opacity: .9;*/
/*}*/
/*.amap-info-close {*/
    /*display: none!important;*/
/*}*/

.btn-box{
    float: left;
    margin: 10px 10px 0px;
}
.video-control-panel{
    margin: 5px;
    width:100%;
}

#realTimeVideoBox.pos-fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:1001;
    padding:0;
    background:#eee;
    -webkit-transition: width 2s;
    transition: width 2s;
    /*-webkit-transform-origin: top right;*/
    /*transform-origin: top right;*/
}

#realTimeVideo{
    height: 100%;
}
#realTimeVideoBox{
    width: 100%;
    height: 100%;
    transition: all .6s;
}
#videoCont{
    height: 100%;
    width: calc(100% - 300px);
    float:left;
}
#videoTool{
    height:100%;
    width: 300px;
    float:right;
    padding-top: 5px;
    overflow: hidden;
    padding-left: 24px;
    overflow-y: auto;
}
.pos-fix #videoCont{
    width:85%;
}
.pos-fix #videoTool{
    width:15%;
}
#videoTool>div{
    float: left;
    margin-top: 15px;
}
.media-time{
    height:40px;
    line-height:40px;
}
#videoTool .talkback,.videoSwitch,.monitorSwitch{
    width: 92px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.talkback .icon-area,.videoSwitch .icon-area,.monitorSwitch .icon-area{
    width: 92px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
/*.talkback .icon-area .icon,.videoSwitch .icon-area .icon,.monitorSwitch .icon-area .icon {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
}*/
.talkback .icon-area .icon .icon-off,.videoSwitch .icon-area .icon .icon-off,.monitorSwitch .icon-area .icon-off {
    background-image: url(/clbs/resources/img/jianguan-call-off.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 92px;
    height: 40px;
    display: inline-block;
}
.talkback .icon-area .icon .icon-on,.videoSwitch .icon-area .icon .icon-on ,.monitorSwitch .icon-area .icon-on{
    background-image: url(/clbs/resources/img/jianguan-call-on.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 92px;
    height: 40px;
    display: inline-block;
}
.videoSwitch .icon-area .icon .icon-off{
    background-image: url(/clbs/resources/img/jianguan-video-off.png);
}
.videoSwitch .icon-area .icon .icon-on{
    background-image: url(/clbs/resources/img/jianguan-video-on.png);
}
.monitorSwitch .icon-area .icon .icon-off{
    background-image: url(/clbs/resources/img/jianguan-hear-off.png);
}
.monitorSwitch .icon-area .icon .icon-on{
    background-image: url(/clbs/resources/img/jianguan-hear-on.png);
}
.talkback .icon-area.active .icon,.videoSwitch .icon-area.active .icon, .monitorSwitch .icon-area.active .icon{
    transform: translateX(-96px);
    -ms-transform: translateX(-96px);
    -moz-transform: translateX(-96px);
    -webkit-transform: translateX(-96px);
    -o-transform: translateX(-96px);
}
.talkback .tit,.videoSwitch .tit{
    display: inline-block;
    height: 46px;
    line-height: 46px;
}
.passageway-select>div{
    display: inline-block;
    height: 46px;
    line-height: 46px;
}


/*视频模块*/

#videoCont.pos-fix{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index:1000;
    padding:0;
    background:#eee;
}

#videoplayer{
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.videoplayer-box{
    width: 100%;
    height: 100%;
}
#videoplayer .video-box {
    position:relative;
    height: 50%;
    border: 1px solid #9c9c9c;
    width: 50%;
}
#videoplayer .video-box video{
    width: 100%;
    height: 100%;
    background-color: #ececec;
    background-image: url(/clbs/resources/img/realTimeVideo/video_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    object-fit: fill;
}
#videoplayer .this-click{
    border: 3px solid #6dcff6;
}

#video-separated{
    text-align: center;
    /*margin-bottom: 30px;*/
}
.video-control-panel i{
    position: relative;
    display: inline-block;
    width: 31px;
    height: 32px;
    margin: 0 5px;
    cursor: pointer;
}
.full-video {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%!important;
    height: 100%!important;
}

.video-four:before{
    content: "";
    background-image: url(/clbs/resources/img/realTimeVideo/four.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: 100%;
}
.video-four.video-check:before{
    background-image: url(/clbs/resources/img/realTimeVideo/four_blue.svg);
}
.video-six:before{
    content: "";
    background-image: url(/clbs/resources/img/realTimeVideo/six.svg);
    width: 31px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: 100%;
}
.video-six.video-check:before{
    background-image: url(/clbs/resources/img/realTimeVideo/six_blue.svg);
}
.video-nine:before{
    content: "";
    background-image: url(/clbs/resources/img/realTimeVideo/nine.svg);
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0px;
    /*left: 224px;*/
    left: 0;
    background-size: 100%;
}
.video-nine.video-check:before{
    background-image: url(/clbs/resources/img/realTimeVideo/nine_blue.svg);
}

.video-ten:before{
    content: "";
    background: url(/clbs/resources/img/realTimeVideo/ten.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: 100%;
}
.video-ten.video-check:before{
    background-image: url(/clbs/resources/img/realTimeVideo/ten_blue.svg);
}

.video-sixteen:before{
    content: "";
    background-image: url(/clbs/resources/img/realTimeVideo/sixteen.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    /*left: 326px;*/
    left: 0;
    background-size: 100%;
}
.video-sixteen.video-check:before{
    background-image: url(/clbs/resources/img/realTimeVideo/sixteen_blue.svg);
}


.video-full-screen:before{
    content: "";
    background: url(/clbs/resources/img/realTimeVideo/full_open.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: 100%;
}
.video-full-screen-check:before{
    content: "";
    background: url(/clbs/resources/img/realTimeVideo/full_close.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: 100%;
}

#riskAnalyzeBoxL,#riskAnalyzeChartRight{
    height: 100%;
    float: left;
}
#riskAnalyzeBoxL{
    width: 60%;
    padding: 10px;
}
#riskAnalyzeChartLeft{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
#riskAnalyzeChartRight{
    width: 40%;
}
#timeAnalyzeTop{
    height: 40%;
}
#timeAnalyzeBtm{
    height: 60%;
    padding-top: 15px;
}
.timeTableBox{
    height: 100%;
    overflow: auto;
}

#riskTableBox{
    height: 100%;
    background: #fff;
    position: relative;
}

.riskTable-head{
    border-color: #eff2f7;
    background: #fafafa;
    color: #767676;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #eff2f7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.actions.pull-right{
    position: absolute;
    right: 30px;
    top: 15px;
}
.riskTable-body{
    padding: 15px;
    height: calc(100% - 50px);
    overflow: auto;
}

/*.risk_img {*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*padding-top: 5px;*/
    /*background-image: url(/clbs/resources/img/compic.png);*/
    /*background-size: 14px 14px;*/
    /*background-repeat: no-repeat;*/
    /*display: inline-block;*/
    /*margin-right: 5px;*/
    /*background-position: 0 3px;*/
    /*cursor: pointer;*/
/*}*/
/*.risk_video {*/
    /*width: 20px;*/
    /*height: 18px;*/
    /*padding-top: 5px;*/
    /*background-image: url(/clbs/resources/img/combatVideo.png);*/
    /*background-size: 20px 14px;*/
    /*background-repeat: no-repeat;*/
    /*display: inline-block;*/
    /*background-position: 0 3px;*/
    /*cursor: pointer;*/
/*}*/
.editBtn {
    position: relative;
    color: #fff;
    background-color: #6dcff6;
}
.ml-10{
    margin-left: 10px;
}
.editBtn[disabled]{
    background-color: #ccc;
    color: #444;
}
#dataTable .dropdown-menu{
    min-width: 100px;
}

.prevMedia,.nextMedia{
    display: inline-block;
    width: 45px;
    height: 55px;
    background-image: url(/clbs/resources/img/left_icon_1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 160px;
    cursor: pointer;
}
.nextMedia{
    background-image: url(/clbs/resources/img/right_icon_1.svg);
}

#riskDetailCont{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    transition: top 0.5s;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    z-index: 1000;
}
#riskDetailCont.active{
    top: 0;
}

.alarm-msg,.ICcard-msg,.photo-msg,.deal-risk-msg{
    position:relative;
    float: left;
    height: 100%;
    padding-top: 10px;
    overflow: hidden;
}
.alarm-msg{
    width: 600px;
}
.ICcard-msg{
    width: 500px;
    border-left: 1px solid #ddd;
    position: relative;
}
.photo-msg{
    width: 300px;
    border-left: 1px solid #ddd;
}
.deal-risk-msg{
    width:calc(100% - 1400px) ;
    border-left: 1px solid #ddd;
}
.msg-tit{
    border-left: 3px solid #6dcff6;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.alarm-msg-cont{
    padding-left: 30px;
    height: calc(100% - 20px);
}
.alarm-msg-cont .col-md-2,.alarm-msg-cont .col-md-8,.alarm-msg-cont .col-md-4,.alarm-msg-cont .col-md-6{
    padding: 0;
}
.alarm-msg-cont label{
    float: left;
    padding-right: 5px;
}
.alarm-event-list{
    height: calc(100% - 160px);
    padding-bottom: 30px;
    overflow: hidden;
}
.alarm-event{
    line-height: 35px;
    cursor: pointer;
}
.alarm-event.active{
    background: #eee;
}
.alarm-event-time{
    float: left;
    margin-right: 10px;
    padding: 5px 20px 5px 0;
    position: relative;
}
.alarm-event-time:after{
    width: 2px;
    height: 100%;
    background: #c8c8c8;
    position: absolute;
    top: 0;
    right: 4px;
    content: '';
}
.alarm-event-time:before{
    z-index: 10;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 10px;
    background: #f66d6d;
    top: 50%;
    right: 0;
    content: '';
    transform: translateY(-50%);
}
.alarm-event-des{
    min-width: 220px;
    float: left;
    height: 35px;
    border: 2px solid #e94c4c;
    border-radius: 2px;
    padding-left: 10px;
    color: #e94c4c;
    line-height: 31px;
    margin-top: 5px;
}
.alarm-event-media{
    display: inline-block;
    border-left: 1px solid #e94c4c;
    height: 20px;
    float: right;
    margin-top: 7px;
    line-height: 20px;
    padding: 0 10px;
    margin-left: 10px;
}
.alarm-msg-cont span{
    color: #888;

}
.alarm-msg-cont .alarm-event-des .media-span{
    color: #e94c4c;
}
.alarm-msg-cont span:not(.media-span){
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ICcard-bg{
    width: 400px;
    height: 250px;
    /*background: #c1c3db;*/
    border-radius: 10px;
    margin: auto;
    background-image: url(/clbs/resources/img/cardBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.ICcard-msg-pic,.ICcard-msg-detail{
    float: left;
}
.ICcard-msg-pic{
    width: 120px;
    height: 150px;
    padding-left: 10px;
    margin-top: 20px;
}
.ICcard-msg-detail{
    width: 280px;
    height: 100%;
    padding: 10px;
    position: relative;
}
.ICcard-msg-detail table{
    height: 100%;
}
#ICcard-box{
    width: 1000px;
    position: relative;
    /*top: 60px;*/
    left: 0px;
    transition: left 0.5s;
}
.ICcard-bg-box{
    width: 500px;
    float: left;
}
.ICcard-msg-detail table{
    word-wrap: bread-word;
    word-break:break-all;
    table-layout:fixed;
}
.ICcard-msg-detail tr td{
    color: #5D5F63;
}
.ICcard-msg-detail tr td:nth-child(1){
    width: 24%;
}
.ICcard-msg-detail tr td:nth-child(2){
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    width:80%;
    overflow: hidden;
}
.prevCard{
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 100%;
}
.nextCard{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 100%;
}
.prevCard .prevCardBtn,.nextCard .nextCardBtn{
    display: inline-block;
    width: 45px;
    height: 55px;
    background-image: url(/clbs/resources/img/left_icon_1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 120px;
    cursor: pointer;
}
.nextCard .nextCardBtn{
    background-image: url(/clbs/resources/img/right_icon_1.svg);
}

.riskListTr.activeTr td{
    background: #ddf5ff !important;
}
.riskListTr.activeTr td:hover{
    background: #ddf5ff;
}
#photoMsgCont{
    width:200px ;
    height: 240px;
    margin:15px auto 0;
    background-image: url(/clbs/resources/img/photoCard.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#alarmChartScaleBox{
    height: 100%;
}
#dealMsgCont{
    height: calc(100% - 40px);
    overflow: auto;
}
.archivingBtn{
    text-align: center;
}
.archivingBtn button{
    margin: 0 10px;
}
#riskForm .form-group{
    margin-bottom: 4px;
}

button.btn-primary.focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background: #6dcff6!important;
    border-color: #6dcff6!important;
}
.video-yun-sett::before{
    content: "";
    background: url('/clbs/resources/img/realTimeVideo/yun_setting.svg') no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
}
.video-yun-sett-check::before{
    content: "";
    background: url(/clbs/resources/img/realTimeVideo/yun_setting_blue.svg) no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
}
.video-dimming::before{
    content: "";
    background: url('/clbs/resources/img/realTimeVideo/video_dimming.svg') no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
}
.video-dimming-check::before{
    content: "";
    background: url(/clbs/resources/img/realTimeVideo/video_dimming_blue.svg) no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100%;
}
.compareBox{
    text-align: center;
    margin-top:20px;
}
.compare-set{
    margin-right:100px;
    display:inline-block;
    padding:0;
    height:20px;
    line-height:20px;
}
.compare-set img{
    width:20px;
    height:20px;
}
.compare-progress-box{
    width:200px;
    height:20px;
    margin:10px auto;
    background: #fff;
    border:1px solid #e5e5e5;
    overflow: hidden;
}
.compare-progress{
    height:100%;
    width:10%;
    background: #64bde1;
}
.compare-res{
    width:200px;
    overflow: hidden;
    margin:5px auto 0;
}
.compare-res span{
    padding-left:22px;
    background: url("/clbs/resources/img/photoDown.svg") 0 center no-repeat;
    background-size: 18px 18px;
}
.compare-res.compared{
    background: url("/clbs/resources/img/photoUp.svg") 0 center no-repeat;
    background-size: 18px 18px;
}
/*多媒体预览*/
#showMedia {
    display: block;
    position: relative;
    padding: 0px 50px;
    height: 380px;
}
#previewMask {
    visibility: hidden;
    height: 60px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .7);
}
#showMedia .left-btn {
    left: 0px;
}
#showMedia .right-btn {
    right: 0px;
}
#showMedia .arrows {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
i.icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.icon_left {
    background: url('/clbs/resources/img/left_icon_1.svg') center no-repeat;
    background-size: 80% 80%;
}
.icon_right {
    background: url('/clbs/resources/img/right_icon_1.svg') center no-repeat;
    background-size: 80% 80%;
}
.media_len {
    margin-top: 20px;
    text-align: center;
}
#previewMask {
    visibility: hidden;
    height: 60px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .7);
}
#showMedia:hover #previewMask{
    visibility: visible;
}
.mask-img {
    float: right;
    padding: 12px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: relative;
    display: block;
}
.mask-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;

}
.mask-img hr {
    border-top: none rgb(0, 188, 212);
    border-left: none rgb(0, 188, 212);
    border-right: none rgb(0, 188, 212);
    border-bottom: 2px solid #64bde1;
    bottom: 0px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    left: 0px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.mask-img:hover hr{
    transform: scaleX(1);
}
.toolTips{
    background: rgba(0,0,0,.6);
}
.just-tooltip .just-con{
    color:#fff!important;
}
.just-tooltip .just-top{
    border-color: rgba(0,0,0,.6) rgba(0,0,0,.6) transparent transparent;
}
.personCompare-loading{
    position:absolute;
    left:0;
    right:0;
    top:50%;
    margin-top:-15px;
    text-align: center;
    display:none;
}
.personCompare-loading .loading-state{
    font-size:26px;
}

/* 视频画面控制 */
#videoScreenControl .nstSlider{background-color: #f7f7f7;box-shadow: 0px 1px 1px #999 inset;border: 1px solid #e6e6e6;width: 230px}
#videoScreenControl .nstSlider .leftGrip{top: -1px;box-shadow: 0px 0px 1px 1px rgba(0,0,0,.4);opacity: 0.8}
#videoScreenControl .inp-brightness{height: 21px;text-align: center;width: 60%}
#videoScreenControl .form-group .control-label{padding: 0px 0px 0px 0px}
/* 云台Modal */
.row {
    margin: 0 !important;
}
.col-padding-five {
    padding: 5px;
}
.col-padding-zero {
    padding: 0px;
}
#haeundaeModal .cloud-left, #haeundaeModal .cloud-right{background-color: #eeeeee; border-radius: 10px; height: 150px; border: 1px solid #e5e5e5}
#haeundaeModal .cloud-left{width: 150px}
#haeundaeModal .cloud-left table{width: 150px; height: 150px; text-align: center}
/* 云台左侧图标 */
#haeundaeModal .cloud-left #haeundaeLeftTop::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: 0px -9px; width: 40px; height: 40px; position: absolute; top: 20px; left: 22px}
#haeundaeModal .cloud-left #haeundaeTop::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -40px -9px; width: 40px; height: 40px; position: absolute; top: 20px; left: 72px}
#haeundaeModal .cloud-left #haeundaeRightTop::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -80px -9px; width: 40px; height: 40px; position: absolute; top: 20px; left: 124px}
#haeundaeModal .cloud-left #haeundaeLeft::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: 0px -50px; width: 40px; height: 40px; position: absolute; top: 72px; left: 22px}
#haeundaeModal .cloud-left #haeundaeCenter::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -40px -50px; width: 40px; height: 40px; position: absolute; top: 72px; left: 72px}
#haeundaeModal .cloud-left #haeundaeRight::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -80px -50px; width: 40px; height: 40px; position: absolute; top: 72px; left: 124px}
#haeundaeModal .cloud-left #haeundaeLeftBottom::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: 0px -90px; width: 40px; height: 40px; position: absolute; top: 124px; left: 22px}
#haeundaeModal .cloud-left #haeundaeBottom::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -40px -90px; width: 40px; height: 40px; position: absolute; top: 124px; left: 72px}
#haeundaeModal .cloud-left #haeundaeRightBottom::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -80px -90px; width: 40px; height: 40px; position: absolute; top: 124px; left: 124px}
/* 云台 速度 */
#haeundaeModal .cloud-right{width: 300px; padding: 3px 5px 3px 5px}
#haeundaeModal .cloud-right .btn-vertical-default{color: #333; background-color: #fff; border: 1px solid #ccc; margin-bottom: 0px; padding: 10px 5px; cursor: default}
#haeundaeModal .cloud-right .cloud-right-top{height: 115px}
#haeundaeModal .cloud-right .cloud-right-bottom .left-grip,
#haeundaeModal .cloud-right .cloud-right-bottom .nstSlider,
#haeundaeModal .cloud-right .cloud-right-bottom .right-grip{float: left}
#haeundaeModal .cloud-right .cloud-right-bottom .left-grip{margin: 0px 5px 0px 0px}
#haeundaeModal .cloud-right .cloud-right-bottom .nstSlider{width: 200px; background-color: #f7f7f7; height: 12px; top: 4px; box-shadow: 0px 1px 1px #999 inset; border: 1px solid #e6e6e6}
#haeundaeModal .cloud-right .cloud-right-bottom .nstSlider .leftGrip{top: -4px; box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4); opacity: 0.8}
#haeundaeModal .cloud-right .cloud-right-bottom .right-grip{margin: 0px 0px 0px 5px}
/* 云台 (变焦 变倍 光圈) */
#haeundaeModal .cloud-right #zoomPlus, #haeundaeModal .cloud-right #zoomLess,
#haeundaeModal .cloud-right #doublePlus, #haeundaeModal .cloud-right #doubleLess,
#haeundaeModal .cloud-right #aperturePlus, #haeundaeModal .cloud-right #apertureLess{height: 30px; cursor: pointer}
#haeundaeModal .cloud-right #zoomPlus:hover, #haeundaeModal .cloud-right #zoomLess:hover,
#haeundaeModal .cloud-right #doublePlus:hover, #haeundaeModal .cloud-right #doubleLess:hover,
#haeundaeModal .cloud-right #aperturePlus:hover, #haeundaeModal .cloud-right #apertureLess:hover{background-color: #e5e5e5}
#haeundaeModal .cloud-right #zoomPlus .plus::before,
#haeundaeModal .cloud-right #doublePlus .plus::before,
#haeundaeModal .cloud-right #aperturePlus .plus::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -125px -5px; width: 34px; height: 34px; position: absolute; top: -13px; left: -6px}
#haeundaeModal .cloud-right #zoomLess .less::before,
#haeundaeModal .cloud-right #doubleLess .less::before,
#haeundaeModal .cloud-right #apertureLess .less::before{content: ""; background: url(/clbs/resources/img/realTimeVideo/haeundae.svg); background-position: -125px -39px; width: 34px; height: 15px; position: absolute; top: 5px; left: -6px}
/* 云台switch 开关 */
.ag-switch{position: relative; display: inline-block; width: 90px; height: 23px; border-radius: 15px; background-color: #f7f7f7; border: 1px solid #dcdcdc; box-shadow: 0px 1px 1px #999 inset; overflow: hidden; vertical-align: middle; cursor: pointer}
.ag-switch input{visibility: hidden}
.ag-switch i{position: absolute; top: 0; left: 0; display: inline-block; width: calc(25% - 1px); height: 100%; border-radius: 100%}
.ag-switch i::before{content: " "; display: none; width: 600%; height: 100%; border-radius: 10%; background-color: #99daf6; box-shadow: 0px 1px 1px #999 inset}
.ag-switch i::after{content: " "; position: absolute; left: 0; top: 0; z-index: 2; display: inline-block; width: 100%; height: 100%; border-radius: 100%; background: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, .4)}
.ag-switch input:checked + i{transform: translateX(100%); -webkit-transform: translateX(315%)}
.ag-switch input:checked + i:before{display: inline-block; transform: translateX(-60%)}

/*视频图标*/
.media-icon{
    display:inline-block;
    width:38px;
    height:38px;
    float:left;
    margin-right: 10px;
}
.media-icon.video{
    background: url('/clbs/resources/img/video_gray.svg') center no-repeat;
    background-size: 100% 100%;
}
.media-icon.voice{
    background: url('/clbs/resources/img/voice_gray.svg') center no-repeat;
    background-size: 100% 100%;
}

/*驾驶员ic卡*/
.ic-item{
    margin-top:8px;
}
.ICcard-msg-detail .tit{
    float:left;
    margin-right:10px;
    width:25%;
}
.ICcard-msg-detail .con{
    float:left;
    width:70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ICcard-msg-detail .address{
    float:left;
    width:70%;
    max-height: 40px;
    overflow: hidden;
}