#container {
    height: 100%;
}
.main-content-wrapper {
    height: calc(100% - 80px);
    background: #fff;
}
.sidebar {
    height: 100%;
    overflow-y: auto;
}

#container-box {
    height: 100%;
    padding-left: 10px;
    background: #f1f3f8;
}
.cont-top{
    height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cont-btm{
    height: 50%;
    position: relative;
    overflow: hidden;
}
@media screen and (min-height:1400px) {
    .cont-top {
        height: 70%;
    }
    .cont-btm{
        height: 30%;
    }
}
.cont-top-left,.cont-top-right{
    height: 100%;
    float: left;
}
.cont-top-left{
    width: 50%;
    padding-right: 5px;
}
.cont-top-right{
    width: 50%;
    padding-left: 5px;
}

.aMap-data.left {
    border-left: 5px solid #6dcff6;
    top: 5px;
    left: 0;
    position: absolute;
}

.aMap-data {
    padding: 10px;
    color: #000;
    background-color: #333;
    background-color: rgba(204,204,204,0.6);
    z-index: 10;
}
.aMap-data .tit{
    font-weight: bold;
    float: left;
    /*padding-top: 15px;*/
    margin-right: 5px;
    line-height: 25px;
}
.aMap-data .con {
    color: #000;
    /*margin-top: 10px;*/
    /*font-size: 16px;*/
    float: left;
    font-weight: bold;
}
.aMap-data .num {
    /*width: 30px;*/
    /*height: 35px;*/
    width: 20px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #6dcff6;
    margin-right: 5px;
}
.amap-info-content {
    font-size: 12px;
    background-color: #ebe9e5;
    line-height: 22px!important;
    border: 1px solid #c2c2c2!important;
    box-shadow: 1px 3px 8px #555!important;
    opacity: .9;
    padding: 15px 18px 15px 18px!important;
    border-radius: 5px;
}
.amap-info-sharp {
    background-image: url(../../img/sharp.png)!important;
    opacity: .9;
}
.amap-info-close {
    display: none!important;
}

span.dropdown-toggle{
    padding: 5px;
}

.table-icon{
    position: relative;
    left: 5px;
}
.table-icon i{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    transition: all 0.3s;
    color: #bfbfbf;
}
.table-icon i.up{
    top: -4px;
}
.table-icon i.down{
    bottom: -4px;
}
.table-icon i:hover{
    color: #404040;
}
.table-icon i.active{
    color: #1890ff;
}

.clickTh{
    cursor: pointer;
}

.table-head-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.table-head-icon.table-head-icon-choose{
    width: 15px;
    height: 15px;
}
.filterCont{
    float: left;
    padding:5px 25px 5px 10px;
    position: relative;
    top: -5px;
    background: #eeeeee;
    margin-right: 20px;
    display: none;
    color: #428bca;
}
.filterCont .close{
    position: absolute;
    top: 2px;
    right: 5px;
}
.drop-menu-operation{
    position: relative;
    margin-top: 10px;
}
.dropdown-menu .btn{
    padding: 4px 12px;
}

.risk_img {
    width: 22px;
    height: 22px;
    padding-top: 5px;
    background-image: url(/clbs/resources/img/havepic.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    background-position: 0 3px;
    cursor: pointer;
}
.risk_img.risk_img_no{
    background-image: url(/clbs/resources/img/nopic.svg);
    cursor: auto;
}
.risk_video {
    width: 22px;
    height: 22px;
    padding-top: 5px;
    background-image: url(/clbs/resources/img/havevideo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 3px;
    cursor: pointer;
    margin-right: 5px;
}
.risk_video.risk_video_no{
    background-image: url(/clbs/resources/img/novideo.svg);
    cursor: auto;
}
.risk_img2 {
    width: 22px;
    height: 22px;
    background-image: url(/clbs/resources/img/imgS_blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.risk_img2.risk_img_no{
    background-image: url(/clbs/resources/img/imgS_gray.svg);
    cursor: auto;
}
.risk_video2 {
    width: 27px;
    height: 22px;
    background-image: url(/clbs/resources/img/videoS_blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}
.risk_video2.risk_video_no{
    background-image: url(/clbs/resources/img/videoS_gray.svg);
    cursor: auto;
}

.risk_car {
    width: 24px;
    height: 21px;
    background-image: url(/clbs/resources/img/haveCar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.risk_car.risk_car_no{
    background-image: url(/clbs/resources/img/noCar.svg);
    cursor: auto;
}
#riskTableBox .dropdown-menu{
    background: #fff;
    min-width: 180px;
    border-color: #f6f6f6;
    box-shadow: #ccc 0px 0px 10px;
    padding: 15px;
    max-height: 210px!important;
}
#riskTableBox .dropdown-menu h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
    font-weight: 700;
}
#riskTableBox .dropdown-menu li a{
    color: #000;
    font-size: 15px;
    padding-left: 0;
}
.drop-menu-operation input{
    background-color: #fff;
}
#riskTableBox .dropdown-menu#dropdownUl{
    padding-bottom: 5px;
}
.riskTable-head:hover{
    background-color:#e4f4ff;
}
