/*
* @ PROJECT F3
* @ AUTNOR ZoomWell Team
* @ LINK WWW.ZWLBS.COM
*/
.text-danger{vertical-align: sub;}
.Administrative-label{padding:7px 0 0!important}
.input-group-btn>.btn{height:36px}
.control-label{font-weight:700!important}
.btn-border-radius{border-radius:3px!important}
.btn-purple{background-color:#c37dd3!important;color:#fff}
.btn-purple:hover{color:#fff;background-color:#a76eb5!important}
.modal-footer>button.btn-default{margin:-1px 0 2px!important}
.homeText{width:90%;margin:18px auto}
.homeList{width:90%;margin:0 auto}
#playCarListIcon{position:absolute;bottom:0;left:40%;background-color:hsla(90,6%,50%,.8);width:300px;text-align:center;border-radion:10px;border-radius:3px;z-index:99;display:none;cursor:auto}
#chedui tr th,#chedui1 tr th,#oilTable tr th{white-space:nowrap}
.input-group-addon,.input-group-btn{vertical-align:top!important}
#addNew{margin-bottom:0}
.leftMenuBg{background:#32323a}
.modal-footer-martop{margin-top:0!important}
#peopleMessage{margin-bottom:30px}
.modal-alarmSetting-body{height:500px;overflow-y:auto}
.delInpVal{display:none;cursor:pointer}
textarea{width:100%!important;min-height:36px;max-height:250px;}
.amap-info-content{line-height:1.5!important}
#allMileage,#allTime{margin:0 30px 0 0}
#allMileage,#allTime,#maxSpeend{width:auto;display:inline-block}
label#error_label,label.error{white-space:normal;text-align:left}
.inpFilePhoto{position:relative;display:inline-block;background:#6dcff6;border:1px solid #6dcff6;border-radius:3px;/*padding:5px 13px;*/overflow:hidden;color:#fff;text-decoration:none;text-indent:0;line-height:24px}
.inpFilePhoto input[type=file]{position:absolute;display:none;cursor:pointer;font-size:14px;width:100%;height:34px;right:0;top:0;opacity:0}
.inpFilePhoto .changeFile{cursor: pointer;margin: 0;padding: 6px 14px;}
.inpFilePhoto strong{cursor: pointer}
.fileNameShow{line-height:37px;margin:0 0 0 5px}
.progress{clear:both!important}
.alarmtreeArea{width:100%;height:500px;overflow:auto}
.alarmSgroup{padding:0!important}
.alarmTable{overflow:auto}
.btnSearchExport{padding-right:26px!important}
/*.alarmSearchToolPanel{padding:0 5px!important}*/
.alarmSearchToolPanel{padding:0 !important;}
.fromSearchGrp{margin-left:-26px!important;margin-right:-5px!important}
.dataTables_empty{text-algin:left!important}
#tankOne,#tankTwo{overflow-y:auto}
#tankOneCutover a,#tankTwoCutover a{font-size:14px}
.tankPanelHead{padding:0!important}
.tankPanelBody{padding:10px 0 0!important}
.oilcalibration-label{padding-top:7px}
#again,#amendment{margin:10px 0 0}
.afterInpMl,.olicalbrationBtn{padding:0!important}
.oilcalibrationNumberPlate{text-align:left!important}
.tankAmendmentRadio{line-height:38px}
.tankAmendmentLab{padding:0}
button.btn-cancel-width{width:70px}
#chooseTemplate,#chooseTemplate2{font-weight:700}
.control-label-left{text-align:left!important}
.inpOrganizationDetails{background-color:#fff!important;border:1px solid #fff!important;resize:none}
.dataTables_length select{height:23px!important;line-height:23px!important}
::-ms-clear{display:none}
#realTimeState #realTimeStateTable_wrapper .dataTables_scroll .dataTables_scrollHead .dataTables_scrollHeadInner{padding-right:0!important}
#realTimeStateTable_wrapper #realTimeStateTable_info{display:none}
.navigationRoute{margin-left:0!important;margin-right:0!important;margin-bottom:2px!important}
input{padding:0 0 0 5 px\9!important\9}
.modal-footer select{height:36px!important;line-height:36px!important}
button#areaSearch,button#exportAlarm,button#exportMileage,button#exportOnline,button#inquireClick,button#nearlyThreeDays,button#todayClick{width:74.13px}
.infoInputMarTop{margin-top:15px}
#jumpTo{margin:5px 0 0 0px}
#jumpTo,.dataTables_wrapper table tbody tr td a{cursor:pointer}
.oilMassVehicle .panel-default .panel-body .panelCarBg{height:594px!important}
.fuelConsumption .panel-default .panel-body .panelCarBg{height:588px!important}
.oilMassVehicle .panel-default .panel-body .panelCarBg .ztreee{height:579px!important}
.fuelConsumption .panel-default .panel-body .panelCarBg .ztreee{height:574px!important}
.homeListBottom{margin-bottom:30px}
.modal-backdrop{display:none}
.pdLR15{ padding: 15px 15px; }
.pdLR0{ padding: 0 !important; }
select::-ms-expand{display:none}
/*@-moz-document url-prefix(){select.form-control{padding:0}*/
/*}*/
select.form-control#operatingState {
  padding: 6px 40px 6px 11px;
}

select.form-control{cursor:pointer;appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;background:url(/clbs/resources/img/down.svg) no-repeat scroll right center transparent;background-color: #fafafa;}
@media screen and (max-width:1600px){#commonWin .modal-lg{width:70%}
}
@media screen and (max-width:1270px){.wizard ul li{border-bottom:1px solid #ccc}
.modal-dialog{width:90%!important}
#haeundaeModal .modal-dialog,#videoScreenControl .modal-dialog{width:500px!important}
}
@media screen and (max-width:970px){.searchListSelect{margin-top:15px!important}
#header .toggle-navigation.toggle-left{margin:33px 0 0 20px}
#header .btn-default{width:30px;height:30px}
#header .user-nav{margin-top:0}
.toggle-navigation .btn-default{padding:2px 7px!important;margin-top:-7px!important}
.citySelectOnly,.paddingRight{padding-left:0}
.paddingRight{padding-right:15px}
.iPad{margin-top:15px!important}
#map-button{top:125px}
#polygon{display:inline-block;margin-top:15px}
#MapContainer{height:450px!important}
.dataTables_wrapper .dataTables_info{margin-left:0}
.dataTables_wrapper .dataTables_paginate{float:left;margin:0}
#dateSearchData{margin:10px 0 0;float:right!important}
}
@media screen and (max-width:1070px){.toggle-left-h2 h2{font-size:28px}
#again .actual-oil-left,#amendment .actual-oil-left,#amendment .oilcalibration-label{text-align:left!important}
}
@media screen and (max-width:910px){#header .user-nav{padding-left:20px;padding-top:20px}
#header .user-nav ul{padding:0}
#header .user-nav{margin-top:0}
}
@media screen and (max-width:768px){#content-left,#content-right{width:100%!important}
#operationMenu{height:750px!important}
body{overflow-x:hidden!important}
#playCarListIcon{left:31%}
.olicalbrationBtn{margin:15px 0 0}
#again .actual-oil-left,#amendment .actual-oil-left,#amendment .oilcalibration-label{text-align:left!important}
.tankAmendmentRadio{line-height:0}
#oilLevelHeight2_before,#oilLevelHeight_after,#oilLevelHeight_before,#oilValue2_before{margin:0 0 5px}
.olicalbrationBtn{text-align:right}
.btn-fpAreaSearch{float:right!important}
.fuelPrice-container .btn-group,.fuelPrice-container .fuelPmData,.fuelPrice-container .fuelpGraph{padding:0!important;margin:10px 0 0}
.fuelPrice-tool .btn-fpAreaSearch,.fuelPrice-tool .btn-groupRefresh{margin:10px 0 0}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
}
@media screen and (max-width:750px){.btnPaddLeft{margin-left:15px!important}
.edit_Delete{margin-bottom:13px;margin-left:15px}
.people_Delete{margin-top:9px;margin-left:15px}
.topSpace{padding-top:4px!important}
.iPad{margin-top:15px!important}
.xsiPad{margin-top:0!important}
.InformationEntry,.InformationList,.articleList,.fenceBinding,.fenceManagement,.flowSensorM,.fuelConsumptionS,.fuelTankManagement,.groupRefShowRight,.hoursCehicleSettings,.oilMassVehicleList,.oilrodCehicleM,.personnelInformation,.practitionersM,.refShowRight,.roleManagementF,.simCardManagement,.terminalManagement,.vehicleManagement,.vehicleTypeManagement,.vibrationSensorM{float:left!important;margin-top:8px;margin-bottom:10px}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
}
@media screen and (max-width:672px){#header .user-nav{padding-left:20px;padding-top:20px}
#header .toggle-left-h2{padding-top:10px}
.btn-fpAreaSearch,.btn-objFmSearch{float:right!important}
.btn-objFmSearch{margin:10px 0 0}
.InformationEntry,.InformationList,.articleList,.fenceBinding,.fenceManagement,.flowSensorM,.fuelConsumptionS,.fuelTankManagement,.groupRefShowRight,.hoursCehicleSettings,.oilMassVehicleList,.oilrodCehicleM,.personnelInformation,.practitionersM,.refShowRight,.roleManagementF,.simCardManagement,.terminalManagement,.vehicleManagement,.vehicleTypeManagement,.vibrationSensorM{float:left!important;margin-top:8px;margin-bottom:10px}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
#realTimeCanArea{top:212px}
}
@media screen and (max-width:660px){#header{height:290px}
}
@media only screen and (max-width:479px){.dropdown-menu{left:0!important}
.input-group-btn .dropdown-menu{left:auto!important}
#playCarListIcon{left:11%;z-index:999}
#header .btn-default{width:25px;height:25px}
.toggle-navigation .btn-default{padding:2px 7px!important;margin-top:-7px!important}
#header{height:290px}
#header .user-nav{float:left;padding-left:20px}
.user-nav .settings .dropdown-menu{min-width:0;margin-left:20px}
.btn-objFmSearch{margin:10px 0 0}
.btn-fpAreaSearch,.btn-objFmSearch{float:right!important}
.fuelPrice-container .btn-group,.fuelPrice-container .fuelPmData,.fuelPrice-container .fuelpGraph{padding:0!important;margin:10px 0 0}
.fuelPrice-tool .btn-fpAreaSearch,.fuelPrice-tool .btn-groupRefresh{margin:10px 0 0}
.InformationEntry,.InformationList,.articleList,.fenceBinding,.fenceManagement,.flowSensorM,.fuelConsumptionS,.fuelTankManagement,.groupRefShowRight,.hoursCehicleSettings,.oilMassVehicleList,.oilrodCehicleM,.personnelInformation,.practitionersM,.refShowRight,.roleManagementF,.simCardManagement,.terminalManagement,.vehicleManagement,.vehicleTypeManagement,.vibrationSensorM{float:left!important;margin-top:8px;margin-bottom:10px}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
}
@media only screen and (max-width:370px){.Inlinesearch{width:100%!important}
#header{height:290px}
.InformationEntry,.InformationList,.articleList,.fenceBinding,.fenceManagement,.flowSensorM,.fuelConsumptionS,.fuelTankManagement,.groupRefShowRight,.hoursCehicleSettings,.oilMassVehicleList,.oilrodCehicleM,.personnelInformation,.practitionersM,.refShowRight,.roleManagementF,.simCardManagement,.terminalManagement,.vehicleManagement,.vehicleTypeManagement,.vibrationSensorM{float:left!important;margin-top:8px;margin-bottom:10px}
.fileNameShow{margin:0;line-height:1pc}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
.steps .quickEntry{height:94px}
}
@media only screen and (max-width:320px){.InformationEntry,.InformationList,.articleList,.fenceBinding,.fenceManagement,.flowSensorM,.fuelConsumptionS,.groupRefShowRight,.hoursCehicleSettings,.oilMassVehicleList,.oilrodCehicleM,.personnelInformation,.practitionersM,.refShowRight,.roleManagementF,.simCardManagement,.terminalManagement,.vehicleManagement,.vehicleTypeManagement,.vibrationSensorM{float:left!important;margin-top:8px;margin-bottom:10px}
#map-button{top:142px}
.modal.in .modal-dialog{width:90%!important;margin:5% auto 0}
.steps .quickEntry{height:94px}
}