#stretch-q1 {
    position: relative;
    padding: 15px;
    z-index: 100;
}
#stretch-q1 .pull-right.listActions {
    position: absolute;
    top: 15px;
    right: 15px;
}
.stretch-operate-q {
    margin: -15px 0 10px -15px;
}
.stretch-operate-q button{
    float: left;
    background: #ccc;
    border: none;
    color: #fff;
    padding: 5px 7px;
}
.stretch-operate-q button.active {
    background: #6dcff6;
}

#stretch-body-q1.hide {
    display: none;
}

#stretch-body-q2.hide {
    display: none;
}
#isShow-q.hide {
    display: none;
}
#delIcon-q1,#delIcon-q2 {
    position: relative;
    top: 0;
    right: 30px;
    display: inline-block;
}
#stretchq3 {
    cursor: pointer;
}