/*
* @ PROJECT F3
* @ AUTNOR ZoomWell Team
* @ LINK WWW.ZWLBS.COM
*/
body{overflow:hidden}
.row{margin:0!important}
.multimedia-look{margin-top:6px!important}
.sidebar{overflow:auto; height: calc(100%);}
#container{height:100%}
.main-content-wrapper{min-height:0!important;box-sizing:border-box;height:calc(100% - 80px);}
.main-content-wrapper .content-top{height:40%}
.main-content-wrapper .content-bottom{height:60%;position:relative;padding-bottom:15px;margin-top:5px!important;background-color:#fff}
.main-content-wrapper .row .map-content,.main-content-wrapper .row .table-content,.main-content-wrapper .row .video-content{height:100%}
.main-content-wrapper .row .table-content .table-list{overflow:hidden;outline:0;height:calc(100% - 83px)}
.main-content-wrapper .row .video-content .videoPlugin{height:100%;background-color:#ffffff;flex:1;-ms-flex:1}
.main-content-wrapper .row .video-content{background-color:#fff;border:1px solid #e4dede;display:flex;display:-ms-flexbox;padding:5px 15px 5px 5px}
.main-content-wrapper .row .video-content .video-operation{height:100%;flex:0 0 210px;-ms-flex:0 0 210px}
.main-content-wrapper .row .video-content .video-operation .sound-recording{height:30%;text-align:center;padding-top:30%}
.main-content-wrapper .row .video-content .video-operation .sound-recording .icon-area{width:46px;height:46px;display:inline-block;vertical-align:top;margin-right:15px;cursor:pointer;white-space:nowrap;overflow:hidden}
.main-content-wrapper .row .video-content .video-operation .sound-recording .icon-area .icon{transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.main-content-wrapper .row .video-content .video-operation .sound-recording .icon-area.active .icon{transform:translateX(-51px);-ms-transform:translateX(-51px);-moz-transform:translateX(-51px);-webkit-transform:translateX(-51px);-o-transform:translateX(-51px)}
.main-content-wrapper .row .video-content .video-operation .video .icon-area{width:46px;height:46px;display:inline-block;vertical-align:top;margin-right:15px;cursor:pointer;white-space:nowrap;overflow:hidden}
.main-content-wrapper .row .video-content .video-operation .video .icon-area.active .icon{transform:translateX(-51px);-ms-transform:translateX(-51px);-moz-transform:translateX(-51px);-webkit-transform:translateX(-51px);-o-transform:translateX(-51px)}
.main-content-wrapper .row .video-content .video-operation .video .icon-area .icon{transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound{display:inline-block;height:46px;width:100px;background-color:#f1f1f1;border:1px solid #afa2a2;border-radius:25px;overflow:hidden;cursor:pointer}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound.active .icon{transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound.active{background-color:#6dcff6;border:none}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound.active .icon span{color:#fff}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound .icon .on-icon{background-image:url(/clbs/resources/img/vedio-type-stop.png);background-repeat:no-repeat;width:42px;height:42px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound .icon{width:154px;height:100%;white-space:nowrap;overflow:hidden;color:#756e6e;position:relative;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transform:translateX(-56px);-ms-transform:translateX(-56px);-moz-transform:translateX(-56px);-webkit-transform:translateX(-56px);-o-transform:translateX(-56px)}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound .icon .sound-left{position:absolute;top:14px;left:15px}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound .icon .on-icon{position:absolute;top:1px;left:56px}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound .icon .sound-right{position:absolute;top:14px;left:104px}
.main-content-wrapper .row .video-content .video-operation .sound-recording .isSound.active .icon .on-icon{background-image:url(/clbs/resources/img/round.png);top:2px;left:57px}
.main-content-wrapper .row .video-content .video-operation .sound-recording .icon-area .icon .off-icon{background-image:url(/clbs/resources/img/call-off.png);background-repeat:no-repeat;width:46px;height:46px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .sound-recording .icon-area .icon .on-icon{background-image:url(/clbs/resources/img/call-on.png);background-repeat:no-repeat;width:46px;height:46px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .video{height:50%;text-align:center;padding-top:30%}
.main-content-wrapper .row .video-content .video-operation .video .icon-area .icon .off-icon{background-image:url(/clbs/resources/img/video-off.png);background-repeat:no-repeat;width:46px;height:46px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .video .icon-area .icon .on-icon{background-image:url(/clbs/resources/img/video-on.png);background-repeat:no-repeat;width:46px;height:46px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .video .isVedio{display:inline-block;height:46px;width:100px;background-color:#f1f1f1;border:1px solid #afa2a2;border-radius:25px;overflow:hidden;cursor:pointer}
.main-content-wrapper .row .video-content .video-operation .video .isVedio .icon{width:154px;height:100%;white-space:nowrap;overflow:hidden;color:#756e6e;position:relative;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transform:translateX(-57px);-ms-transform:translateX(-57px);-moz-transform:translateX(-57px);-webkit-transform:translateX(-57px);-o-transform:translateX(-57px)}
.main-content-wrapper .row .video-content .video-operation .video .isVedio.active .icon{transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.main-content-wrapper .row .video-content .video-operation .video .isVedio.active{background-color:#6dcff6;border:none}
.main-content-wrapper .row .video-content .video-operation .video .isVedio .icon .on-icon{background-image:url(/clbs/resources/img/vedio-type-stop.png);background-repeat:no-repeat;width:42px;height:42px;display:inline-block}
.main-content-wrapper .row .video-content .video-operation .video .isVedio.active .icon span{color:#fff}
.main-content-wrapper .row .video-content .video-operation .video .isVedio .icon .video-left{position:absolute;top:14px;left:15px}
.main-content-wrapper .row .video-content .video-operation .video .isVedio .icon .on-icon{position:absolute;top:1px;left:57px}
.main-content-wrapper .row .video-content .video-operation .video .isVedio .icon .video-right{position:absolute;top:14px;left:104px}
.main-content-wrapper .row .video-content .video-operation .video .isVedio.active .icon .on-icon{background-image:url(/clbs/resources/img/video-begin.png);background-repeat:no-repeat;width:42px;height:42px;display:inline-block;top:2px;left:57px}
.main-content-wrapper .row .video-content .video-operation .toggle{height:20%;text-align:center;padding-top:5%}
footer{display:none!important}
.main-content-wrapper .row .table-content .title{height:30px;line-height:30px;background-color:#d45858;color:#fff}
.main-content-wrapper .row .table-content .table-list table tbody{cursor:pointer}
.main-content-wrapper .row .table-content .table-list table tbody tr.active{border:3px solid #d45858}
.main-content-wrapper .row .table-content .table-list table tbody tr.active td{background-color: rgb(226, 224, 224);}
.main-content-wrapper .row .info-content .title ul,.main-content-wrapper .row .table-content .title ul{padding-left:10px}
.main-content-wrapper .row .info-content .title ul li i,.main-content-wrapper .row .table-content .title ul li i{margin-right:5px}
.main-content-wrapper .row .table-content .border-main{border:1px solid #d45858;height:100%;}
.main-content-wrapper .row .info-content .basic-info,.main-content-wrapper .row .info-content .warning-info{height:50%;border:1px solid #51bbeb}
.main-content-wrapper .row .info-content{transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;-o-transition:all 1s;height:100%;background-color:#fff;position:absolute;transform:translateX(50%);-ms-transform:translateX(50%);-moz-transform:translateX(50%);-webkit-transform:translateX(50%);-o-transform:translateX(50%);padding-bottom:15px;padding-left:0}
.main-content-wrapper .row .info-content.active{transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.main-content-wrapper .row .info-content .info-left,.main-content-wrapper .row .info-content .info-right{height:100%;padding-left:0}
.main-content-wrapper .row .info-content .info-left{padding-right:26px}
.main-content-wrapper .row .info-content .title{height:30px;line-height:30px;background-color:#51bbeb;color:#fff}
.main-content-wrapper .row .info-content .warning-handling{height:100%;border:1px solid #51bbeb}
.main-content-wrapper .row .info-content .warning-handling .table-list{overflow-y:auto;height:calc(100% - 30px); overflow-x: hidden;}
.tag-switch{width:27px;height:70px;background:#b9e7ff;color:#000;text-align:center;position:absolute;right:7px;top:0;padding-top:7px;cursor:pointer;border:1px solid #51bbeb}
.progress{margin-bottom:0!important}
.progress-bar{line-height:19px!important}
.progress-bar-major{background-color:#f67f01!important}
.progress-bar-heavier{background-color:#de9f14!important}
.progress-bar-general{background-color:#1a61cd!important}
.progress-bar-default{background:#fff!important;color:#5a5656!important;border:1px dashed red}
.denger-grade{vertical-align:bottom}
.denger-record .area{display:flex;display:-ms-flexbox}
.denger-record{clear:both;padding-left:15px;padding-right:15px}
.denger-record .area label{flex:0 0 75px;-ms-flex:0 0 75px}
.denger-type{width:70px;display:inline-block}
.denger-record .area .list{flex:1;-ms-flex:1;border:1px solid #b7a9a9;padding:0 0 5px 0}
.denger-record .area .list .info-record{margin-top:5px;cursor:pointer}
.denger-media .multimedia{display:inline-block;margin-right:20px}
.denger-media .multimedia select{width:100px!important;display:inline-block}
.main-content-wrapper .row .info-content .warning-info .table-list{overflow:auto;height:calc(100% - 30px)}
#infoList{padding-top:5px;overflow:auto;height:calc(100% - 38px)}
.main-content-wrapper .row .info-content .basic-info .table-list{overflow:auto;height:calc(100% - 30px)}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info{clear:both;display:flex;display:-ms-flexbox;padding:0 15px}
.padTop{padding-top:5px}
.padTopTime{height:36px;line-height:36px}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info label{flex:0 0 75px;-ms-flex:0 0 75px}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info .list{flex:1;-ms-flex:1;border:1px solid #cec1c1;padding:5px}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info .list p{margin:0;font-size:12px}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info .list .driver-image.active{border:2px solid #6dcff6}
.main-content-wrapper .row .info-content .basic-info .table-list .driver-info .list .driver-image img{width:100%;max-height: 100%;}
.removePaading{padding-left:0!important;padding-right:0!important}
.addPaddingRight{padding-right:15px!important}
.main-content-wrapper .row .info-content .info-right .handling-process{display:flex;display:-ms-flexbox;padding:0 15px}
.main-content-wrapper .row .info-content .info-right .handling-process label{flex:0 0 75px;-ms-flex:0 0 75px; text-align:right}
.main-content-wrapper .row .info-content .info-right .handling-process .content{flex:1;-ms-flex:1;border:1px solid #cec1c1;position:relative;}
.center{padding-top:7px;text-align:center}
.marTop{margin-bottom:5px}
.payReturn{display:flex;display:-ms-flexbox;clear:both;padding:0 15px 0 15px}
.payReturn label{flex:0 0 94px;-ms-flex:0 0 94px;line-height:21px}
.payReturn input{flex:1;-ms-flex:1}
.archivingBtn{text-align:center;clear:both;padding-top:12px}
.returnTime{display:flex;display:-ms-flexbox}
.returnTime label{flex:0 0 80px;-ms-flex:0 0 80px;padding-top:7px}
.returnTime input{flex:1;-ms-flex:1}
.popover{max-width:1000px!important}
.spacingTop{clear:both;padding-top:5px}
.left-toggle{position:absolute;top:50%;left:0;height:120px;background:#f7f5f6;width:50px;margin-top:-60px;text-align:center}
.left-toggle:hover,.right-toggle:hover{background-color:#e8e4e6}
.left-toggle .left-icon{z-index:999;position:absolute;top:40px;left:0;cursor:pointer;width:50px;height:66px;background-image:url(/clbs/resources/img/left_icon_1.svg);background-repeat:no-repeat;display:inline-block}
.right-toggle{position:absolute;top:50%;right:0;height:120px;background:#f7f5f6;width:50px;margin-top:-60px;text-align:center}
.right-toggle .right-icon{z-index:999;position:absolute;top:40px;left:6px;cursor:pointer;width:50px;height:66px;background-image:url(/clbs/resources/img/right_icon_1.svg);background-repeat:no-repeat;display:inline-block}
.passageway-select{margin-bottom:10px}
.passageway-select .title{display:inline-block;margin-right:10px}
.passageway-select .selected{display:inline-block}
.toggle .one-border{cursor:pointer;padding:1px;height:38px;display:inline-block;border:1px solid #fff;margin-right:30px}
.toggle .one-border.active{border:1px solid #6dcff6}
.toggle .four-border{cursor:pointer;padding:1px 2px;height:39px;display:inline-block;border:1px solid #fff}
.toggle .four-border.active{border:1px solid #6dcff6}
.toggle .one{height:34px;width:34px;background:#5e5f63;display:inline-block}
.toggle .four{display:inline-block;font-size:1}
.toggle .four div span{display:inline-block;width:14px;height:14px;background:#5e5f63}
#videoplayer{width:100%;height:100%}
#driverInfoList{cursor:pointer}
.driver-image-lg{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.4);display:none;opacity:0;z-index:9999}
.driver-image-lg .content{width:400px;height:400px;background:#fff;position:absolute;top:50%;left:22%;margin-top:-200px;margin-left:-200px}
.driver-image-lg .content img{width:100%;height:100%}
.returnVisit{position:absolute;top:0;left:0;width:100%;opacity:0;transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transform:translateX(-100%);-ms-transform:translateX(-100%);-moz-transform:translateX(-100%);-webkit-transform:translateX(-100%);-o-transform:translateX(-100%)}
.returnVisit .list{height:36px;line-height:36px;margin-bottom:5px!important}
.returnVisit .list .ordinal{text-align:center}
.handlingUp{z-index:998;opacity:1;position:relative;transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);-o-transform:translateX(0)}
.returnVisitRight{opacity:0;position:absolute;transform:translateX(100%);-ms-transform:translateX(100%);-moz-transform:translateX(100%);-webkit-transform:translateX(100%);-o-transform:translateX(100%)}

.handlingMedia{text-align:center;clear:both;margin-bottom:5px}
.risk-control-results .disabled{cursor:no-drop;color:#c1bebe}
.risk-control-results label input{vertical-align:text-top}
.btn-default-select{background:#fff;border:1px solid #ccc!important;color:#000;padding:8px 13px 6px 11px!important;margin-bottom:0!important}
.hand-select-list{margin:0!important;border-top:none!important}
.hand-select-list li{height:30px;line-height:30px}
.hand-select-list li:hover{background-color:#1e90ff;color:#fff;cursor:pointer}
input{background-color:#fff!important}
.btn-sm{border:1px solid #6dcff6!important}
.input-sm{min-height:30px!important;padding:0 11px!important;vertical-align:bottom;margin-right:1px}
.denger-type-table{max-height:272px;overflow:auto}
.popover.top>.arrow{left:95%!important}
.denger-type-td{padding:0!important}
.denger-type-td .progress{border-radius:0;height:37px}
.denger-type-td .progress .progress-bar{line-height:37px!important}
.progress-bar{background-size:10px 10px!important}
.video-preview-icon{background-image:url(../../resources/img/video-icon.svg);display:inline-block;width:16px;height:16px;background-size:16px 16px;vertical-align:bottom}
.reminding-denger{background-image:url(../../resources/img/reminding-denger-icon.svg);display:inline-block;width:14px;height:15px;background-size:15px 15px;vertical-align:text-top;margin-top:2px}
.round-icon{background-image:url(../../resources/img/round-icon.svg);display:inline-block;width:14px;height:15px;background-size:15px 15px;vertical-align:text-top}
#reasonsForRevisit{clear:both;padding-top:5px}
.group-bottom{margin-bottom:10px}
#warningInfoRight{padding-left:15px}
.handle-people{display:flex;display:-ms-flexbox}
.handle-people label{flex:0 0 75px;-ms-flex:0 0 75px;text-align:right}
.handle-people span{flex:1;-ms-flex:1;margin-left:4px}

#v-statusInfo img{cursor:pointer!important}
#v-statusInfo-show{width:331px;display:none;padding:0px;}
#v-statusInfo-show div.col-md-6:nth-child(even){border-left:1px solid #929294;padding-right:0px;}
#v-statusInfo-show div.col-md-6:nth-child(odd){border-left:1px solid #929294;margin-left: 15px;}
.amap-info-content{font-size:12px;background-color:#ebe9e5;line-height:22px!important;border:1px solid c2c2c2!important;box-shadow:1px 3px 8px #555!important;opacity:.9;padding:15px 18px 15px 18px!important;border-radius:5px}
.amap-info-close{display:none!important}
.amap-info-sharp{background-image:url(../../resources/img/sharp.png)!important;opacity:.9;}
#v-statusInfo-show{width:331px;display:none;padding:0px;}
#basicStatusInformation{width:158px;}
.amap-info-sharp-marleft-show{margin:0px 0px 0px 249.5px !important;}
.amap-info-sharp-marleft-hide{margin:0px 0px 0px 83.5px !important;}
.infoWindowSetting{width:158px}
.infoWindowSetting a{padding:0;color:#767574;text-align:center;margin:5px 0 0;cursor:pointer}
#tableHeader, #queueTable{table-layout: fixed;}
#tableHeader th div{overflow: hidden;}
#queueTable td div{overflow: hidden;}

/* wjk*/
.addPaddingRight{height: 164px;}
.driver-image{height: 164px;}