.sidebar {
    overflow-y: auto;
    height:calc(100vh - 80px);
}
.content{
    height:calc(100vh - 80px);
    position: relative;
}
.left-part{
    position: absolute;
    width:310px;
    left:0px;
    top:0px;
    bottom: 0px;
}
.left-part.collapse{
    width:0px;
}
.right-part{
    position: absolute;
    left:310px;
    right:0px;
    top:0px;
    bottom: 0px;
}
.right-part.extend{
    left:0px;
}

.page-heading{
    height: 38px;
    position: relative;
    border-bottom: 1px solid #eff2f7;
}
.page-title{
    font-weight: 700;
}
.jump-link{
    position: absolute;
    right:5px;
    bottom:2px;
    display: block;
    width:41px;
    height:32px;
    line-height: 20px;
    background: #6dcff6 !important;
    border-radius: 3px;
    padding-top:5px;
    text-align: center;
}

.btnPaddingOnLine {
    padding: 0;
    color: #45a541
}

.btnPadding {
    padding: 0
}

.heartbeatArea {
    color: #fb8c96;
    padding: 0 13px 0 0
}

.onlineDrivingArea {
    color: #78af3a;
    padding: 0 13px 0 0
}

.onlineNotPositioningArea {
    color: #754801;
    padding: 0 13px 0 0
}

.warningArea {
    color: #ffab2d;
    padding: 0 13px 0 0
}

.speedLimitWarningArea {
    color: #960ba3;
    padding: 0 13px 0 0
}

.onlineParkingArea {
    color: #c80002;
    padding: 0 13px 0 0
}


.tree-container{
    /*padding:0px 15px 0px 15px;*/
    /*66 38 297 = 398*/
    height: calc(100vh - 380px);
    overflow: auto;
}
/* 滚动槽 */
.tree-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.tree-container::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.tree-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.small-window-container{
    border-top:1px solid #ececec;
    padding:8px;
}

.small-window-container::after{
    content: ' ';
    display: block;
    clear: both;
}

.small-window-number{
    width:238px;
    float: left;
    /*background-color: #eee;*/
    border-radius: 3px;
    padding:8px;
    padding-top: 0px;
}

.small-window-number-span{
    display: inline-block;
    width:30px;
    height:30px;
    margin-right:6px;
    margin-left:4px;
    margin-top:10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(142,142,142);
    color:white;
    text-align: center;
    padding-top:3px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
.small-window-number-span.active{
    background-color: #38d1fa;
}
.small-window-number-span:hover{
    background-color: #aaa;
}
.small-window-number-span.active:hover{
    background-color: #38d1fa;
}

.small-window-number-span.map-icon{
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center center;
    background-image: url("/clbs/resources/img/map.svg");
    position: relative;
}

.map-setting-container{
    width: 400px;
    height: 30px;
    background-color: #888;
    color:white;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    border-radius: 3px;
    opacity: 0.5;
    display: none;
    transition: left 300ms cubic-bezier(0, 0, 0.76, 1.35), opacity 300ms ease-out;
    text-align: left;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
}

.map-setting-container.visible{
    left: 40px;
    opacity: 1;
    display: block;
}

.small-window-setting{
    width:54px;
    float: left;
    /*background-color: #eee;*/
    border-radius: 3px;
    padding:8px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.multi-window-container{
    width:100%;
    height:100%;
    /*overflow: auto;*/
    border:1px solid #9ba0a2;
    background-color: #e4e4e4;
}

.window{
    float: left;
    border:1px solid #9ba0a2;
    box-sizing: border-box;
    position: relative;
    transition: width 150ms ease-out,height 150ms ease-out;
    overflow: hidden;
}
.window.focus{
    border-color: #f77b0a;
    box-shadow: 0px 0px 3px 2px #f77b0a;
    z-index: 444;
    /*border-left: 2px solid #e01919 !important;*/
    /*border-right: 2px solid #e01919 !important;*/
    /*border-top: 2px solid #e01919 !important;*/
    /*border-bottom: 2px solid #e01919 !important;*/
}
.window.full-screen{
    width:100% !important;
    height: 100% !important;
}
.window.hidden{
    display: none;
}
.window-1{
    width:100%;
    height:100%;
}

.window-2{
    width:50%;
    height: 100%;
}
.window-2:first-child{
    /*border-right: none;*/
}

.window-3{
}
.window-3:nth-child(1){
    width:66%;
    height:100%;
}
.window-3:nth-child(2){
    width:34%;
    height:50%;
    /*border-left: none;*/
}
.window-3:nth-child(3){
    width:34%;
    height:50%;
    /*border-left: none;*/
    /*border-top: none;*/
}

.window-4{
    width:50%;
    height:50%;
}
.window-4:nth-child(2){
    /*border-left:none;*/
}
.window-4:nth-child(3){
    /*border-top:none;*/
}
.window-4:nth-child(4){
    /*border-top: none;*/
    /*border-left: none;*/
}

.window-5{
}
.window-5:nth-child(1){
    width:66%;
    height:50%;
}
.window-5:nth-child(2){
    width:34%;
    height:50%;
    /*border-left:none;*/
}
.window-5:nth-child(3){
    width:33%;
    height:50%;
    /*border-top:none;*/
}
.window-5:nth-child(4){
    width:33%;
    height:50%;
    /*border-top:none;*/
    /*border-left: none;*/
}
.window-5:nth-child(5){
    width:34%;
    height:50%;
    /*border-top: none;*/
    /*border-left:none;*/
}

.window-6:nth-child(1){
    width: 33%;
    height:50%;
}
.window-6:nth-child(2){
    width: 34%;
    height:50%;
    /*border-left: none;*/
}
.window-6:nth-child(3){
    width: 33%;
    height:50%;
    /*border-left: none;*/
}
.window-6:nth-child(4){
    width: 33%;
    height:50%;
    /*border-top: none;*/
}
.window-6:nth-child(5){
    width: 34%;
    height:50%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-6:nth-child(6){
    width: 33%;
    height:50%;
    /*border-top: none;*/
    /*border-left: none;*/
}

.window-7:nth-child(1){
    width:75%;
    height:66%;
}
.window-7:nth-child(2){
    width:25%;
    height:33%;
    /*border-left: none;*/
}
.window-7:nth-child(3){
    width:25%;
    height:calc(33% + 0.3px);
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-7:nth-child(4){
    width:25%;
    height:34%;
    /*border-top: none;*/
}
.window-7:nth-child(5){
    width:25%;
    height:34%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-7:nth-child(6){
    width:25%;
    height:34%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-7:nth-child(7){
    width:25%;
    height:34%;
    /*border-top: none;*/
    /*border-left: none;*/
}

.window-8{
    width:25%;
    height:50%;
}
/*.window-8:nth-child(2){*/
    /*border-left: none;*/
/*}*/
/*.window-8:nth-child(3){*/
    /*border-left: none;*/
/*}*/
/*.window-8:nth-child(4){*/
    /*border-left: none;*/
/*}*/
/*.window-8:nth-child(5){*/
    /*border-top: none;*/
/*}*/
/*.window-8:nth-child(6){*/
    /*border-top: none;*/
    /*border-left: none;*/
/*}*/
/*.window-8:nth-child(7){*/
    /*border-top: none;*/
    /*border-left: none;*/
/*}*/
/*.window-8:nth-child(8){*/
    /*border-top: none;*/
    /*border-left: none;*/
/*}*/

.window-9:nth-child(1){
    width:33%;
    height:33%;
}
.window-9:nth-child(2){
    width:34%;
    height:33%;
    /*border-left: none;*/
}
.window-9:nth-child(3){
    width:33%;
    height:33%;
    /*border-left: none;*/
}
.window-9:nth-child(4){
    width:33%;
    height:34%;
    /*border-top: none;*/
}
.window-9:nth-child(5){
    width:34%;
    height:34%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-9:nth-child(6){
    width:33%;
    height:34%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-9:nth-child(7){
    width:33%;
    height:33%;
    /*border-top: none;*/
}
.window-9:nth-child(8){
    width:34%;
    height:33%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-9:nth-child(9){
    width:33%;
    height:33%;
    /*border-top: none;*/
    /*border-left: none;*/
}

.window-10:nth-child(1){
    width:80%;
    height:80%;
}
.window-10:nth-child(2){
    width:20%;
    height:20%;
    /*border-left: none;*/
}
.window-10:nth-child(3){
    width:20%;
    height:20%;
    /*border-left: none;*/
    /*border-top: none;*/
}
.window-10:nth-child(4){
    width:20%;
    height:20%;
    /*border-left: none;*/
    /*border-top: none;*/
}
.window-10:nth-child(5){
    width:20%;
    height:calc(20% + 0.5px);
    /*border-left: none;*/
    /*border-top: none;*/
}
.window-10:nth-child(6){
    width:20%;
    height:20%;
    /*border-top: none;*/
}
.window-10:nth-child(7){
    width:20%;
    height:20%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-10:nth-child(8){
    width:20%;
    height:20%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-10:nth-child(9){
    width:20%;
    height:20%;
    /*border-top: none;*/
    /*border-left: none;*/
}
.window-10:nth-child(10){
    width:20%;
    height:20%;
    /*border-top: none;*/
    /*border-left: none;*/
}

.map-box{
    width:100%;
    height:calc(100% - 60px);
    position: relative;
}
.map-bag{
    width:100%;
    height:100%;
}
.empty-prompt{
    width:100%;
    height:100%;
    background-color: #e4e3e3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20% auto;
    background-image: url("/clbs/resources/img/default-location.svg");
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    z-index: 333;
    display: none;
}
.window.disabled .empty-prompt{
    display: block;
}
.status-box{
    /*height:60px;*/
    position: absolute;
    left:0px;
    right:0px;
    bottom: 0px;
    /*overflow: hidden;*/
    background-color: rgba(255,255,255,0.9);
    z-index: 200;
    transition: height 200ms ease-out;
}


.status-bag{
    height:60px;
    font-size: 12px;
    line-height: 17px;
    padding-top:5px;
    color: #333333;
}
.status-text{
    color:#616161;
    text-align: left;
    padding-left: 10px;
}
.status-signal{
    color:#616161;
    text-align: right;
    padding-right: 10px;
}
.status-arrow{
    background-position: center 20px;
    background-size: 14px auto;
    background-repeat: no-repeat;
    height: 12px;
    cursor: pointer;
    transition: background-position 200ms;
    background-image: url("/clbs/resources/img/up-arrow.png");
    width:30px;
    position: absolute;
    top:2px;
    left:calc(50% - 15px);
}
.status-box.open .status-arrow{
    background-position: center -20px;
    background-image: url("/clbs/resources/img/down-arrow.png");
}
.status-box:hover .status-arrow{
    background-position: center center;
}
.window.disabled .status-arrow{
    display: none;
}
.window-time-box,.window-location-box{
    padding-left: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.small-window-icon::before{
    left:10px;
}
.ope-container{
    position: absolute;
    right:0px;
    top:0px;
    z-index: 10;
}
.ope-icon{
    width:20px;
    height:20px;
    background-color: rgba(255,255,255,0.51);
    border-radius: 2px;
    margin:2px 1px 0px 1px;
    float: right;
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center center;
    cursor: pointer;
}
.ope-icon:hover{
    background-color: #fff;
}
.cancel-subscribe-icon{
    background-image: url("/clbs/resources/img/cancel-subscribe.svg");
}
.track-icon{
    background-image: url("/clbs/resources/img/track.svg");
}
.track-icon.track-icon-on{
    background-image: url("/clbs/resources/img/track-white.svg");
    background-color: #339eff;
}
.full-screen-icon{
    background-image: url("/clbs/resources/img/full-screen.svg");
}
.window.full-screen .full-screen-icon{
    background-image: url("/clbs/resources/img/full-screen-back.svg");
}
.move-icon{
    background-image: url("/clbs/resources/img/move.svg");
}
.locate-icon{
    background-image: url("/clbs/resources/img/locate.svg");
    width:30px;
    height:30px;
}

.locate-container{
    position: absolute;
    right:0px;
    top:-31px;
    z-index: 10;
}
.signal-container{
    position: absolute;
    left:0px;
    top:0px;
    z-index: 10;
    background-color: rgba(255, 255, 255,0.9);
    border-bottom-right-radius: 2px;
    /*padding:3px 6px 3px 4px;*/
}
.signal-container>div{
    display: none;
    margin:3px;
}
.battery-box{
    background-image: url("/clbs/resources/img/electricQuantity.png");
    width:30px;
    height:15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    float: left;
    padding:2px 4px 2px 2px;
}
.battery-bag{
    height:100%;
    width:100%;
    background-color: #a2dd55;
}
.battery-text{
    color: #000;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left:0px;
    right:2px;
    top:0px;
    bottom: 0px;
    transform: scale(0.8);
}

.satellite-box{
    background-image: url("/clbs/resources/img/satellite.svg");
    height:16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    position: relative;
    float: left;
    margin-left: 8px;
}
.satellite-text{
    color: #000;
    text-align: left;
    font-size: 12px;
    margin-left:18px;
    transform: scale(0.8);
}
.wifi-box{
    width:18px;
    height:16px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    float: left;
    margin-left: 8px;
}
.wifi-box-1{
    background-image: url("/clbs/resources/img/wifi1.png");
}
.wifi-box-2{
    background-image: url("/clbs/resources/img/wifi2.png");
}
.wifi-box-3{
    background-image: url("/clbs/resources/img/wifi3.png");
}
.wifi-box-4{
    background-image: url("/clbs/resources/img/wifi4.png");
}
.wifi-box-5{
    background-image: url("/clbs/resources/img/wifi5.png");
}

.gps-box{
    height:16px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: left center;
    position: relative;
    float: left;
    margin-left: 8px;
}
.gps-box-1{
    background-image: url("/clbs/resources/img/baseStation1.png");
}
.gps-box-2{
    background-image: url("/clbs/resources/img/baseStation2.png");
}
.gps-box-3{
    background-image: url("/clbs/resources/img/baseStation3.png");
}
.gps-box-4{
    background-image: url("/clbs/resources/img/baseStation4.png");
}
.gps-box-5{
    background-image: url("/clbs/resources/img/baseStation5.png");
}
.gps-text{
    color: #000;
    text-align: left;
    font-size: 12px;
    margin-left:20px;
    transform: scale(0.8);
}

.sensor-box{
    width:100%;
    max-height:100px;
    overflow-y: auto;
    height: 0px;
}
.status-box.open .sensor-box{
    height:auto;
}

/* 滚动槽 */
.sensor-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.sensor-box::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
.sensor-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}


.sensor-bag{
    /*border-right:1px solid #c0c0c0;*/
    /*border-bottom:1px solid #c0c0c0;*/
    margin-left:-1px;
}
.flex-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.flex-item{
    flex: 1;
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    min-width: 100px;
    height: 50px;
    float: left;
    border:1px solid #c0c0c0;
    border-right:none;
    border-bottom:none;
    position: relative;
}

.sensor-value-line{
    height:27px;
    text-align: center;
    color: #333333;
}
.io-item .sensor-value-line{
    padding-top:5px;
}
.sensor-value{
    font-size: 20px;
}
.io-item .sensor-value{
    font-size:14px;
}
.sensor-unit{
    font-style: italic;
    font-size: 12px;
}
.sensor-title{
    color: #616161;
    text-align: center;
}
.sensor-icon{
    width:14px;
    height:14px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: inline-block;
}
.speed-icon{
    background-image: url("/clbs/resources/img/current-speed.png");
}
.mileage-icon{
    background-image: url("/clbs/resources/img/mileage.png");
}
.acc-icon{
    background-image: url("/clbs/resources/img/acc.png");
}
.oil-icon{
    background-image: url("/clbs/resources/img/oil.png");
}
.oilExpend-icon{
    background-image: url("/clbs/resources/img/oilExpend.png");
}
.temp-icon{
    background-image: url("/clbs/resources/img/temp.png");
}
.humi-icon{
    background-image: url("/clbs/resources/img/humi.png");
}
.workhour-icon{
    background-image: url("/clbs/resources/img/workhour.png");
}
.reverse-icon{
    background-image: url("/clbs/resources/img/reverse.png");
}
.weight-icon{
    background-image: url("/clbs/resources/img/weight.svg");
}
.tire-icon{
    background-image: url("/clbs/resources/img/tire.svg");
}
.io-icon{
    background-image: url("/clbs/resources/img/io.svg");
}

.sensor-title-text{
    font-size: 14px;
}
.sensor-number{
    color: #333333;
    position: absolute;
    right:0px;
    top:0px;
    font-size: 12px;
}
.sensor-item-hidden{
    display: none;
}
.drag-placeholder{
    width:35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("/clbs/resources/img/dragAndDrop.svg");
    opacity: 0.9;
    position: absolute;
    z-index: 99999;
    display: none;
}

.window .offlineIconArea{
    width: 16px;
    display: inline-block;
}
.input-label{
    padding-left: 20px;
    position:relative;
    cursor: pointer;
    font-weight: normal;
    margin-right: 8px;
}
.check-input,.radio-input{
    display: none;
}
.check-active,.radio-active{
    position:absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #e5e5e5;
    background: #fff;
    overflow: hidden;
}
.radio-active{
    border-radius: 50%;
}
.radio-input:checked+.radio-active{
    border-color: #1890ff;
}
.radio-active::after{
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: #1890ff;
    border-top: 0;
    border-left: 0;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
    content: ' ';
}
.radio-input:checked+.radio-active::after{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
}
.check-active{
    border-radius: 2px;
    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}
.check-active::after {
    position: absolute;
    top: 50%;
    left: 21%;
    display: table;
    width: 5.71428571px;
    height: 9.14285714px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
    -ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
    transform: rotate(45deg) scale(0) translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
    transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
    content: ' ';
}
.check-input:checked+.check-active{
    background: #1890ff;
    border-color: #1890ff;
    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}
.check-input:checked+.check-active::after{
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    content: ' ';
}
.carNameShowRD{
    width:100px;
    background-image: url(/clbs/resources/img/carNameShowRDL.svg) ;
}
/*
.monitorNameBox{
    width:64px;
}*/
