#dragDIV {
  z-index: 999;
  margin: 0;
  position: relative;
}

#carInfoTable {
  background: #fff;
  z-index: 999;
  position: relative;
  padding-top: 2px;
}

.mapDataPadd {
  position: relative;
}

#realTimeVideoReal {
  position: absolute;
  top: 0;
  width: 676px;
  /*width: 42%;*/
  height: calc(100% - 17px);
  right: -676px;
  /*right: -42%;*/
  z-index: 1000;
  transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  display: block;
}

#realTimeVideoReal.realTimeVideoMove {
  right: 0;
  transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
}

#videoCont {
  height: 100%;
  transition: all .6s;
}

#videoCont.pos-fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 0;
  background: #eee;
}

#videoplayer {
  height: 100%;
  transition: all .3s;
}

.videoplayer-box {
  width: 100%;
  height: 500px;
}

#videoplayer .video-box {
  height: 50%;
  border: 1px solid #9c9c9c;
  width: 50%;
  position: relative;
}

#videoplayer .video-box video {
  background-color: #d9d9d9;
  background-image: url(/clbs/resources/img/realTimeVideo/video_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  object-fit: fill;
}

#videoSeparated {
  text-align: center;
  /*margin-bottom: 30px;*/
}

.video-control-panel i {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.full-video {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100% !important;
  height: 100% !important;
}

.video-four:before {
  content: "";
  background-image: url(/clbs/resources/img/realTimeVideo/four.svg);
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 122px;*/
  left: 0;
  background-size: 100%;
}

.video-four.video-check:before {
  background-image: url(/clbs/resources/img/realTimeVideo/four_blue.svg);
}

.video-six:before {
  content: "";
  background-image: url(/clbs/resources/img/realTimeVideo/six.svg);
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 173px;*/
  left: 0;
  background-size: 100%;
}

.video-six.video-check:before {
  background-image: url(/clbs/resources/img/realTimeVideo/six_blue.svg);
}

.video-nine:before {
  content: "";
  background-image: url(/clbs/resources/img/realTimeVideo/nine.svg);
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 224px;*/
  left: 0;
  background-size: 100%;
}

.video-nine.video-check:before {
  background-image: url(/clbs/resources/img/realTimeVideo/nine_blue.svg);
}

.video-ten:before {
  content: "";
  background: url(/clbs/resources/img/realTimeVideo/ten.svg);
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 275px;*/
  left: 0;
  background-size: 100%;
}

.video-ten.video-check:before {
  background-image: url(/clbs/resources/img/realTimeVideo/ten_blue.svg);
}

.video-sixteen:before {
  content: "";
  background-image: url(/clbs/resources/img/realTimeVideo/sixteen.svg);
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 326px;*/
  left: 0;
  background-size: 100%;
}

.video-sixteen.video-check:before {
  background-image: url(/clbs/resources/img/realTimeVideo/sixteen_blue.svg);
}

.video-full-screen:before {
  content: "";
  background: url(/clbs/resources/img/realTimeVideo/full_open.png) no-repeat;
  width: 31px;
  height: 31px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 377px;*/
  left: 0;
  background-size: 100%;
}

.video-full-screen-check:before {
  content: "";
  background: url(/clbs/resources/img/realTimeVideo/full_close.png) no-repeat;
  width: 31px;
  height: 32px;
  width: 32 px\9 \0;
  height: 32 px\9 \0;
  position: absolute;
  top: 4px;
  /*left: 377px;*/
  left: 0;
  background-size: 100%;
}