/* 列表表头标签 */
#dataTable.monitoringObjTable thead tr th.text-center i.monitoringObjI::before{
    content: "";
    background-image: url('/clbs/resources/js/dataTables/images/filter.png');
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 13px;
    background-size: 14px 14px;
    cursor: pointer;
}
#dataTable tbody tr {
    cursor: pointer;
}

#dataTable tbody tr.active td{
    background: rgb(220, 245, 255)!important;
}
#dataTable tbody tr td {
    transition: all .3s ease-in;
}
/* 监控对象得分 */
.scores-wrap-q {
    height: 103px;
    vertical-align: middle;
}
.score-static-q {
    font-weight: 600;
    margin: 15px 0 10px 0;
}
.red {
    color: red;
}
.green {
    color: green;
}
.black {
    color: black;
}
.score-comment-numberq, 
.score-comment-percentq {
    color: green;
}
/* 监控对象方框 */
.homeText-q {
    margin: 15px 0 5px 0;
}
.fenceUrl-q {
    padding: 20px 5px 0 5px;
    box-shadow: 0 0 4px #f1f1f1;
    border-radius: 3px;
    margin-left: 3px;
    height: 144px;
    border: 1px solid #ccc;
    border-radius: 3px;
    content:'';display:block;clear:both;
}
.div.rect-left-q {
    float: left;
}
div.rect-left-q .quant {
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
div.rect-left-q .unit {
    font-weight: bold;
    color: #000;
}
div.rect-right-q {
    float: right;
}

div.rect-right-q .number{
    font-weight: bold;
}
.fenceUrl-q .title4 {
    padding: 2px 0 0 5px;
}
.fenceUrl-q .number4 {
    text-align: center;
    padding: 5px 0;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
.fenceUrl-q .unit4 {
    text-align: right;
    padding-right: 5px;
}

/* 弹框 */
/*弹框名*/
.panel-default > .panel-head-q {
    height: 50px;
    border-color: #eff2f7;
    margin-bottom: 15px;
    border-color: #eff2f7;
    background: #fafafa;
    color: #767676;
}
.panel-head-q-title {
    font-weight: 700;
    font-size: 16px;
    padding-left: 0;
    line-height: 1.42857143;
    margin-top: 0;
}
.bold-q {
    font-weight: bold;
}

.panel-head-q-close i{
    float: right;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transform: translateX(10px);
}
.panel-head-q-close i:hover{
    color: #ddd;
    cursor: pointer;
}

.panel-head-q-close i:before{
    content: "\e014";
}
.panel-head-q-date {
    display: inline-block;
    min-width: 98px;
    text-align: center;
    text-transform: none;
    font-size: 16px;
    position: relative;
    top: 2px;
}
#popup-q {
    width: 800px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -150%;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background: #fff;
    transition: all .5s ease-in-out;
}
#popup-q.show {
    right: 0;
}

#popup-q .panel-body {
    padding-bottom: 0;
    width: 100%;
}

#scoreq-img {
    width: 130px;
    height: 102px;
     margin: 0 20px 15px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
     background: url('/clbs/resources/img/controller_object.svg') center no-repeat;
    background-size: 100% 100%;
}
#echarts-q {
    height: 300px;
}
#echarts-q1 {
    width: 760px;
    height: 280px;
}
#echarts-q, #echarts-q3 {
    display:none;
    width: 770px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
}
#echarts-q2 {
    display: block;
    overflow-y: scroll;
    margin: auto;
    padding: 15px;
    border: none;
    height: calc(100vh - 530px);
}
#echarts-q2>table.dataTable>thead>tr>th,
#echarts-q2>table.dataTable>tbody>tr>td {
    padding: 10px;
    height: 62px;
    line-height: 1.42857143;
    vertical-align: middle;
    word-break: break-all;
}
#echarts-q2>table>tbody {
    overflow:hidden;
    width: 100%;
    height: 180px;
    cursor: pointer;
}
#dataTable2-q {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    white-space: normal;
}
#dataTable2-q>thead {
    width: 100%;
}
#dataTable2-q>thead>tr{
    width: 100%;
}
#dataTable2-q>tbody {
    width: 100%;
    height: 163px;
}
#dataTable2-q>tbody>tr>td {
    overflow: auto;
    white-space: normal;
}
.homeText-q2 {
    width: 100%;
    margin: 40px 0 0 0;
}
.fenceUrl-q2 {
    padding: 8px 14px;
    border-radius: 3px;
    margin: 0 0 10px 0;
    margin: 10px auto;
    height: 90px;
    border-radius: 3px;
    content: '';
    display: block;
    clear: both;
    font-size: 12px;
    width: 340px;
    border: 1px solid #e5e5e5;
}
div.rect-left-q2 {
    float: left;
}
div.rect-left-q2 .quant {
    font-size: 26px;
    font-weight: bold;
}
div.rect-left-q2 .unit {
    font-weight: bold;
}
div.rect-right-q2 {
    float: right;
    margin-top: 20px;
    text-align: right;
}
div.rect-right-q2 .number{
    font-size: 14px;
}
.fenceUrl-q2 .title4 {
    padding: 2px 0 0 5px;
}
.fenceUrl-q2 .number4 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}
.fenceUrl-q2 .unit4 {
    text-align: right;
    padding-right: 5px;
}
.red-q {
    color: red;
}
.green-q {
    color: green;
}
.panel-display-q {
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
    padding: 10px 15px 2px 15px;
}
.panel-display-q1 {
    width: 200px;
    height: 200px;
    border: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}
.panel-display-q2 {
    line-height: 27px;
}
.panel-display-q2 .title {
    margin-right: 20px;
    width: 130px;
    display: inline-block;
    text-align: right;
}

.panel-display-q3 {
    line-height: 32px;
}
.panel-display-q3 .title {
    margin-right: 10px;
    width: 110px;
    display: inline-block;
    text-align: right;
}
.panel-display-q3 .special {
    margin-bottom: 64px;
}
.panel-btn-two {
    padding: 7px 3px;
    position: relative;
    bottom: 0;
    width: 1000px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
    padding-right: 30px;
}
.panel-export-q {
    width: 75px;
    background: #6dcff6;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 9px 14px 8px;
    margin-top: 0;
    margin-bottom: 3px;
}
.panel-final-close {
    width: 75px;
    background: #ccc;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 9px 14px 8px;
    margin-top: 0;
    margin-bottom: 3px;
}

#dropDown-q {
    margin: 0;
    overflow-y: scroll;
    position: absolute;
    top: 94px;
    left: 66px;
    display: none;
}
#dropDown-q.show {
    display: block;
}
/*去掉focus效果*/
table.dataTable#dataTable>thead>tr>th:focus {
    outline: none;
}

/*首页详情部分*/
.driverHeader {
    padding-top: 15px;
    background-color: #fff;
}

.diriverTopTxt {
    display: flex;
}

.rightHeader {
    flex: 1;
}

.diriverTopTxt h3 {
    font-weight: 600;
}

.ratingNum {
    width: 130px;
    height: 102px;
    margin: 0 20px 15px 10px;
    padding: 10px 6px;
    color: #fff;
    font-size: 37px;
    font-weight: 600;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    background: url("/clbs/resources/img/controller_object.svg") center no-repeat;
    background-size: 100% 100%;
}

.diriverTopNum {
    display: flex;
}

.numItem {
    flex: 1;
    margin-right: 35px;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.itemTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.itemTop .specificNum {
    flex: 1;
}

.numItem h4 {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

.lastSpecificNum {
    margin: 0;
}

.numItem h4 span {
    font-size: 14px;
}

#myChart {
    width: 100%;
    height: 280px;
}

#moreExport {
    padding-left: 15px !important;
}

.noMargin {
    margin: 0;
}
#dataTable .dataTables_empty {
    pointer-events: none;
}
/*修改后的监控对象评分详情样式*/
.numItem.numItem-wrap {
    position: relative;
    z-index: 0;
    padding: 10px 20px;
    overflow: hidden;
    text-align: right;
    width: 22%;
}
.numItem.numItem-wrap>img.numItem-img {
    position:absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin:auto;
}
.numItem-div1 {
    color: #000;
}
.numItem-div1>b {
    font-size: 34px;
}
.numItem-div2 {
    color: #000;
    padding: 0 0 10px 0;
    font-width: 700;
}

.ratingNum-point {
    font-size: 17px;
}
#score-q2 {
    font-weight: 700;
    margin-top: 10px;
    font-size: 35px;
}

/*数据和文字的间隔控制*/
#monitorSize-q,
#alarmTotal-q,
#hundredsAlarmTotal-q,
#travelSpeed-q {
    padding: 0 15px;
}
.pad-q {
    padding: 0 15px;
}
.pad-q2 {
    padding: 0 5px;
}
#score-comment-statusq2 {
    padding: 0 5px;
}

#averageTravelTime-q,
#alarmRingRatio-q,
#hundredsAlarmRingRatio-q {
    padding: 0 0 0 15px;
}
.glyphicon-q:before {
    content: "";
    background-image: url(/clbs/resources/img/export.svg);
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: -13px;
    left: -14px;
    background-size: 14px 14px;
}

#travelSpeed-q {
    max-width: 300px;
    display: inline-block;
}

#Ul-menu-text {
    min-width: 200px;
}
#situationBox {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 175px);
}

#detailBox {
    position: absolute;
    top: 0;
}