.sidebar {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.content {
  height: calc(100vh - 80px);
  position: relative;
}

.left-part {
  position: absolute;
  width: 310px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.left-part.collapse {
  width: 0px;
}

.leftView {
  position: relative;
}

.disabledMark {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 48px;
  z-index: 99;
  cursor: not-allowed;
}

.right-part {
  position: absolute;
  left: 310px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.right-part.extend {
  left: 0px;
}

.page-heading {
  height: 38px;
  position: relative;
  border-bottom: 1px solid #eff2f7;
}

.page-title {
  font-weight: 700;
}

.jump-link {
  position: absolute;
  right: 5px;
  bottom: 2px;
  display: block;
  width: 41px;
  height: 32px;
  line-height: 20px;
  background: #6dcff6 !important;
  border-radius: 3px;
  padding-top: 5px;
  text-align: center;
}

.btnPaddingOnLine {
  padding: 0;
  color: #45a541
}

.btnPadding {
  padding: 0
}

.heartbeatArea {
  color: #fb8c96;
  padding: 0 13px 0 0
}

.onlineDrivingArea {
  color: #78af3a;
  padding: 0 13px 0 0
}

.onlineNotPositioningArea {
  color: #754801;
  padding: 0 13px 0 0
}

.warningArea {
  color: #ffab2d;
  padding: 0 13px 0 0
}

.speedLimitWarningArea {
  color: #960ba3;
  padding: 0 13px 0 0
}

.onlineParkingArea {
  color: #c80002;
  padding: 0 13px 0 0
}

.tree-container {
  height: calc(100vh - 400px);
  border-bottom: 1px solid #9ba0a2;
  overflow: auto;
}

/* 滚动槽 */
.tree-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.tree-container::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
.tree-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.small-window-container {
  border-top: 1px solid #ececec;
  padding: 8px;
}

.small-window-container::after {
  content: ' ';
  display: block;
  clear: both;
}

.small-window-number {
  border-radius: 3px;
}

.small-window-number-span,
.videoBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgb(142, 142, 142);
  color: white;
  text-align: center;
  padding-top: 3px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  vertical-align: middle;
}

.videoBtn[disabled]:hover {
  cursor: not-allowed;
}

.small-window-number-span.active,
.videoBtn.active {
  background-color: #38d1fa;
}

.small-window-number-span:hover,
.videoBtn:hover {
  background-color: #aaa;
}

.small-window-number-span.active:hover,
.videoBtn.active:hover {
  background-color: #38d1fa;
}

.small-window-number-span.map-icon {
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center center;
  background-image: url("/clbs/resources/img/map.svg");
  position: relative;
}

#videoToggleBtn {
  background: url(/clbs/resources/img/videoCarousel/playNext.svg) no-repeat;
  background-size: 100%;
}

#videoToggleBtn:not(:disabled):hover {
  background: url(/clbs/resources/img/videoCarousel/playNextActive.svg) no-repeat;
  background-size: 100%;
}

#videoLockBtn {
  background: url(/clbs/resources/img/videoCarousel/lock.svg) no-repeat;
  background-size: 100%;
}

#videoLockBtn.active {
  background: url(/clbs/resources/img/videoCarousel/lockActive.svg) no-repeat;
  background-size: 100%;
}

#videoSettingBtn {
  background: url(/clbs/resources/img/videoCarousel/videoDimming.svg) no-repeat;
  background-size: 100%;
}

#videoSettingBtn:not(:disabled):hover {
  background: url(/clbs/resources/img/videoCarousel/videodimmingActive.svg) no-repeat;
  background-size: 100%;
}

#videoFullScreenBtn {
  background: url(/clbs/resources/img/videoCarousel/fullScreen.svg) no-repeat;
  background-size: 100%;
}

#videoFullScreenBtn:not(:disabled):hover {
  background: url(/clbs/resources/img/videoCarousel/fullScreenActive.svg) no-repeat;
  background-size: 100%;
}

/* 视频画面控制 */
#videoScreenControl .nstSlider {
  background-color: #f7f7f7;
  box-shadow: 0px 1px 1px #999 inset;
  border: 1px solid #e6e6e6;
  width: 230px
}

#videoScreenControl .nstSlider .leftGrip {
  top: -1px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
  opacity: 0.8
}

#videoScreenControl .inp-brightness {
  height: 21px;
  padding: 0 11px;
  text-align: center;
  width: 60%
}

#videoScreenControl .form-group {
  margin-left: 0;
  margin-right: 0
}

#videoScreenControl .form-group .control-label {
  padding: 0px 0px 0px 0px
}

.carouselTimeBox {
  margin: 20px 0;
  padding: 0 8px;
}

.carouselTimeBox .col-md-9 {
  padding-right: 7px;
}

.carouselModelBox label {
  text-align: left !important;
  padding-left: 10px;
}

.carouselModelBox label input {
  margin-right: 0;
}

.map-setting-container {
  width: 400px;
  height: 30px;
  background-color: #888;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  border-radius: 3px;
  opacity: 0.5;
  display: none;
  transition: left 300ms cubic-bezier(0, 0, 0.76, 1.35), opacity 300ms ease-out;
  text-align: left;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 10px;
}

.map-setting-container.visible {
  left: 40px;
  opacity: 1;
  display: block;
}

.small-window-setting {
  width: 54px;
  float: left;
  /*background-color: #eee;*/
  border-radius: 3px;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 3px;
}

.multi-window-container {
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  border: 1px solid #9ba0a2;
  background-color: #e4e4e4;
}

.window {
  float: left;
  border: 1px solid #9ba0a2;
  box-sizing: border-box;
  position: relative;
  transition: width 150ms ease-out, height 150ms ease-out;
  overflow: hidden;
}

.window.focus {
  border-color: #f77b0a;
  box-shadow: 0px 0px 3px 2px #f77b0a;
  z-index: 444;
  /*border-left: 2px solid #e01919 !important;*/
  /*border-right: 2px solid #e01919 !important;*/
  /*border-top: 2px solid #e01919 !important;*/
  /*border-bottom: 2px solid #e01919 !important;*/
}

.window.full-screen {
  width: 100% !important;
  height: 100% !important;
}

.window.hidden {
  display: none;
}

.videoWindow-1 {
  width: 100%;
  height: 100%;
}

.videoWindow-2 {
  width: 50%;
  height: 100%;
}

.videoWindow-3 {
  width: 34%;
  height: 50%;
}

.videoWindow-3:nth-child(1) {
  width: 66%;
  height: 100%;
}

.videoWindow-4 {
  width: 50%;
  height: 50%;
}

.videoWindow-6 {
  width: 33%;
  height: 50%;
}

.videoWindow-6:nth-child(2+3n) {
  width: 34%;
  height: 50%;
}

.videoWindow-9 {
  width: 33%;
  height: 33%;
}

.videoWindow-9:nth-child(2+3n) {
  width: 34%;
  height: 33%;
}

.videoWindow-10 {
  width: 20%;
  height: 20%;
}

.videoWindow-10:nth-child(1) {
  width: 80%;
  height: 80%;
}

.videoWindow-10:nth-child(5) {
  width: 20%;
  height: calc(20% + 0.5px);
}

.videoWindow-16 {
  width: 25%;
  height: 25%;
}

.videoWindow-25 {
  width: 20%;
  height: 20%;
}

.videoWindow-36 {
  width: 17%;
  height: 17%;
}

.videoWindow-36:nth-child(6n),
.videoWindow-36:nth-child(6n+1) {
  width: 16%;
}

.videoWindow-36:nth-child(-n+6),
.videoWindow-36:nth-last-child(-n+6) {
  height: 16%;
}

.video-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-bag {
  width: 100%;
  height: 100%;
}

.video-bag video {
  object-fit: fill;
  background-image: url('/clbs/resources/img/realTimeVideo/video_logo2.png');
  background-repeat: no-repeat;
  background-position: center;
   background-size: 20%;
}

.empty-prompt {
  width: 100%;
  height: 100%;
  background-color: #e4e3e3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20% auto;
  background-image: url("/clbs/resources/img/default-location.svg");
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 333;
  display: none;
}

.window.disabled .empty-prompt {
  display: block;
}

.video-handle-container {
  margin-top: 6px;
  padding: 0 8px 0 10px;
}

#videoPlayBtn {
  width: 102px;
  padding: 5px 14px;
  box-sizing: border-box;
  vertical-align: -6px;
}

.status-box {
  /*height:60px;*/
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /*overflow: hidden;*/
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 200;
  transition: height 200ms ease-out;
}

.status-bag {
  height: 60px;
  font-size: 12px;
  line-height: 17px;
  padding-top: 5px;
  color: #333333;
}

.status-text {
  color: #616161;
  text-align: left;
  padding-left: 10px;
}

.status-signal {
  color: #616161;
  text-align: right;
  padding-right: 10px;
}

.status-arrow {
  background-position: center 20px;
  background-size: 14px auto;
  background-repeat: no-repeat;
  height: 12px;
  cursor: pointer;
  transition: background-position 200ms;
  background-image: url("/clbs/resources/img/up-arrow.png");
  width: 30px;
  position: absolute;
  top: 2px;
  left: calc(50% - 15px);
}

.status-box.open .status-arrow {
  background-position: center -20px;
  background-image: url("/clbs/resources/img/down-arrow.png");
}

.status-box:hover .status-arrow {
  background-position: center center;
}

.window.disabled .status-arrow {
  display: none;
}

.window-time-box,
.window-location-box {
  padding-left: 10px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.small-window-icon::before {
  left: 10px;
}

.ope-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

#canvasForVideo {
  display: none;
}

.playInfo {
  padding: 2px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, .3);
}

.ope-icon {
  display: none;
  width: 26px;
  height: 26px;
  margin: 2px 2px 0px 1px;
  float: right;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .6);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  cursor: pointer;
}

.window.disabled .ope-container {
  display: none;
}

.window:hover .ope-icon {
  display: block;
}

.snapshots-icon {
  background-image: url("/clbs/resources/img/videoCarousel/screen.svg");
}

.snapshots-icon:hover {
  background-image: url("/clbs/resources/img/videoCarousel/screenActive.svg");
}

.lock-icon {
  margin-right: 3px;
  background-image: url("/clbs/resources/img/videoCarousel/lock.svg");
}

.window.lock .lock-icon {
  display: block;
  background-image: url("/clbs/resources/img/videoCarousel/lockActive.svg");
}

.move-icon {
  background-image: url("/clbs/resources/img/move.svg");
}

#realSetMenu {
  top: 42px;
  left: auto;
  right: 0px;
  padding: 10px 6px;
}

#realSetMenu a {
  height: 30px;
  line-height: 24px;
  margin-bottom: 1px;
  padding-right: 6px;
  cursor: pointer;
}

#showName {
  margin-right: 10px;
  vertical-align: -1px;
}

#realSetMenu a label {
  display: block;
  cursor: pointer;
}

.vehicle.center_close,
.vehicle.bottom_close {
  background-position: -64px -108px !important;
  width: 14px !important;
}

.vehicle.center_open,
.vehicle.bottom_open {
  background-position: -53px -110px !important;
  width: 14px !important;
}

#treeDemo .thingSkin_ico_docu,
#treeDemo .peopleSkin_ico_docu,
#treeDemo .vehicleSkin_ico_docu,
#treeDemo .icon-offline_ico_close,
#treeDemo .icon-offline_ico_open,
#treeDemo .thingSkin_ico_close,
#treeDemo .ico_close,
#treeDemo .peopleSkin_ico_close,
#treeDemo .peopleSkin_ico_open,
#treeDemo .vehicleSkin_ico_close,
#treeDemo .vehicleSkin_ico_open,
#treeDemo .thingSkin_ico_open,
#treeDemo .vehicleSkin_ico_open,
#treeDemo .thingSkin_ico_open {
  background-image: url(/clbs/resources/img/offlineIcon_ico.svg) !important;
  width: 14px !important;
  height: 12px !important;
  background-size: 12px 12px;
  background-position: bottom;
  margin-right: 0;
  vertical-align: middle;
}

.thingSkin_ico_docu+span,
.peopleSkin_ico_docu+span,
.thingSkin_ico_close+span,
.vehicleSkin_ico_close+span,
.ico_close+span,
.peopleSkin_ico_close+span,
.vehicleSkin_ico_open+span,
.peopleSkin_ico_open+span,
.thingSkin_ico_open+span,
.icon-offline_ico_close+span,
.icon-offline_ico_open+span {
  color: #b6b6b6;
}

.icon-online_ico_close,
.icon-online_ico_open {
  background-position: -20px -109px;
  width: 14px !important;
}

.icon-online_ico_close+span,
.icon-online_ico_open+span {
  color: #333 !important;
}

.channelSkin_ico_docu {
  background-position: -22px -126px;
}

.channel-subscribe_ico_docu {
  background-position: -42px -126px;
}

.locate-container {
  position: absolute;
  right: 0px;
  top: -31px;
  z-index: 10;
}

.signal-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: 2px;
  /*padding:3px 6px 3px 4px;*/
}

.signal-container>div {
  display: none;
  margin: 3px;
}

.battery-box {
  background-image: url("/clbs/resources/img/electricQuantity.png");
  width: 30px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  float: left;
  padding: 2px 4px 2px 2px;
}

.battery-bag {
  height: 100%;
  width: 100%;
  background-color: #a2dd55;
}

.battery-text {
  color: #000;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 0px;
  right: 2px;
  top: 0px;
  bottom: 0px;
  transform: scale(0.8);
}

.satellite-box {
  background-image: url("/clbs/resources/img/satellite.svg");
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  position: relative;
  float: left;
  margin-left: 8px;
}

.satellite-text {
  color: #000;
  text-align: left;
  font-size: 12px;
  margin-left: 18px;
  transform: scale(0.8);
}

.wifi-box {
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  float: left;
  margin-left: 8px;
}

.wifi-box-1 {
  background-image: url("/clbs/resources/img/wifi1.png");
}

.wifi-box-2 {
  background-image: url("/clbs/resources/img/wifi2.png");
}

.wifi-box-3 {
  background-image: url("/clbs/resources/img/wifi3.png");
}

.wifi-box-4 {
  background-image: url("/clbs/resources/img/wifi4.png");
}

.wifi-box-5 {
  background-image: url("/clbs/resources/img/wifi5.png");
}

.gps-box {
  height: 16px;
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: left center;
  position: relative;
  float: left;
  margin-left: 8px;
}

.gps-box-1 {
  background-image: url("/clbs/resources/img/baseStation1.png");
}

.gps-box-2 {
  background-image: url("/clbs/resources/img/baseStation2.png");
}

.gps-box-3 {
  background-image: url("/clbs/resources/img/baseStation3.png");
}

.gps-box-4 {
  background-image: url("/clbs/resources/img/baseStation4.png");
}

.gps-box-5 {
  background-image: url("/clbs/resources/img/baseStation5.png");
}

.gps-text {
  color: #000;
  text-align: left;
  font-size: 12px;
  margin-left: 20px;
  transform: scale(0.8);
}

.sensor-box {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  height: 0px;
}

.status-box.open .sensor-box {
  height: auto;
}

/* 滚动槽 */
.sensor-box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sensor-box::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
.sensor-box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.sensor-bag {
  /*border-right:1px solid #c0c0c0;*/
  /*border-bottom:1px solid #c0c0c0;*/
  margin-left: -1px;
}

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-item {
  flex: 1;
  -prefix-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  min-width: 100px;
  height: 50px;
  float: left;
  border: 1px solid #c0c0c0;
  border-right: none;
  border-bottom: none;
  position: relative;
}

.sensor-value-line {
  height: 27px;
  text-align: center;
  color: #333333;
}

.io-item .sensor-value-line {
  padding-top: 5px;
}

.sensor-value {
  font-size: 20px;
}

.io-item .sensor-value {
  font-size: 14px;
}

.sensor-unit {
  font-style: italic;
  font-size: 12px;
}

.sensor-title {
  color: #616161;
  text-align: center;
}

.sensor-icon {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  display: inline-block;
}

.speed-icon {
  background-image: url("/clbs/resources/img/current-speed.png");
}

.mileage-icon {
  background-image: url("/clbs/resources/img/mileage.png");
}

.acc-icon {
  background-image: url("/clbs/resources/img/acc.png");
}

.oil-icon {
  background-image: url("/clbs/resources/img/oil.png");
}

.oilExpend-icon {
  background-image: url("/clbs/resources/img/oilExpend.png");
}

.temp-icon {
  background-image: url("/clbs/resources/img/temp.png");
}

.humi-icon {
  background-image: url("/clbs/resources/img/humi.png");
}

.workhour-icon {
  background-image: url("/clbs/resources/img/workhour.png");
}

.reverse-icon {
  background-image: url("/clbs/resources/img/reverse.png");
}

.weight-icon {
  background-image: url("/clbs/resources/img/weight.svg");
}

.tire-icon {
  background-image: url("/clbs/resources/img/tire.svg");
}

.io-icon {
  background-image: url("/clbs/resources/img/io.svg");
}

.sensor-title-text {
  font-size: 14px;
}

.sensor-number {
  color: #333333;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
}

.sensor-item-hidden {
  display: none;
}

.drag-placeholder {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("/clbs/resources/img/dragAndDrop.svg");
  opacity: 0.9;
  position: absolute;
  z-index: 99999;
  display: none;
}

.window .offlineIconArea {
  width: 16px;
  display: inline-block;
}

.input-label {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  font-weight: normal;
  margin-right: 8px;
}

.check-input,
.radio-input {
  display: none;
}

.check-active,
.radio-active {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #e5e5e5;
  background: #fff;
  overflow: hidden;
}

.radio-active {
  border-radius: 50%;
}

.radio-input:checked+.radio-active {
  border-color: #1890ff;
}

.radio-active::after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: table;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  border-top: 0;
  border-left: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
  content: ' ';
}

.radio-input:checked+.radio-active::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
  transition: all .3s cubic-bezier(.78, .14, .15, .86);
}

.check-active {
  border-radius: 2px;
  -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
  transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}

.check-active::after {
  position: absolute;
  top: 50%;
  left: 21%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
  -ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .1s cubic-bezier(.71, -0.46, .88, .6), opacity .1s;
  transition: all .1s cubic-bezier(.71, -0.46, .88, .6), opacity .1s;
  content: ' ';
}

.check-input:checked+.check-active {
  background: #1890ff;
  border-color: #1890ff;
  -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
  transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}

.check-input:checked+.check-active::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
  transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
  content: ' ';
}

.carNameShowRD {
  width: 100px;
  background-image: url(/clbs/resources/img/carNameShowRDL.svg);
}

/*.monitorNameBox {
  width: 64px;
}*/

/*用于实现IE网页全屏*/
.fullScreenBody #header {
  display: none;
}

.fullScreenBody div.content {
  height: 100vh;
}

.fullScreenBody .left-part {
  left: -310px;
}

.fullScreenBody .right-part {
  left: 0;
}